/* ====================================================== 
   <!-- 项目符号列表 bullet-list -->
/* ====================================================== */
/*
  * 1. 普通列表样式
  * 2. 普通数字有序列表
  * 3. 自定义圆形图标有序列表
  * 4. 大数字有序列表
  * 5. 按数字分步时间线
*/
ul,
ol {
    margin-bottom: 1.421875rem;
    list-style: none;
    > li {
        margin-bottom: 0;
        @include transition-default();
    }
}
.uix-list {
    &::after {
        display: block;
        clear: both;
        content: '';
    }
}
/*
 ---------------------------
 1. 普通列表样式
 ---------------------------
 */
ol.uix-list--normal,
ul.uix-list--normal,
.uix-list--normal ul,
.uix-list--normal ol {
    display: block;
    margin: 1.421875rem;
    padding-left: 0.875rem;
    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}
ul.uix-list--normal,
.uix-list--normal ul {
    list-style-type: disc;
}
ol.uix-list--normal,
.uix-list--normal ol {
    list-style-type: decimal;
}
/*-- 默认的Noemal列表效果--*/
/* 兼容 Uix 简码（WordPress 插件）和阻止按钮链接 */
.uix-list--normal a:not(.uix-sc-btn):not(.wp-block-button__link):not(.uix-btn) {
    color: $highlight-color1;
}
.uix-list--normal a:not(.uix-sc-btn):not(.wp-block-button__link):not(.uix-btn):hover {
    text-decoration: underline;
    color: $highlight-color2;
}
.uix-list--normal a:not(.uix-sc-btn):not(.wp-block-button__link):not(.uix-btn):hover img {
    text-decoration: none;
}
/*
 ---------------------------
 2. 普通数字有序列表
 ---------------------------
 */
ol.uix-list--numbered,
.uix-list--numbered ol {
    margin-left: 1rem;
    list-style: none;
    counter-reset: line;
    > li {
        position: relative;
        margin-bottom: .5rem;
        margin-left: .5rem;
    }
    > li::before {
        font-size: 0.75rem;
        line-height: 22px;
        position: absolute;
        left: -2.25em;
        display: inline-block;
        width: 22px;
        height: 22px;
        margin-right: 0.5em;
        content: '0' counter(line);
        counter-increment: line;
        text-align: center;
        color: #ffffff;
        border-radius: 50%;
        background-color: $highlight-color1;
    }
}
.uix-list--numbered.uix-list--numbered-1-digit > li::before {
    content: counter(line);
}
/* 
 ---------------------------
 3. 自定义圆形图标有序列表
 ---------------------------
 */
ol.uix-list--circle,
ul.uix-list--circle,
.uix-list--circle ol,
.uix-list--circle ul {
    margin-left: 1rem;
    list-style: none;
    counter-reset: line;
    > li {
        position: relative;
        margin-bottom: .5rem;
        margin-left: 1rem;
        color: $primary-text-color;
    }
    > li::before {
        position: absolute;
        top: 50%;
        left: -1.5em;
        display: inline-block;
        width: 10px;
        height: 10px;
        content: '';
        counter-increment: line;
        transform: translateY(-50%);
        text-align: center;
        color: #ffffff;
        border-radius: 50%;
        background-color: $highlight-color1;
    }
}
/*
 ---------------------------
 4. 大数字有序列表
 ---------------------------
 */
ol.uix-list--numbered-large,
.uix-list--numbered-large ol {
    list-style-type: none;
    /*删除原始编号*/
    counter-reset: item;
    /*如果全宽则删除*/
    text-align: justify;
    li {
        position: relative;
        display: block;
        min-height: 3.5rem;
        margin-left: 1.2rem;
        /*通用对齐方式*/
        padding-left: 2.5rem;
        list-style-position: outside;
        list-style-type: number;
        text-indent: 0;
        &::before {
            font-size: 3rem;
            line-height: 1;
            position: absolute;
            margin-left: -3.5rem;
            content: '0' counter(item) ".";
            counter-increment: item;
            color: $sub-text-color;
        }
    }
}
.uix-list--numbered-large.uix-list--numbered-1-digit li::before {
    content: counter(item) ".";
}
ol.uix-list--numbered-large.uix-list--numbered-bg,
.uix-list--numbered-large.uix-list--numbered-bg ol {
    li {
        min-height: 70px;
        margin-bottom: 1rem;
        margin-left: 0;
        padding-left: 4.5rem;
        border-radius: 50px;
        background: rgba(228, 225, 225, 1.00);
        p {
            line-height: 1.3;
            padding-top: 1.5rem;
            padding-right: 2rem;
        }
        &::before {
            font-size: 1.5rem;
            line-height: 50px;
            top: 50%;
            width: 50px;
            height: 50px;
            margin-left: -4rem;
            content: '0' counter(item);
            transform: translateY(-50%);
            text-align: center;
            color: #ffffff;
            border-radius: 50%;
            background: $highlight-color1;
        }
    }
}
.uix-list--numbered-large.uix-list--numbered-bg.uix-list--numbered-1-digit li::before {
    content: counter(item);
}
/* 
 ---------------------------
 5. 按数字分步时间线
 ---------------------------
 */
$step-line-color: #333333;
.uix-list--numbered-step {
    margin-left: 1rem;
    list-style-type: none;
    counter-reset: step;
    li {
        position: relative;
        min-height: 75px;
        padding: 0 0 1.5rem 3.75rem;
        border-left: 2px solid $step-line-color;
        &::before {
            font-size: 1rem;
            font-weight: 700;
            line-height: 48px;
            position: absolute;
            z-index: 2;
            top: 0;
            left: -26px;
            width: 50px;
            height: 50px;
            content: counters(step, ".") " ";
            counter-increment: step;
            text-align: center;
            color: #ffffff;
            border: 2px solid $step-line-color;
            border-radius: 50%;
            background-color: $highlight-color1;
        }
        &:last-child {
            border-left: none;
        }
        &:last-child::before {
            content: '\2713';
        }
    }
}
@media all and (max-width: 768px) {
    .uix-list--numbered-step {
        li {
            padding-left: 2.5rem;
        }
    }
}



