/* ================================================= ======
    <!-- 页脚 -->
/* ================================================= ====== */
.uix-footer__container {
    font-size: 0.75rem;
    padding: $spacing-small 0;
}
/* ul li ul li -> 全部在一行 */
.uix-footer__menu,
.uix-footer__menu ul,
.uix-footer__menu li {
    position: relative;
    display: inline;
}
.uix-footer__menu li {
    a {
        padding: 0 0.4375rem;
        border-right: 1px solid #e1e1e1;
    }
    &:last-child a {
        border: none;
    }
}
@media all and (max-width: 768px) {
    .uix-footer__container {
        .uix-f-l,
        .uix-f-r {
            float: none !important;
        }
    }
}
