/* ================================================= ======
    <!-- 标题区 -->
/* ================================================= ====== */
/*
  * 1. 默认
  * 2. 主题 - 白色
*/
/*
 ---------------------------
 1. 默认
 ---------------------------
 */
/* 不要使用“margin”或“padding”来设置“.uix-header__container” */
.uix-header__container {
    position: fixed;
    z-index: 90000;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2.15px solid rgba(255, 255, 255, .2);
    background-color: $highlight-color1;
    background-image: linear-gradient(to right, $btn-gradient-color1 0%, $btn-gradient-color2 20%, $btn-gradient-color3 100%);
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.08);
    &.is-fixed {
    }
    /*
     ---------------------------
     2. 主题 - 白色
     ---------------------------
     */
    &.uix-header__container--overlay {
        background: rgba(255, 255, 255, 0.15);
        background: linear-gradient(to right, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
        &.is-fixed {
            background-color: $highlight-color1;
            background-image: linear-gradient(to right, $btn-gradient-color1 0%, $btn-gradient-color2 20%, $btn-gradient-color3 100%);
        }
    }
}
/* 使用 WordPress 查看网站时显示工具栏 */
.admin-bar .uix-header__container {
    top: 32px;
}
/* 管理栏在使用 WordPress 的小型设备上变得更高 */
@media all and (max-width: 782px) {
    .admin-bar .uix-header__container {
        top: 0;
    }
}
/* 不要使用“margin”或“padding”来设置“.uix-header” */
.uix-header {
    /* IE 的浮动层保护 */
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    .uix-menu__right-box {
        float: right;
    }
}
/* 标题占位符，防止浮动元素影响布局 */
.uix-header__placeholder {
    display: block;
    visibility: hidden;
    width: 100%;
    height: 75px;
    background: none;
    &.is-fixed {
    }
}
@media all and (max-width: 768px) {
    .uix-header__container {
        position: relative;
        &.uix-header__container--overlay {
            position: relative;
            background-color: $highlight-color1;
            background-image: linear-gradient(to right, $btn-gradient-color1 0%, $btn-gradient-color2 20%, $btn-gradient-color3 100%);
        }
    }
    /* 标题占位符，防止浮动元素影响布局 */
    .uix-header__placeholder {
        height: 0;
    }
}
