/* ================================================= ======
    <!-- 加载器 -->
/* ================================================= ====== */
.uix-loader-progress {
    font-size: 0.75rem;
    transform: translate(10px, -10px);
    text-align: center;
}
.uix-loader-progress__line {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    user-select: none;
    pointer-events: none;
    background-color: #ffffff;
    box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.3);
    -webkit-touch-callout: none;
}
.uix-loader,
.uix-loader-progress {
    position: fixed;
    z-index: 99999;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    /* 未来可能 */
    user-select: none;
    pointer-events: none;
    background-color: transparent;
    -webkit-touch-callout: none;
    svg {
        width: 65px;
        height: 65px;
        path {
            fill: $highlight-color1;
        }
    }
    span {
        font-family: Arial, sans-serif;
        position: fixed;
        z-index: 100000;
        bottom: 10px;
        left: 10px;
    }
    .uix-loader__spinner {
        animation: uix-cssAnim--rotate .5s linear infinite;
        path {
            animation: uix-cssAnim--dash 1.5s ease-in-out infinite;
            /* 1%, 101% 周长 */
            stroke-dasharray: 1, 150;
            stroke-dashoffset: 0;
            stroke: $highlight-color1;
            stroke-linecap: round;
        }
    }
}
@keyframes uix-cssAnim--rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes uix-cssAnim--dash {
    0% {
        stroke-dasharray: 1, 150;
        /* 1%, 101% 周长 */
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        /* 70%, 101% 周长 */
        stroke-dashoffset: -35;
        /* 25% 周长 */
    }
    100% {
        stroke-dasharray: 90, 150;
        /* 70%, 101% 周长 */
        stroke-dashoffset: -124;
        /* -99% 周长 */
    }
}


