/* ====================================================== 
   <!-- Navigation -->                                    
/* ====================================================== */
/*
 * 1. Primary Menu
 * 2. Sub Menu (Using WordPress default class name )
 * 3. Mega/Dropdown Menu 
 * 4. Dropdown Arrow
*/
$nav-font-size: 0.75rem;
$nav-sub-w: 220px;
$nav-mega-li-w: 270px;
.uix-menu__container:not(.is-mobile) {
    float: right;
    padding-top: 1.25rem;
    /*
    Do not use `position:relative`, it may cause the width calculation script
    matching problem of the mega menu
    */
    &.is-fixed {
        padding-bottom: 0;
    }
    /*
     ---------------------------
     1. Primary Menu
     ---------------------------
     */
    ul.uix-menu {
        font-size: $nav-font-size;
        font-size: 0; /*Fighting the Space Between Inline Block Elements*/
        line-height: 2.34375;
        float: left;
        margin: 0; /* Required*/
        li {
            position: relative;
            margin-bottom: 0;
            padding: 0 1.159375rem;
            a {
                display: block;
                padding-left: 0.625rem;
            }
        }
        > li {
            font-size: $nav-font-size; /*Fighting the Space Between Inline Block Elements*/
            display: inline-block;
            margin-right: 1.6875rem;
            padding-bottom: 1.421875rem;
            white-space: nowrap; /* Required*/
            .uix-bubble {
                right: 1rem;
            }
            /* Sync to WordPress activation class name ".current-menu-item" */
            &.is-active,
            &.current-menu-item {
                box-shadow: 0 2.15px 0 rgba(255, 255, 255, 1);
            }
            > a {
                font-weight: 700;
                text-transform: uppercase;
                color: #dedede;
                &:hover {
                    color: #ffffff;
                }
            }
            ul {
                position: absolute;
                display: none;
                min-width: $nav-sub-w;
                padding-bottom: 0.525rem;
                li {
                    padding-left: 1.25rem;
                }
            }
            > ul {
                padding-top: 2.625rem;
                opacity: 0;
                &::before {
                    @include outer-shadow('regular');
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    margin-top: 0.75rem;
                    content: '';
                    border: 1.15px solid rgba($primary-text-color, .1);
                    border-radius: 8px;
                    background: #ffffff;
                }
            }
        }
        /*
         ---------------------------
         2. Sub Menu (Using WordPress default class name )
         ---------------------------
         */
        ul.sub-menu {
            top: 100%;
            left: 0;
            a {
                line-height: 1.4;
                padding: 0.35rem 0;
                /* Required*/
                white-space: normal;
                word-wrap: break-word;
                &:hover {
                    color: #000000;
                    background: #f1f1f1;
                }
            }
        }
        > li:not(.multi-column) > ul {
            left: 1.784375rem;
            /* arrow of sub menu, not mega menu */
            &::after {
                position: absolute;
                top: 5px;
                left: 15px;
                display: block;
                width: 0;
                height: 0;
                content: "";
                border-right: 8px solid transparent;
                border-bottom: 8px solid #ffffff;
                border-left: 8px solid transparent;
            }
            ul {
                top: 0;
                left: 100%;
                margin-left: -0.071875rem;
                padding: 1.421875rem 0;
                @include outer-shadow('regular');
                border: 1.15px solid rgba($primary-text-color, .1);
                border-radius: 8px;
                background: #ffffff;
                ul {
                    margin-left: 0;
                }
            }
        }
    }
    /*
     ---------------------------
     3. Mega/Dropdown Menu
     ---------------------------
     */
    /* Multi-column */
    li.multi-column {
        span.multi-column-title {
            font-weight: 700;
            display: inline-block;
            padding-left: 1.159375rem;
            cursor: default;
            text-transform: uppercase;
            color: #b9b9b9;
        }
        > ul {
            display: none;
            width: auto;
            max-height: calc(100vh - 50px);
            padding: 0;
            /* add scrollbar to per column */
            white-space: nowrap;
            li {
                display: inline-block;
                overflow: hidden;
                overflow-y: auto;
                width: $nav-mega-li-w; /* Required, JS script needs to listen on it for calculation */
                max-height: calc(100vh - 50px - 100px);
                /* add scrollbar to per column */
                padding-left: 0.75rem;
                vertical-align: top;
                &::-webkit-scrollbar-track {
                    border-radius: 0px;
                    background-color: #ffffff;
                }
                &::-webkit-scrollbar {
                    width: 3px;
                    transform: scaleY(0.8);
                    background-color: #fafafa;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 0px;
                    background-color: #fafafa;
                }
                .uix-bubble {
                    right: 1.2rem;
                }
                a {
                    &:hover {
                        color: #000000;
                        background: #f1f1f1;
                    }
                }
                ul {
                    position: relative;
                    margin-top: 0 !important;
                    /* Prevent JS script from disturbing */
                    box-shadow: none;
                }
            }
            ul {
                display: block;
                li {
                    display: block;
                    float: none;
                }
            }
        }
        .uix-menu__arrow-mega {
            position: absolute;
            z-index: 1;
            top: 56px;
            left: 50%;
            display: none;
            width: 0;
            height: 0;
            content: '';
            opacity: 0;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #ffffff;
            border-left: 8px solid transparent;
        }
    }
    ul.uix-menu ul.sub-menu .uix-menu__arrow {
        right: 2.159375rem;
        margin-top: 0.3125rem;
        background-color: #000000;
    }
    li.multi-column > ul li .uix-menu__arrow {
        display: none;
    }
    /*
     ---------------------------
     4. Dropdown Arrow
     ---------------------------
     */
    .uix-menu__arrow {
        position: absolute;
        top: 25%;
        right: 0.284375rem;
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 100%;
        background-color: #ffffff;
    }
}
@media all and (max-width: 1250px) {
    .uix-menu__container:not(.is-mobile) {
        ul.uix-menu {
            > li {
                margin-right: 1.125rem;
                padding-right: 0.875rem;
                padding-left: 0.875rem;
            }
        }
    }
}
@media all and (max-width: 768px) {
    .uix-menu__container:not(.is-mobile) {
        display: none;
    }
}

