/* ================================================= ======
    <!-- 导航 navs -->
/* ================================================= ====== */
/*
  * 1. 基地导航
  * 2.线路导航
  * 3. 分隔线导航
  * 4. 下拉菜单
  * 5. 响应式下拉导航
*/
.uix-nav {
    &::before {
        line-height: 0;
        display: table;
        content: "";
    }
    &::after {
        line-height: 0;
        display: table;
        clear: both;
        content: "";
    }
    /*
     ---------------------------
     1. 基础导航
     ---------------------------
     */
    ul {
        font-size: 0; /* 争夺内联块元素之间的空间 */
        margin: 0;
        li {
            font-size: 0.875rem; /* 争夺内联块元素之间的空间 */
            position: relative;
            display: inline-block;
            margin: 0 1rem 0 0;
            padding: 0;
            a {
                display: block;
                padding: .3rem 1.5rem;
                border: #e8e8e8 1px solid;
                border-radius: 3px;
                &:hover {
                    color: #232323;
                }
            }
            &.is-active,
                /* 与 WordPress 兼容 */
            &.current-cat {
                a {
                    color: $highlight-color1;
                    border-color: $highlight-color1;
                }
            }
        }
    }
    &.uix-t-r {
        ul {
            li {
                margin: 0 0 0 1rem;
            }
        }
    }
    /*
     ---------------------------
     2. 路线导航
     ---------------------------
     */
    &.uix-nav--line {
        ul {
            li {
                font-size: 1.25rem; /* 争夺内联块元素之间的空间 */
                margin: 0;
                padding: 1rem 2.5rem;
                a {
                    padding: 0;
                    border: none;
                }
                &.is-active,
                    /* 与 WordPress 兼容 */
                &.current-cat {
                    box-shadow: 0 3px 0 0 $highlight-color1;
                }
            }
        }
    }
    /*
     ---------------------------
     3. 分隔线导航
     ---------------------------
     */
    &.uix-nav--separation {
        ul {
            li {
                margin: 0;
                padding: 0;
                &::before {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    content: '/';
                    transform: translateY(-50%);
                    opacity: .3;
                }
                &:first-child {
                    &::before {
                        display: none;
                    }
                }
                a {
                    padding: .5rem 1.5rem;
                    border: none;
                }
                &.is-active,
                    /* 与 WordPress 兼容 */
                &.current-cat {
                }
            }
        }
    }
    /*
     ---------------------------
     4. 下拉菜单
     ---------------------------
     */
    ul {
        li {
            /*-- 展开 --*/
            ul {
                position: absolute;
                z-index: 1;
                top: 100%;
                left: 0;
                overflow: hidden;
                width: 200px;
                max-height: 0;
                transition: all 0.3s ease;
                transform: perspective(400) rotate3d(1, 0, 0, -90deg);
                transform-origin: 50% 0;
                border-radius: 8px;
                background: #ffffff;
                @include outer-shadow('thick');
                li,
                a {
                    margin: 0;
                    padding: 0;
                    border: none;
                    box-shadow: none;
                }
                li {
                    display: block;
                    padding: .3rem 1rem;
                    &::before {
                        display: none;
                    }
                    &:first-child {
                        margin-top: .5rem;
                    }
                    &:last-child {
                        margin-bottom: .5rem;
                    }
                }
            }
            &:hover ul {
                max-height: 1000px;
                transform: perspective(400) rotate3d(0, 0, 0, 0);
            }
        }
    }
    /*
     ---------------------------
     5. 响应式下拉导航
     ---------------------------
     */
    &.uix-nav--dropdown-mobile {
        .uix-nav--dropdown-mobile__togglelabel {
            display: none;
            & ~ input {
                display: none;
            }
        }
    }
}
@media all and (max-width: 768px) {
    .uix-nav {
        /*
         ---------------------------
         5. 响应式下拉导航
         ---------------------------
         */
        &.uix-nav--dropdown-mobile {
            .uix-nav--dropdown-mobile__togglelabel {
                display: block;
                cursor: pointer;
                user-select: none;
            }
            > ul {
                @include outer-shadow('thick');
                margin-top: -0.203125rem;
            }
            /* 将其包装在媒体查询中以防止在更改屏幕大小和检查输入时失败 */
            > :checked ~ ul {
                display: none;
            }
            li {
                display: block;
                width: 100%;
                padding: .2rem 0;
                text-align: left;
                border-bottom: 1px solid rgba(0, 0, 0, .1);
                &::before {
                    display: none;
                }
                &:not(:last-child) {
                    margin-right: 0;
                    &::after {
                        margin-left: 0;
                        content: '';
                    }
                }
                a {
                    position: relative;
                    display: block;
                    padding: .5rem 1.5rem;
                    border: none;
                    &::after {
                        font-family: 'Font Awesome 5 Free';
                        font-size: 1rem;
                        font-weight: 600;
                        position: absolute;
                        top: 50%;
                        right: .5rem;
                        float: right;
                        content: "\f105";
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}