/* ================================================= ======
    <!-- 分页 pagination -->
/* ================================================= ====== */
/*
  * 1. 默认
  * 2. 为 WordPress 帖子分页
*/
/*
  --------------------------
  1. 默认
  --------------------------
  */
.uix-pagination__container {
    margin-top: 2.84375rem;
    &::before {
        line-height: 0;
        display: table;
        content: "";
    }
    &::after {
        line-height: 0;
        display: table;
        clear: both;
        content: "";
    }
    ul {
        font-size: 0; /* 争夺内联块元素之间的空间 */
        li {
            font-size: 1rem; /* 争夺内联块元素之间的空间 */
            display: inline-block;
            a,
            > span {
                font-size: 0.875rem;
                line-height: 3.25;
                display: inline-block;
                width: 3.125rem;
                height: 3.125rem;
                margin-top: 0;
                margin-bottom: 2.06818181818rem;
                padding-top: 0.25rem;
                text-align: center;
                /* 连字和上下文形式是组合字形以产生更协调的形式的方式 */
                color: $primary-text-color;
                border: none;
                border-radius: 4px;
                background: none;
                font-variant-ligatures: common-ligatures;
            }
            a:hover {
                color: #232323;
                background: #efefef;
            }
            &.is-active {
                a {
                    font-style: italic;
                    color: #989898;
                    &:hover {
                        color: #232323;
                        background: #e7e7e7;
                    }
                }
                > span {
                    font-style: italic;
                    color: #ffffff;
                    border-color: $btn-gradient-color1;
                    @include outer-shadow('highlight', $highlight-color1);
                    background-color: $btn-gradient-color1;
                    background-image: linear-gradient(to right, $btn-gradient-color1 0%, $btn-gradient-color2 20%, $btn-gradient-color3 100%);
                }
            }
        }
    }
}
/*
  --------------------------
  2. 为 WordPress 帖子分页
  --------------------------
  */
.uix-page-links {
    font-weight: 600;
    line-height: 1.25;
    position: relative;
    display: block;
    margin: 0.875rem 0 0.875rem -1px;
    padding: 0.5rem 0.75rem;
    border: 1px solid #dee2e6;
    > span {
        font-weight: normal;
        font-style: italic;
        display: inline-block;
        margin: 0 0.13125rem;
    }
    a {
        font-weight: normal;
        font-style: italic;
        display: inline-block;
        margin: 0 0.13125rem;
        > span {
            padding: 0 0.2625rem;
            color: $primary-text-color;
            border: 1px solid #dddddd;
            border-radius: 2px;
            background: #f9f9f9;
        }
    }
}
