/* ================================================= ======
    <!-- 社交媒体图标 social-meida-icons -->
/* ================================================= ====== */
/*
  * 1. 社交媒体按钮
  * 2. 社交媒体背景
*/
/*
  --------------------------
  1. 社交按钮
  --------------------------
  */
.uix-social-btn {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    color: $primary-text-color;
    border: 2px solid $primary-text-color;
    &.is-fill-white {
        color: $primary-text-color;
        background: #ffffff;
    }
    &.uix-social-btn--no-border {
        border-color: transparent !important;
    }
    &.uix-social-btn--thin {
        border-width: 1px;
    }
    &.uix-social-btn--circle {
        border-radius: 50%;
        &::after {
            border-radius: 50%;
        }
    }
    &.uix-social-btn--rounded {
        border-radius: 4px;
        &::after {
            border-radius: 4px;
        }
    }
    &.uix-social-btn--small {
        line-height: 1.875rem;
        width: 2rem;
        height: 2rem;
        margin-right: .5rem;
        i {
            font-size: 1rem;
        }
    }
    &.uix-social-btn--medium {
        line-height: 2.875rem;
        width: 2.875rem;
        height: 2.875rem;
        margin-right: .75rem;
        i {
            font-size: 1.2rem;
        }
    }
    &.uix-social-btn--large {
        line-height: 3.75rem;
        width: 3.75rem;
        height: 3.75rem;
        margin-right: 1rem;
        i {
            font-size: 1.5rem;
        }
    }
    &::after {
        @include transition-default();
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        display: block;
        visibility: hidden;
        width: 100%;
        height: 100%;
        content: '';
        transform: scale(0.5, 0.5);
        opacity: 0;
        background-color: $primary-text-color;
    }
    &:hover {
        i {
            color: #ffffff;
        }
        &::after {
            visibility: visible;
            transform: scale(1, 1);
            opacity: 1;
        }
    }
    /* white style */
    &.uix-social-btn--white {
        color: #ffffff;
        border-color: #ffffff;
        &:hover {
            i {
                color: $primary-text-color;
            }
            &::after {
                background-color: #ffffff;
            }
        }
    }
}
/*
 ---------------------------
 2. 社交媒体背景
 ---------------------------
 */
.uix-social-bg {
    color: #ffffff !important;
}
.uix-social-bg--twitter {
    border-color: #53b9fd !important;
    background-color: #53b9fd !important;
}
.uix-social-bg--facebook {
    border-color: #78a4dd !important;
    background-color: #78a4dd !important;
}
.uix-social-bg--google {
    border-color: #fc5b5b !important;
    background-color: #fc5b5b !important;
}
.uix-social-bg--instagram {
    border-color: #6156c7 !important;
    background-color: #6156c7 !important;
}
.uix-social-bg--lastfm {
    border-color: #b90000 !important;
    background-color: #b90000 !important;
}
.uix-social-bg--youtube {
    border-color: #cc181e !important;
    background-color: #cc181e !important;
}
.uix-social-bg--vimeo {
    border-color: #1ab7ea !important;
    background-color: #1ab7ea !important;
}
.uix-social-bg--dribbble {
    border-color: #fa8bbc !important;
    background-color: #fa8bbc !important;
}
.uix-social-bg--github {
    border-color: #652f51 !important;
    background-color: #652f51 !important;
}
.uix-social-bg--flickr {
    border-color: #fc4ca4 !important;
    background-color: #fc4ca4 !important;
}
.uix-social-bg--medium {
    border-color: #00ab6b !important;
    background-color: #00ab6b !important;
}
.uix-social-bg--codepen {
    border-color: #333333 !important;
    background-color: #333333 !important;
}
.uix-social-bg--behance {
    border-color: #4f8fd6 !important;
    background-color: #4f8fd6 !important;
}
.uix-social-bg--dropbox {
    border-color: #349be9 !important;
    background-color: #349be9 !important;
}
.uix-social-bg--pinterest {
    border-color: #f35359 !important;
    background-color: #f35359 !important;
}
.uix-social-bg--reddit {
    border-color: #ff4500 !important;
    background-color: #ff4500 !important;
}
.uix-social-bg--soundcloud {
    border-color: #ff7500 !important;
    background-color: #ff7500 !important;
}
.uix-social-bg--producthunt {
    border-color: #da552f !important;
    background-color: #da552f !important;
}
.uix-social-bg--weibo {
    border-color: #e6162d !important;
    background-color: #e6162d !important;
}
.uix-social-bg--deviantart {
    border-color: #05cc47 !important;
    background-color: #05cc47 !important;
}
.uix-social-bg--spotify {
    border-color: #a5ce3f !important;
    background-color: #a5ce3f !important;
}
.uix-social-bg--wordpress {
    border-color: #24a5dd !important;
    background-color: #24a5dd !important;
}
.uix-social-bg--digg {
    border-color: #333333 !important;
    background-color: #333333 !important;
}
.uix-social-bg--tumblr {
    border-color: #529ecc !important;
    background-color: #529ecc !important;
}
.uix-social-bg--linkedin {
    border-color: #24a5dd !important;
    background-color: #24a5dd !important;
}
.uix-social-bg--stackoverflow {
    border-color: #ff7500 !important;
    background-color: #ff7500 !important;
}
.uix-social-bg--weixin {
    border-color: #50b674 !important;
    background-color: #50b674 !important;
}
.uix-social-bg--qq {
    border-color: #30a5dd !important;
    background-color: #30a5dd !important;
}
.uix-social-bg--colourful {
    display: inline-block !important;
    margin: .2em .5em !important;
}
.uix-social-bg--colourful {
    color: #333333 !important;
}
.uix-social-bg--colourful[href*="twitter.com"] {
    color: #53b9fd !important;
}
.uix-social-bg--colourful[href*="facebook.com"] {
    color: #78a4dd !important;
}
.uix-social-bg--colourful[href*="google.com"] {
    color: #fc5b5b !important;
}
.uix-social-bg--colourful[href*="instagram.com"] {
    color: #6156c7 !important;
}
.uix-social-bg--colourful[href*="last.fm"] {
    color: #b90000 !important;
}
.uix-social-bg--colourful[href*="youtube.com"] {
    color: #cc181e !important;
}
.uix-social-bg--colourful[href*="vimeo.com"] {
    color: #1ab7ea !important;
}
.uix-social-bg--colourful[href*="dribbble.com"] {
    color: #fa8bbc !important;
}
.uix-social-bg--colourful[href*="github.com"] {
    color: #652f51 !important;
}
.uix-social-bg--colourful[href*="flickr.com"] {
    color: #fc4ca4 !important;
}
.uix-social-bg--colourful[href*="medium.com"] {
    color: #00ab6b !important;
}
.uix-social-bg--colourful[href*="codepen.com"] {
    color: #333333 !important;
}
.uix-social-bg--colourful[href*="behance.net"] {
    color: #4f8fd6 !important;
}
.uix-social-bg--colourful[href*="dropbox.com"] {
    color: #349be9 !important;
}
.uix-social-bg--colourful[href*="pinterest.com"] {
    color: #f35359 !important;
}
.uix-social-bg--colourful[href*="reddit.com"] {
    color: #ff4500 !important;
}
.uix-social-bg--colourful[href*="soundcloud.com"] {
    color: #ff7500 !important;
}
.uix-social-bg--colourful[href*="producthunt.com"] {
    color: #da552f !important;
}
.uix-social-bg--colourful[href*="weibo.com"] {
    color: #e6162d !important;
}
.uix-social-bg--colourful[href*="deviantart.com"] {
    color: #05cc47 !important;
}
.uix-social-bg--colourful[href*="spotify.com"] {
    color: #a5ce3f !important;
}
.uix-social-bg--colourful[href*="wordpress.com"] {
    color: #24a5dd !important;
}
.uix-social-bg--colourful[href*="mailto"] {
    color: #333333 !important;
}
.uix-social-bg--colourful[href*="digg.com"] {
    color: #333333 !important;
}
.uix-social-bg--colourful[href*="tumblr.com"] {
    color: #529ecc !important;
}
.uix-social-bg--colourful[href*="linkedin.com"] {
    color: #24a5dd !important;
}
.uix-social-bg--colourful[href*="stackoverflow.com"] {
    color: #ff7500 !important;
}
.uix-social-bg--colourful[href*="rss"],
.uix-social-bg--colourful[href*="feed"] {
    color: #ff7500 !important;
}



