/* ====================================================== 
   <!-- Tags -->      
/* ====================================================== */
.uix-tags-box {
    &::before {
        display: block;
        clear: both;
        content: '';
    }
    > a {
        font-size: 0.875rem;
        display: inline-block;
        margin-bottom: 0.175rem;
        padding: 0.04375rem 0.109375rem;
        &::after {
            display: inline-block;
            margin-left: 0.546875rem;
            content: '/';
            opacity: 0.5;
        }
        &:last-child:after {
            display: none;
        }
    }
    &.uix-tags-box--has-border > a {
        border: 1px solid #e6e6e6;
    }
}