/* ====================================================== 
   <!-- Video -->
/* ====================================================== */
/* Embedded directly in the webpage or embedded via a slider */
.uix-video,
.uix-video__slider {
    visibility: hidden;
}
/* Display cover and play buttons when some mobile device browsers cannot automatically play video */
.uix-video__cover {
    .uix-video__cover__placeholder {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-attachment: scroll;
        @include background-cover();
    }
    .uix-video__cover__playbtn {
        line-height: 64px;
        position: absolute;
        z-index: 11;
        top: 50%;
        left: 50%;
        display: none;
        width: 64px;
        height: 64px;
        margin-top: -32px;
        margin-left: -32px;
        border: 3px solid #ffffff;
        border-radius: 50%;
        text-shadow: 1px 0 3px rgba(0, 0, 0, .3);
        &::before {
            font-family: 'Font Awesome 5 Free';
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1;
            display: inline-block;
            margin: 15px;
            margin-left: 1.3rem;
            content: "\f04b";
            cursor: pointer;
            color: #ffffff;
        }
    }
}
.uix-video__slider {
    visibility: visible;
}
/* Video play button */
.uix-video__btn-play {
    font-size: 3rem;
    line-height: 44px;
    position: absolute;
    z-index: 11;
    top: 50%;
    left: 50%;
    display: none;
    width: 44px;
    height: 44px;
    margin-top: -22px;
    margin-left: -22px;
    text-shadow: 1px 0 3px rgba(0, 0, 0, .3);
    &::before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 600;
        display: inline-block;
        content: "\f021";
        cursor: pointer;
        color: #ffffff;
    }
}
[data-video-iframe] {
    display: none;
}
/* External container for video background. */
.uix-video__container-bg {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
@media all and (max-width: 768px) {
    .uix-video__container-bg {
        height: auto;
    }
}
/* Override the default button for videojs */
.video-js .vjs-big-play-button {
    line-height: 64px;
    position: absolute;
    z-index: 11;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    text-shadow: 1px 0 3px rgba(0, 0, 0, .3);
    &::before {
        font-family: 'Font Awesome 5 Free';
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1;
        display: inline-block;
        margin: 15px;
        margin-left: 1.3rem;
        content: "\f04b";
        cursor: pointer;
        transform: translateY(-3px);
        color: #ffffff;
    }
    .vjs-icon-placeholder,
    .vjs-control-text {
        display: none;
    }
}
