/* ======================================================
   <!-- Floating Side Element -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
.uix-floating-side-el {
    position: absolute;
    z-index: 25;
    top: 50%;
    right: 20px;
    width: 138px;
    height: 428px;
    transform: translateY(-50%);
    @include bg-gradient('to bottom');
    @include outer-shadow('regular');
    a {
        font-size: 0.875rem;
        display: block;
        width: 75px;
        margin-left: 30px;
        padding-top: .5rem;
        padding-bottom: .5rem;
        text-align: center;
        color: #ffffff;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        &:last-child {
            border-bottom: none;
        }
        &:hover {
            transform: scale(1.1);
        }
        &:first-child {
            margin-top: 50px;
        }
        span {
            display: block;
            i {
                font-size: 30px;
                color: #ffffff;
            }
        }
    }
}
