/* ======================================================
   <!-- ToolTip -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
/*
 * 1. Base Styles
 * 2. Position Modifiers - Top
 * 3. Position Modifiers - Top Left
 * 4. Position Modifiers - Top Right
 * 5. Position Modifiers - Bottom
 * 6. Position Modifiers - Bottom Left
 * 7. Position Modifiers - Bottom Right
 * 8. Position Modifiers - Left
 * 9. Position Modifiers - Right
 * 10. Size
*/
.uix-tooltip {
    position: relative;
    display: inline-block;
    [role~="tooltip"]::before,
    > div {
        position: absolute;
        z-index: 10;
        box-sizing: border-box;
        transform: translate3d(0, 0, 0);
        transform-origin: top;
        pointer-events: none;
        opacity: 0;
        backface-visibility: hidden;
        will-change: transform;
        @include outer-shadow('regular');
        @include transition-default();
    }
    /*
    ---------------------------
    1. Base Styles
    ---------------------------
    */
    > div {
        font-size: 0.8125rem;
        font-weight: normal;
        line-height: 1.5;
        box-sizing: content-box;
        padding: .5em 1em;
        content: attr(aria-label);
        white-space: nowrap;
        text-transform: none;
        color: #ffffff;
        border-radius: 4px;
        background: rgba(17, 17, 17, 0.9);
        img {
            height: auto !important;
            margin: .5rem 0;
        }
    }
    [role~="tooltip"] {
        position: relative;
        &::before {
            content: "";
            background-size: 100% auto !important;
        }
        &:hover {
            &::before,
            ~ div {
                pointer-events: auto;
                opacity: 1;
            }
        }
        &:focus {
            &::before,
            ~ div {
                pointer-events: auto;
                opacity: 1;
            }
        }
    }
    [role~="tooltip"] {
        /*
        ---------------------------
        2. Position Modifiers - Top
        ---------------------------
        */
        &[data-microtip-position|="top"] {
            &::before {
                width: 18px;
                height: 6px;
                margin-bottom: 5px;
                background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%280%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;
            }
            ~ div {
                margin-bottom: 6px;
            }
            &::before {
                bottom: 100%;
                left: 50%;
                transform: translate3d(-50%, 0, 0);
            }
            &:hover::before {
                transform: translate3d(-50%, -5px, 0);
            }
            ~ div {
                bottom: 100%;
                left: 50%;
                transform: translate3d(-50%, 0, 0);
            }
        }
        &[data-microtip-position="top"]:hover ~ div {
            transform: translate3d(-50%, -5px, 0);
        }
        /*
        ---------------------------
        3. Position Modifiers - Top Left
        ---------------------------
        */
        &[data-microtip-position="top-left"] {
            ~ div {
                bottom: 100%;
                transform: translate3d(calc(-100% + 16px), 0, 0);
            }
            &:hover ~ div {
                transform: translate3d(calc(-100% + 16px), -5px, 0);
            }
        }
        /*
        ---------------------------
        4. Position Modifiers - Top Right
        ---------------------------
        */
        &[data-microtip-position="top-right"] {
            ~ div {
                bottom: 100%;
                transform: translate3d(calc(0% + -16px), 0, 0);
            }
            &:hover ~ div {
                transform: translate3d(calc(0% + -16px), -5px, 0);
            }
        }
        /*
        ---------------------------
        5. Position Modifiers - Bottom
        ---------------------------
        */
        &[data-microtip-position|="bottom"] {
            &::before {
                width: 18px;
                height: 6px;
                margin-top: 5px;
                margin-bottom: 0;
                background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28180%2018%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;
            }
            ~ div {
                margin-top: 6px;
            }
            &::before {
                top: 100%;
                bottom: auto;
                left: 50%;
                transform: translate3d(-50%, -10px, 0);
            }
            &:hover::before {
                transform: translate3d(-50%, 0, 0);
            }
            ~ div {
                top: 100%;
                left: 50%;
                transform: translate3d(-50%, -10px, 0);
            }
        }
        &[data-microtip-position="bottom"]:hover ~ div {
            transform: translate3d(-50%, 0, 0);
        }
        /*
        ---------------------------
        6. Position Modifiers - Bottom Left
        ---------------------------
        */
        &[data-microtip-position="bottom-left"] {
            ~ div {
                top: 100%;
                transform: translate3d(calc(-100% + 16px), -10px, 0);
            }
            &:hover ~ div {
                transform: translate3d(calc(-100% + 16px), 0, 0);
            }
        }
        /*
        ---------------------------
        7. Position Modifiers - Bottom Right
        ---------------------------
        */
        &[data-microtip-position="bottom-right"] {
            ~ div {
                top: 100%;
                transform: translate3d(calc(0% + -16px), -10px, 0);
            }
            &:hover ~ div {
                transform: translate3d(calc(0% + -16px), 0, 0);
            }
        }
        /*
        ---------------------------
        8. Position Modifiers - Left
        ---------------------------
        */
        &[data-microtip-position="left"] {
            &::before,
            ~ div {
                top: 50%;
                right: 100%;
                bottom: auto;
                left: auto;
                transform: translate3d(10px, -50%, 0);
            }
            &::before {
                width: 6px;
                height: 18px;
                margin-right: 5px;
                margin-bottom: 0;
                background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28-90%2018%2018%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;
            }
            ~ div {
                margin-right: 10px;
            }
            &:hover {
                &::before,
                ~ div {
                    transform: translate3d(0, -50%, 0);
                }
            }
        }
        /*
         ---------------------------
         9. Position Modifiers - Right
         ---------------------------
         */
        &[data-microtip-position="right"] {
            &::before,
            ~ div {
                top: 50%;
                bottom: auto;
                left: 100%;
                transform: translate3d(-10px, -50%, 0);
            }
            &::before {
                width: 6px;
                height: 18px;
                margin-bottom: 0;
                margin-left: 5px;
                background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%2890%206%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;
            }
            ~ div {
                margin-left: 10px;
            }
            &:hover {
                &::before,
                ~ div {
                    transform: translate3d(0, -50%, 0);
                }
            }
        }
        /*
         ---------------------------
         10. Size
         ---------------------------
         */
        &[data-microtip-size="auto"] ~ div {
            overflow: hidden;
            width: auto;
            max-width: 530px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &[data-microtip-size="small"] ~ div {
            width: 80px;
            white-space: initial;
        }
        &[data-microtip-size="medium"] ~ div {
            width: 150px;
            white-space: initial;
        }
        &[data-microtip-size="large"] ~ div {
            width: 260px;
            white-space: initial;
        }
    }
}
