/* ======================================================
    <!-- 全宽列到边缘 Full Width Column to Edge -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
.uix-fullwidth-column-to-edge--fixed-and-variable {
    display: flex;
    flex-wrap: wrap;
    .uix-fullwidth-column-to-edge--fixed-and-variable__fixed {
        flex-grow: 1;
        flex-basis: 250px;
    }
    .uix-fullwidth-column-to-edge--fixed-and-variable__variable {
        // 变量列打断整体的点
        // 系统减少到两行
        width: 325px;
        /*
        为什么这么高？ 当容器超过 500px 宽时（意思是）有足够的空间容纳 200px 固定列和 300px 可变列，然后 flex grow 开始确定每列应获得的比例。 需要注意的是，固定列永远不会小于 200 像素（当它们在同一行时），并且无论浏览器出于何种原因，这个大数字都会确保固定列不会增长。 要明白我的意思，请更改为 100 并调整屏幕大小。 您会看到固定列的小像素移动。
        */
        flex-grow: 10000;
        flex-basis: auto;
        flex: 10000 auto auto;
    }
}


