<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
    <meta charset="@@{website_charset}" />
    <title>模态对话框 - @@{website_title}</title>
    @@include('./src/components/_global/include-header.html')
</head>
<body class="page">
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class="uix-wrapper">
    <!-- Header Area
    ============================================= -->
    <header class="uix-header__container">
        <div class="uix-header">
            <div class="container">
                @@include('./src/components/_global/include-brand.html')
                @@include('./src/components/_global/include-menu.html')
            </div>
            <!-- container end -->
            <div class="uix-clearfix"></div>
        </div>
    </header>
    <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
    <main id="uix-maincontent">
        <!-- Content
        ====================================================== -->
        <section class="uix-spacing--s uix-spacing--no-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3>模态对话框</h3>
                        <p>模态对话框是一个弹出窗口，可以强制用户与其交互，然后才能返回使用父应用程序。</p>
                        <p>使用下面的 HTML 代码来触发它</p>
                        <hr>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- Content
         ====================================================== -->
        <section class="uix-spacing--s">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <pre class="uix-precode uix-t-l"><label>HTML</label><code>&lt;a class=&#x27;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary&#x27; href=&#x27;javascript:void(0)&#x27; data-modal-id=&#x27;modal-open-1&#x27; data-modal-close-onlybtn=&#x27;false&#x27;&gt;单击此处打开模态&lt;/a&gt;</code></pre>
                        <pre class="uix-precode uix-precode uix-precode--nolebel"><code>&lt;template id=&quot;modal-open-1&quot;&gt;
    &lt;div class=&quot;uix-modal-box&quot; role=&quot;dialog&quot; tabindex=&quot;-1&quot; aria-hidden=&quot;true&quot;&gt;
        &lt;button type=&quot;button&quot; class=&quot;uix-modal-box__close&quot; data-modal-close-trigger=&quot;true&quot;&gt;&lt;/button&gt;
        &lt;div class=&quot;uix-modal-box__content&quot; role=&quot;document&quot;&gt;
            &lt;div class=&quot;uix-modal-box__head&quot;&gt;
                &lt;!-- 这里放结果 --&gt;
            &lt;/div&gt;
            &lt;div class=&quot;uix-modal-box__body&quot;&gt;
                &lt;div role=&quot;note&quot;&gt;
                    &lt;!-- //////// 内容开始 //////// --&gt;
                    &lt;!-- //////// 内容结束 //////// --&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/template&gt;</code></pre>
                        <a class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary" href="javascript:void(0)" data-modal-id="modal-open-1" data-modal-close-onlybtn="false">单击此处打开模态</a>
                        <template id="modal-open-1">
                            <div class="uix-modal-box" role="dialog" tabindex="-1" aria-hidden="true">
                                <button type="button" class="uix-modal-box__close" data-modal-close-trigger="true"></button>
                                <div class="uix-modal-box__content" role="document">
                                    <div class="uix-modal-box__head">
                                        <!-- 这里放结果 -->
                                    </div>
                                    <div class="uix-modal-box__body">
                                        <div role="note">
                                            <!-- //////// 内容开始 //////// -->
                                            <h2>Holy Crap!!!</h2>
                                            <p>p.s. Sorry for calling you a dingus earlier.</p>
                                            <p>p.s. Sorry for calling you a dingus earlier.</p>
                                            <p>p.s. Sorry for calling you a dingus earlier.</p>
                                            <p>p.s. Sorry for calling you a dingus earlier.</p>
                                            <p>p.s. Sorry for calling you a dingus earlier.</p>
                                            <p>p.s. Sorry for calling you a dingus earlier.</p>
                                            <p>p.s. Sorry for calling you a dingus earlier.</p>
                                            <p>p.s. Sorry for calling you a dingus earlier.</p>
                                            <p>p.s. Sorry for calling you a dingus earlier.</p>
                                            <!-- //////// 内容结束 //////// -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <hr>
                        <pre class="uix-precode uix-t-l"><label>HTML</label><code>&lt;a class=&#x27;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary&#x27; href=&#x27;javascript:void(0)&#x27; data-modal-id=&#x27;modal-open-2&#x27; data-modal-close-onlybtn=&#x27;false&#x27;&gt;单击此处打开模式（全屏）&lt;/a&gt;</code></pre>
                        <pre class="uix-precode uix-precode uix-precode--nolebel"><code>&lt;template id=&quot;modal-open-2&quot;&gt;
    &lt;div class=&quot;uix-modal-box is-fullscreen&quot; role=&quot;dialog&quot; tabindex=&quot;-1&quot; aria-hidden=&quot;true&quot;&gt;
        &lt;button type=&quot;button&quot; class=&quot;uix-modal-box__close&quot; data-modal-close-trigger=&quot;true&quot;&gt;&lt;/button&gt;
        &lt;div class=&quot;uix-modal-box__content&quot; role=&quot;document&quot;&gt;
            &lt;div class=&quot;uix-modal-box__head&quot;&gt;
                &lt;!-- 这里放结果 --&gt;
            &lt;/div&gt;
            &lt;div class=&quot;uix-modal-box__body&quot;&gt;
                &lt;div role=&quot;note&quot;&gt;
                    &lt;!-- ////////  内容开始 //////// --&gt;
                    &lt;!-- ////////  内容结束 //////// --&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/template&gt;</code></pre>
                        <a class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary" href="javascript:void(0)" data-modal-id="modal-open-2" data-modal-close-onlybtn="false">单击此处打开模式（全屏）</a>
                        <template id="modal-open-2">
                            <div class="uix-modal-box is-fullscreen" role="dialog" tabindex="-1" aria-hidden="true">
                                <button type="button" class="uix-modal-box__close" data-modal-close-trigger="true"></button>
                                <div class="uix-modal-box__content" role="document">
                                    <div class="uix-modal-box__head">
                                        <!-- 这里放结果 -->
                                    </div>
                                    <div class="uix-modal-box__body">
                                        <div role="note">
                                            <!-- ////////  内容开始 //////// -->
                                            <h2>Holy Crap!!!</h2>
                                            <p>p.s. Sorry for calling you a dingus earlier.</p>
                                            <!-- ////////  内容结束 //////// -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <hr>
                        <pre class="uix-precode uix-t-l"><label>HTML</label><code>&lt;a class=&#x27;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary&#x27; href=&#x27;javascript:void(0)&#x27; data-modal-id=&#x27;modal-open-3&#x27; data-modal-close-onlybtn=&#x27;false&#x27; data-modal-height=&#x27;200px&#x27; data-modal-width=&#x27;300px&#x27;&gt;单击此处打开模态（自定义）&lt;/a&gt;</code></pre>
                        <pre class="uix-precode uix-precode uix-precode--nolebel"><code>&lt;template id=&quot;modal-open-3&quot;&gt;
    &lt;div class=&quot;uix-modal-box&quot; role=&quot;dialog&quot; tabindex=&quot;-1&quot; aria-hidden=&quot;true&quot;&gt;
        &lt;button type=&quot;button&quot; class=&quot;uix-modal-box__close&quot; data-modal-close-trigger=&quot;true&quot;&gt;&lt;/button&gt;
        &lt;div class=&quot;uix-modal-box__content&quot; role=&quot;document&quot;&gt;
            &lt;div class=&quot;uix-modal-box__head&quot;&gt;
                &lt;!-- 这里放结果 --&gt;
            &lt;/div&gt;
            &lt;div class=&quot;uix-modal-box__body&quot;&gt;
                &lt;div role=&quot;note&quot;&gt;
                    &lt;!-- ////////  内容开始 //////// --&gt;
                    &lt;!-- ////////  内容结束 //////// --&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/template&gt;</code></pre>
                        <a class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary" href="javascript:void(0)" data-modal-id="modal-open-3" data-modal-close-onlybtn="false" data-modal-height="200px" data-modal-width="300px">单击此处打开模态（自定义）</a>
                        <template id="modal-open-3">
                            <div class="uix-modal-box" role="dialog" tabindex="-1" aria-hidden="true">
                                <button type="button" class="uix-modal-box__close" data-modal-close-trigger="true"></button>
                                <div class="uix-modal-box__content" role="document">
                                    <div class="uix-modal-box__head">
                                        <!-- 这里放结果 -->
                                    </div>
                                    <div class="uix-modal-box__body">
                                        <div role="note">
                                            <!-- ////////  内容开始 //////// -->
                                            <h2>Holy Crap!!!</h2>
                                            <p>p.s. Sorry for calling you a dingus earlier.</p>
                                            <!-- ////////  内容结束 //////// -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- Modals
        ============================================= -->
        <!-- Content
        ====================================================== -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3>模态对话框（视频）</h3>
                        <p>使用以下 HTML 代码触发视频</p>
                        <pre class="uix-precode uix-t-l"><label>HTML</label><code>&lt;a href="javascript:void(0);" data-video-win="true" data-video-poster="assets/videos/1920x1080/demo.jpg" data-video-mp4="assets/videos/1920x1080/demo.mp4" data-video-webm="" data-video-ogv="" data-modal-id="web-modal-1" data-modal-close-onlybtn="false"&gt;Click Here to Open Video&lt;/a&gt;

&lt;a href=&quot;javascript:void(0)&quot; data-video-win=&quot;true&quot; data-video-poster=&quot;assets/videos/1920x1080/demo.jpg&quot; data-video-mp4=&quot;&quot; data-video-webm=&quot;&quot; data-video-ogv=&quot;&quot; data-modal-id=&quot;web-modal-2&quot; data-modal-close-onlybtn=&quot;false&quot; data-modal-lightbox=&quot;true&quot; data-modal-close-time=&quot;false&quot;&gt;&lt;span data-video-iframe=&quot;true&quot;&gt;&lt;iframe width=&quot;560&quot; height=&quot;315&quot; src=&quot;https://www.youtube.com/embed/******&quot; frameborder=&quot;0&quot; allow=&quot;autoplay; encrypted-media&quot; allowfullscreen&gt;&lt;/iframe&gt;&lt;/span&gt;Video&lt;/a&gt;</code>
</pre>
                        <hr>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- Content
         ====================================================== -->
        <section class="uix-spacing--s">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <a class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary" href="javascript:void(0)" data-video-win="true" data-video-poster="assets/videos/1920x1080/demo.jpg" data-video-mp4="assets/videos/1920x1080/demo.mp4" data-video-webm="" data-video-ogv="" data-modal-id="web-modal-1" data-modal-close-onlybtn="false">单击此处打开视频</a>
                        <br>
                        <a class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary" href="javascript:void(0)" data-video-win="true" data-video-poster="assets/videos/1920x1080/demo.jpg" data-video-mp4="" data-video-webm="" data-video-ogv="" data-modal-id="web-modal-2" data-modal-close-onlybtn="false"><span data-video-iframe="true">
                            <iframe src="//player.bilibili.com/player.html?aid=689222438&bvid=BV1cm4y1w7gN&cid=865691909&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
                        </span>单击此处打开 哔哩哔哩 视频</a>
                        <br>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
    </main>
    @@include('./src/components/_global/include-copyright.html')
</div>
<!-- .uix-wrapper end -->
@@include('./src/components/_global/include-footer.html')

