<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>Images - @@{website_title}</title>	
	@@include('./src/components/_global/include-header.html')
</head>  

     
  <body class="page">
  
  
          
    @@include('./src/components/_global/include-loader.html')
    @@include('./src/components/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- 页眉区 开始 -->
        <header class="uix-header__container">
            
             <div class="uix-header">
            <!-- 容器 开始 -->
            <div class="container">
                 
                        @@include('./src/components/_global/include-brand.html')
                        
                        @@include('./src/components/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- 容器 结束 -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
    <!-- 页眉区 结束 -->
    <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
      

			
     
		<main id="uix-maincontent">
			
			
			<!-- 内容 开始 -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
            <!-- 容器 开始 -->
            <div class="container">
                <!-- 行列 开始 -->
                <div class="row">
						<div class="col-12">
							<h3>Basic</h3>
							<p>Provides some different styles of image performance.</p>
							<hr>
							
							
						</div>
					</div>
					<!-- 行列 结束 -->

				</div>
				<!-- 容器 结束 -->

			</section>
			
			


		   <!-- 内容 开始 -->
			<section class="uix-spacing--s">
            <!-- 容器 开始 -->
            <div class="container">
                <!-- 行列 开始 -->
                <div class="row">
						<div class="col-12">

							<p>
								<img src="assets/images/placeholder/400x400.jpg" width="150" alt="" class="uix-border--circle">
								&nbsp;&nbsp;
								<img src="assets/images/placeholder/400x400.jpg" width="150" alt="" class="uix-border--rounded">
							</p>


								
							<div style="padding: 25px; background: #EAEAEA;display: inline-block;margin: 0 15px 15px 0;overflow: hidden;" class="uix-border--circle"><img src="assets/images/placeholder/400x400.jpg" width="150" alt=""></div>
							<div style="padding: 25px; background: #EAEAEA;display: inline-block;margin: 0 15px 15px 0;overflow: hidden;" class="uix-border--circle uix-border--circle-img"><img src="assets/images/placeholder/400x400.jpg" width="150" alt=""></div>			
							<div style="padding: 25px; background: #EAEAEA;display: inline-block;margin: 0 15px 15px 0;overflow: hidden;" class="uix-border--circle uix-border--circle-only-img"><img src="assets/images/placeholder/400x400.jpg" width="150" alt=""></div>
						</div>
					</div>
					<!-- 行列 结束 -->

				</div>
				<!-- 容器 结束 -->


			</section>

			
			
			<!-- 内容 开始 -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
            <!-- 容器 开始 -->
            <div class="container">
                <!-- 行列 开始 -->
                <div class="row">
						<div class="col-12">
							<h3>Full Width</h3>
							<p>Implemented using <strong>bootstrap</strong>.</p>
							<hr>
							
							
						</div>
					</div>
					<!-- 行列 结束 -->

				</div>
				<!-- 容器 结束 -->

			</section>
			
			


		   <!-- 内容 开始 -->
			<section class="uix-spacing--s">
            <!-- 容器 开始 -->
            <div class="container">
                <!-- 行列 开始 -->
                <div class="row">
						<div class="col-12">	
							<img src="assets/images/placeholder/400x279.jpg" alt="" class="img-fluid w-100">
						</div>
					</div>
					<!-- 行列 结束 -->

				</div>
				<!-- 容器 结束 -->


			</section>	
			
		</main>
		

        
        
        
        @@include('./src/components/_global/include-copyright.html')
        
        
    </div>

       
       
    @@include('./src/components/_global/include-footer.html')

