/* ======================================================
   <!-- 下拉菜单 Dropdown Menu -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
/* 不要使用 <a> 标签 */
.uix-dropdown-menu {
    > ul {
        right: 0;
        left: auto;
        &::before {
            right: 20px;
            left: auto;
        }
    }
}
