/* ======================================================
   <!-- Dropdown Menu -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
/* Do not use <a> tag */
.uix-dropdown-menu {
    > ul {
        right: 0;
        left: auto;
        &::before {
            right: 20px;
            left: auto;
        }
    }
}
