<!-- Vendor -->
<script defer src="assets/js/min/axios.min.js?ver=0.19.2"></script>
<script defer src="assets/js/min/jquery.waitforimages.min.js?ver=1.0"></script>
<script defer src="assets/js/min/video.min.js?ver=7.5.3"></script>
<script defer src="assets/js/min/template7.min.js?ver=1.4.2"></script>
<script defer src="assets/js/min/TweenMax.min.js?ver=2.0.2"></script>
<script defer src="assets/js/min/pixi.min.js?ver=5.2.0"></script>
<script defer src="assets/js/min/three.min.js?ver=r114"></script>
<script defer src="assets/js/min/anime.min.js?ver=3.1"></script>
<script defer src="assets/js/min/hammer.min.js?ver=2.0.8"></script>
<script defer src="assets/js/min/muuri.min.js?ver=0.8.0"></script>
<!-- 你的插件和主题脚本 开始 -->
<script>
        /*
         * 一些全局变量。 不要更改这些变量名称。
         * 这些变量正在 `uix-kit.min.js` 中使用。
         *
         */
        const REVISION = '@@{website_version}',
            APP_ROOTPATH = {
                    'templateUrl': '', //如果文件在根目录下，可以留空。 如果在另一个目录，你可以写：“/blog”
                    'homeUrl': '', //例如。 https://uiux.cc
                    'ajaxUrl': '' //例如。 https://uiux.cc/wp-admin/admin-ajax.php
            };
        /*
         * 修复了无法读取 jQuery 1.xx.x 的未定义属性“fn”的错误。
         */
        window.$ = window.jQuery;
</script>
<script defer src="../dist/js/uix-kit.min.js?ver=@@{website_hash}"></script>
<!-- 你的插件和主题脚本 结束 -->
</body>
</html>
