/* ======================================================
   <!-- Dropdown Menu -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
/* Do not use <a> tag */
.uix-dropdown-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
    > ul {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 170px;
        margin-top: 8px;
        text-align: left;
        border-radius: 4px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        @include transition-default();
        &::before {
            position: absolute;
            top: -6px;
            left: 20px;
            width: 0;
            height: 0;
            content: '';
            transform: rotate(-45deg);
            border-top: 6px solid #ffffff;
            border-right: 6px solid #ffffff;
            border-bottom: 6px solid transparent;
            border-left: 6px solid transparent;
            box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.05);
        }
        li {
            position: relative;
            z-index: 1;
            padding: 0 .75rem;
            color: $sub-text-color;
            background: #ffffff;
            &:hover {
                background: #fafafa;
            }
            a {
                font-size: 0.75rem;
                display: block;
                padding: .75rem 0;
                text-decoration: none;
                color: inherit;
                border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            }
            &:first-child {
                border-radius: 4px 4px 0 0;
            }
            &:last-child {
                border-radius: 0 0 4px 4px;
                a {
                    border-bottom: 0;
                }
            }
        }
    }
    &.is-opened {
        > ul {
            display: block !important;
            animation: uix-cssAnim--dropdown-display 0.4s cubic-bezier(0.73, 0.005, 0.22, 1);
        }
    }
}
@keyframes uix-cssAnim--dropdown-display {
    0% {
        opacity: 0;
        transform: scale(0.98) translateY(-0.6em);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}
