/* ======================================================
   <!-- 等宽列 Equal-width Columns -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
/**
 * 仅使用 CSS，我们可以制作标签式导航，其标签始终占据可用宽度的相等份额。
 * 没有 JS 来查询 DOM，没有服务器端逻辑来计算项目，没有内联样式。
 */
.uix-equal-width-divs {
    ul {
        font-size: 0; /* 争夺内联块元素之间的空间 */
        display: table; /* [1] */
        width: 100%; /* [3] */
        table-layout: fixed; /* [2] */
        list-style: none;
        li {
            font-size: 1rem; /* 争夺内联块元素之间的空间 */
            display: table-cell; /* [4] */
            box-shadow: 1px 0 0 0 $sub-text-color;
            &:last-child {
                box-shadow: none;
            }
            span {
                font-size: 0.75rem;
                display: block;
            }
        }
    }
}
@media all and (max-width: 768px) {
    .uix-equal-width-divs:not(.uix-equal-width-divs--no-break) {
        ul {
            display: block;
            li {
                display: inline-block;
                width: 50%;
                margin-bottom: .5rem;
                &:nth-child(2n+0) {
                    box-shadow: none;
                }
                span {
                    padding-bottom: 1rem;
                }
            }
        }
    }
}
