/* ======================================================
   <!-- Lava-Lamp Style Menu -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
.uix-lavalamp-menu__container {
    position: relative; /* Required*/
    margin: 0 auto;
    ul.uix-lavalamp-menu {
        font-size: 0; /*Fighting the Space Between Inline Block Elements*/
        margin: 0; /* Required*/
        padding: 0;
        li {
            font-size: 1rem; /*Fighting the Space Between Inline Block Elements*/
            position: relative;
            display: inline-block;
            margin: 0;
            margin-right: 1.6875rem;
            padding: 0;
            padding: 0 1.159375rem;
            white-space: nowrap; /* Required*/
            a {
                display: block;
            }
            &.is-active {
                a {
                    font-weight: bold;
                }
            }
        }
        .uix-lavalamp-menu__slide-line {
            position: absolute;
            z-index: -1;
            top: 105%;
            left: 0;
            display: block;
            width: auto;
            height: 5px;
            margin: 0;
            padding: 0;
            border-radius: 3px;
            background: $highlight-color1;
        }
    }
}
