/* ======================================================
   <!-- Lava-Lamp 风格菜单 Lava-Lamp Style Menu -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
.uix-lavalamp-menu__container {
    position: relative; /* 必需的 */
    margin: 0 auto;
    ul.uix-lavalamp-menu {
        font-size: 0; /* 争夺内联块元素之间的空间 */
        margin: 0; /* 必需的 */
        padding: 0;
        li {
            font-size: 1rem; /* 争夺内联块元素之间的空间 */
            position: relative;
            display: inline-block;
            margin: 0 1.6875rem 0 0;
            padding: 0 1.159375rem;
            white-space: nowrap; /* 必需的 */
            a {
                display: block;
            }
            &.is-active {
                a {
                    font-weight: bold;
                }
            }
        }
        .uix-lavalamp-menu__slide-line {
            position: absolute;
            z-index: -1;
            top: 105%;
            left: 0;
            display: block;
            width: auto;
            height: 5px;
            margin: 0;
            padding: 0;
            border-radius: 3px;
            background: $highlight-color1;
        }
    }
}
