<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
        <meta charset="@@{website_charset}" />
        <title>按钮 Button - @@{website_title}</title>
        @@include('./src/components/_global/include-header.html')
</head>
<body class="page">
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class="uix-wrapper">
        <!-- 页眉区 -->
        <header class="uix-header__container">
                <div class="uix-header">
                        <!-- 容器 开始 -->
                        <div class="container">
                                @@include('./src/components/_global/include-brand.html')
                                @@include('./src/components/_global/include-menu.html')
                        </div>
                        <!-- 容器 结束 -->
                        <div class="uix-clearfix"></div>
                </div>
        </header>
        <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
        <main id="uix-maincontent">
                <!-- 内容 开始 -->
                <section class="uix-spacing--s uix-spacing--no-bottom">
                        <!-- 容器 开始 -->
                        <div class="container">
                                <!-- 行列 开始 -->
                                <div class="row">
                                        <div class="col-12">
                                                <h3>按钮</h3>
                                                <p>
                                                        如果需要使用多种颜色，可以自己添加CSS样式，如：
                                                        <code>uix-btn__bg--blue</code>,
                                                        <code>uix-btn__bg--purple</code> ...
                                                </p>
                                                <hr>
                                        </div>
                                </div>
                                <!-- 行列 结束 -->
                        </div>
                        <!-- 容器 结束 -->
                </section>
                <!-- 内容 结束 -->
                <section class="uix-spacing--s">
                        <!-- 容器 开始 -->
                        <div class="container">
                                <!-- 行列 开始 -->
                                <div class="row">
                                        <div class="col-12" id="my-ajax-demo-target-button">
                        <pre class="uix-precode"><label>HTML</label><code>&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--hyperlink&quot;&gt;迷你按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--hyperlink&quot;&gt;小按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--hyperlink&quot;&gt;中按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--hyperlink&quot;&gt;大按钮&lt;/a&gt;</code></pre>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--hyperlink">迷你按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--hyperlink">小按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--hyperlink">中按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--hyperlink">大按钮</a>
                                                <hr />
                                                <pre class="uix-precode"><label>HTML</label><code>&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--hyperlink2&quot;&gt;迷你按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--hyperlink2&quot;&gt;小按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--hyperlink2&quot;&gt;中按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--hyperlink2&quot;&gt;大按钮&lt;/a&gt;</code></pre>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--hyperlink2">迷你按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--hyperlink2">小按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--hyperlink2">中按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--hyperlink2">大按钮</a>
                                                <hr />
                                                <pre class="uix-precode"><label>HTML</label><code>&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary&quot;&gt;&lt;i class=&quot;fa fa-bullhorn&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;迷你按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary&quot;&gt;&lt;i class=&quot;fa fa-bullhorn&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;小按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary&quot;&gt;&lt;i class=&quot;fa fa-cogs&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;中按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary&quot;&gt;&lt;i class=&quot;fa fa-flask&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;大按钮&lt;/a&gt;</code></pre>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary"><i class="fa fa-bullhorn" aria-hidden="true"></i>迷你按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary"><i class="fa fa-bullhorn" aria-hidden="true"></i>小按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary"><i class="fa fa-cogs" aria-hidden="true"></i>中按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary"><i class="fa fa-flask" aria-hidden="true"></i>大按钮</a>
                                                <hr />
                                                <pre class="uix-precode"><label>HTML</label><code>&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary&quot;&gt;迷你按钮&lt;i class=&quot;fa fa-bullhorn&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary&quot;&gt;小按钮&lt;i class=&quot;fa fa-bullhorn&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary&quot;&gt;中按钮&lt;i class=&quot;fa fa-cogs&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary&quot;&gt;大按钮&lt;i class=&quot;fa fa-flask&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;/a&gt;</code></pre>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary">迷你按钮<i class="fa fa-bullhorn" aria-hidden="true"></i></a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary">小按钮<i class="fa fa-bullhorn" aria-hidden="true"></i></a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary">中按钮<i class="fa fa-cogs" aria-hidden="true"></i></a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary">大按钮<i class="fa fa-flask" aria-hidden="true"></i></a>
                                                <hr />
                                                <pre class="uix-precode"><label>HTML</label><code>&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary uix-btn__icon uix-btn__icon--right&quot;&gt;&lt;span&gt;&lt;i class=&quot;fa fa-bullhorn&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;/span&gt;右图标&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary uix-btn__icon uix-btn__icon--left&quot;&gt;&lt;span&gt;&lt;i class=&quot;fa fa-cogs&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;/span&gt;左图标&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-pill is-transparent uix-btn__icon uix-btn__icon--right&quot;&gt;&lt;span&gt;&lt;i class=&quot;fa fa-bullhorn&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;/span&gt;右图标&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-pill is-transparent uix-btn__icon uix-btn__icon--left&quot;&gt;&lt;span&gt;&lt;i class=&quot;fa fa-cogs&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;/span&gt;左图标&lt;/a&gt;</code></pre>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary uix-btn__icon uix-btn__icon--right"><span><i class="fa fa-bullhorn" aria-hidden="true"></i></span>右图标</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary uix-btn__icon uix-btn__icon--left"><span><i class="fa fa-cogs" aria-hidden="true"></i></span>左图标</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-pill is-transparent uix-btn__icon uix-btn__icon--right"><span><i class="fa fa-bullhorn" aria-hidden="true"></i></span>右图标</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-pill is-transparent uix-btn__icon uix-btn__icon--left"><span><i class="fa fa-cogs" aria-hidden="true"></i></span>左图标</a>
                                                <hr />
                                                <pre class="uix-precode"><label>HTML</label><code>&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary is-disabled&quot;&gt;迷你按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-disabled&quot;&gt;小按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary is-disabled&quot;&gt;中按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary is-disabled&quot;&gt;大按钮&lt;/a&gt;</code></pre>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary is-disabled">迷你按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-disabled">小按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary is-disabled">中按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary is-disabled">大按钮</a>
                                                <hr />
                                                <pre class="uix-precode"><label>HTML</label><code>&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary is-waiting&quot;&gt;迷你按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-waiting&quot;&gt;小按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary is-waiting&quot;&gt;中按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary is-waiting&quot;&gt;大按钮&lt;/a&gt;</code></pre>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary is-waiting">迷你按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-waiting">小按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary is-waiting">中按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary is-waiting">大按钮</a>
                                                <hr />
                                                <pre class="uix-precode"><label>HTML</label><code>&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary is-pill&quot;&gt;迷你胶囊按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-pill&quot;&gt;小胶囊按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary is-pill&quot;&gt;中胶囊按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary is-pill&quot;&gt;大胶囊按钮&lt;/a&gt;</code></pre>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary is-pill">迷你胶囊按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-pill">小胶囊按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary is-pill">中胶囊按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary is-pill">大胶囊按钮</a>
                                                <hr />
                                                <pre class="uix-precode"><label>HTML</label><code>&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary is-rounded&quot;&gt;迷你按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-rounded&quot;&gt;小按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary is-rounded&quot;&gt;中按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary is-rounded&quot;&gt;大按钮&lt;/a&gt;</code></pre>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary is-rounded">迷你按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-rounded">小按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary is-rounded">中按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary is-rounded">大按钮</a>
                                                <hr />
                                                <pre class="uix-precode"><label>HTML</label><code>&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary is-pill is-transparent&quot;&gt;迷你胶囊按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-pill is-transparent&quot;&gt;小胶囊按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary is-pill is-transparent&quot;&gt;中胶囊按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary is-pill is-transparent&quot;&gt;大胶囊按钮&lt;/a&gt;</code></pre>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary is-pill is-transparent">迷你胶囊按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-pill is-transparent">小胶囊按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary is-pill is-transparent">中胶囊按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary is-pill is-transparent">大胶囊按钮</a>
                                                <hr />
                                                <pre class="uix-precode"><label>HTML</label><code>&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary is-pill is-transparent&quot;&gt;按钮组&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary is-pill is-transparent&quot;&gt;按钮组&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary is-pill is-transparent&quot;&gt;按钮组&lt;/a&gt;</code></pre>
                                                <div class="uix-btn__group uix-btn__margin--b">
                                                        <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary is-pill is-transparent">按钮组</a>
                                                        <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary is-pill is-transparent">按钮组</a>
                                                        <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary is-pill is-transparent">按钮组</a>
                                                </div>
                                                <hr />
                                                <pre class="uix-precode"><label>HTML</label><code>&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary&quot;&gt;按钮组&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary&quot;&gt;按钮组&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary&quot;&gt;按钮组&lt;/a&gt;</code></pre>
                                                <div class="uix-btn__group uix-btn__margin--b">
                                                        <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary">按钮组</a>
                                                        <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary">按钮组</a>
                                                        <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary">按钮组</a>
                                                </div>
                                                <hr />
                                                <pre class="uix-precode"><label>HTML</label><code>&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary is-pill is-transparent&quot;&gt;按钮组&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary is-pill is-transparent&quot;&gt;按钮组&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary is-pill is-transparent&quot;&gt;按钮组&lt;/a&gt;</code></pre>
                                                <div class="uix-btn__group is-fullwidth uix-btn__margin--b">
                                                        <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary is-pill is-transparent">按钮组</a>
                                                        <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary is-pill is-transparent">按钮组</a>
                                                        <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary is-pill is-transparent">按钮组</a>
                                                </div>
                                                <hr />
                                                <pre class="uix-precode"><label>HTML</label><code>&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary&quot;&gt;按钮组&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary&quot;&gt;按钮组&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary&quot;&gt;按钮组&lt;/a&gt;</code></pre>
                                                <div class="uix-btn__group is-fullwidth uix-btn__margin--b">
                                                        <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary">按钮组</a>
                                                        <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary">按钮组</a>
                                                        <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary">按钮组</a>
                                                </div>
                                                <hr />
                                                <pre class="uix-precode"><label>HTML</label><code>&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary is-fullwidth&quot;&gt;迷你全屏宽度&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-fullwidth&quot;&gt;小全屏宽度&lt;/a&gt;</code></pre>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary is-fullwidth">迷你全屏宽度</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-fullwidth">小全屏宽度</a>
                                                <hr />
                                                <pre class="uix-precode"><label>HTML</label><code>&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary is-fullwidth&quot;&gt;中全屏宽度&lt;/a&gt;
&lt;br&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary is-fullwidth&quot;&gt;大全屏宽度&lt;/a&gt;</code></pre>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary is-fullwidth">中全屏宽度</a>
                                                <br>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary is-fullwidth">大全屏宽度</a>
                                                <hr />
                                                <pre class="uix-precode"><label>HTML</label><code>&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary is-fullwidth is-pill&quot;&gt;迷你全屏宽度胶囊按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-fullwidth is-pill&quot;&gt;小全屏宽度胶囊按钮&lt;/a&gt;
&lt;br&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary is-fullwidth is-pill&quot;&gt;中全屏宽度胶囊按钮&lt;/a&gt;
&lt;br&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary is-fullwidth is-pill&quot;&gt;大全屏宽度胶囊按钮&lt;/a&gt;</code></pre>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary is-fullwidth is-pill">迷你全屏宽度胶囊按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-fullwidth is-pill">小全屏宽度胶囊按钮</a>
                                                <br>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary is-fullwidth is-pill">中全屏宽度胶囊按钮</a>
                                                <br>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary is-fullwidth is-pill">大全屏宽度胶囊按钮</a>
                                        </div>
                                </div>
                                <!-- 行列 结束 -->
                        </div>
                        <!-- 容器 结束 -->
                </section>
                <!-- 内容 开始 -->
                <section class="uix-spacing--s uix-spacing--no-bottom">
                        <!-- 容器 开始 -->
                        <div class="container">
                                <!-- 行列 开始 -->
                                <div class="row">
                                        <div class="col-12">
                                                <h3>辅助按钮</h3>
                                        </div>
                                </div>
                                <!-- 行列 结束 -->
                        </div>
                        <!-- 容器 结束 -->
                </section>
                <!-- 内容 结束 -->
                <section class="uix-spacing--s">
                        <!-- 容器 开始 -->
                        <div class="container">
                                <!-- 行列 开始 -->
                                <div class="row">
                                        <div class="col-12">
                        <pre class="uix-precode"><label>HTML</label><code>&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-fill-white&quot;&gt;辅助按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-rounded is-fill-white&quot;&gt;辅助圆角按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-pill is-fill-white&quot;&gt;辅助胶囊按钮&lt;/a&gt;</code></pre>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-fill-white">辅助按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-rounded is-fill-white">辅助圆角按钮</a>
                                                <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-pill is-fill-white">辅助胶囊按钮</a>
                                                <hr />
                                                <div class="uix-t-c" style="background: #333333; padding: 1.5rem 0 0; margin-top: 1rem;">
                            <pre class="uix-precode"><label>HTML</label><code>&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-fill-white&quot;&gt;白色按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary&quot;&gt;白色按钮&lt;/a&gt;</code></pre>
                                                        <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-fill-white">白色按钮</a>
                                                        <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary">白色按钮</a>
                                                        <hr />
                                                        <pre class="uix-precode"><label>HTML</label><code>&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-pill is-fill-white&quot;&gt;白色按钮&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-pill&quot;&gt;白色按钮&lt;/a&gt;</code></pre>
                                                        <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-pill is-fill-white">白色按钮</a>
                                                        <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-pill">白色按钮</a>
                                                        <hr />
                                                        <pre class="uix-precode"><label>HTML</label><code>&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-fill-white uix-btn__icon uix-btn__icon--right&quot;&gt;&lt;span&gt;&lt;i class=&quot;fa fa-bullhorn&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;/span&gt;右图标&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-fill-white uix-btn__icon uix-btn__icon--left&quot;&gt;&lt;span&gt;&lt;i class=&quot;fa fa-cogs&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;/span&gt;左图标&lt;/a&gt;</code></pre>
                                                        <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-fill-white uix-btn__icon uix-btn__icon--right"><span><i class="fa fa-bullhorn" aria-hidden="true"></i></span>右图标</a>
                                                        <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-fill-white uix-btn__icon uix-btn__icon--left"><span><i class="fa fa-cogs" aria-hidden="true"></i></span>左图标</a>
                                                        <hr />
                                                        <pre class="uix-precode"><label>HTML</label><code>&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary uix-btn__icon uix-btn__icon--right&quot;&gt;&lt;span&gt;&lt;i class=&quot;fa fa-bullhorn&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;/span&gt;右图标&lt;/a&gt;
&lt;a href=&quot;#&quot; tabindex=&quot;0&quot; class=&quot;uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary uix-btn__icon uix-btn__icon--left&quot;&gt;&lt;span&gt;&lt;i class=&quot;fa fa-cogs&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;/span&gt;左图标&lt;/a&gt;</code></pre>
                                                        <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary uix-btn__icon uix-btn__icon--right"><span><i class="fa fa-bullhorn" aria-hidden="true"></i></span>右图标</a>
                                                        <a href="#" tabindex="0" class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary uix-btn__icon uix-btn__icon--left"><span><i class="fa fa-cogs" aria-hidden="true"></i></span>左图标</a>
                                                </div>
                                        </div>
                                </div>
                                <!-- 行列 结束 -->
                        </div>
                        <!-- 容器 结束 -->
                </section>
        </main>
        @@include('./src/components/_global/include-copyright.html')
</div>
<!-- uix-wrapper end -->
@@include('./src/components/_global/include-footer.html')

