<!DOCTYPE html>
<html lang='@@{website_lang}' dir='@@{website_dirLTR}'>
<head>
    <meta charset='@@{website_charset}' />
    <title>按钮 - @@{website_title}</title>
    @@include('./src/components/_global/include-header.html')
</head>
<body class='page'>
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class='uix-wrapper'>
    <!-- Header Area
    ============================================= -->
    <header class='uix-header__container'>
        <div class='uix-header'>
            <div class='container'>
                @@include('./src/components/_global/include-brand.html')
                @@include('./src/components/_global/include-menu.html')
            </div>
            <!-- .container end -->
            <div class='uix-clearfix'></div>
        </div>
    </header>
    <div class='uix-header__placeholder js-uix-header__placeholder-autoheight'></div>
    <main id='uix-maincontent'>
        <!-- Content
        ====================================================== -->
        <section class='uix-spacing--s uix-spacing--no-bottom'>
            <div class='container'>
                <div class='row'>
                    <div class='col-12'>
                        <h3>按钮</h3>
                        <p>
                            如果需要使用多种颜色，可以自己添加CSS样式，如：
                            <code>uix-btn__bg--blue</code>, <code>uix-btn__bg--purple</code> ...
                        </p>
                        <hr>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- Content
         ====================================================== -->
        <section class='uix-spacing--s'>
            <div class='container'>
                <div class='row'>
                    <div class='col-12' id='my-ajax-demo-target-button'>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--hyperlink'>迷你按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--hyperlink'>小按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--hyperlink'>中按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--hyperlink'>大按钮</a>
                        <br>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--hyperlink2'>迷你按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--hyperlink2'>小按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--hyperlink2'>中按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--hyperlink2'>大按钮</a>
                        <br>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary'><i class='fa fa-bullhorn' aria-hidden='true'></i>迷你按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary'><i class='fa fa-bullhorn' aria-hidden='true'></i>小按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary'><i class='fa fa-cogs' aria-hidden='true'></i>中按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary'><i class='fa fa-flask' aria-hidden='true'></i>大按钮</a>
                        <br>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary'>迷你按钮<i class='fa fa-bullhorn' aria-hidden='true'></i></a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary'>小按钮<i class='fa fa-bullhorn' aria-hidden='true'></i></a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary'>中按钮<i class='fa fa-cogs' aria-hidden='true'></i></a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary'>大按钮<i class='fa fa-flask' aria-hidden='true'></i></a>
                        <br>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary uix-btn__icon uix-btn__icon--right'><span><i class='fa fa-bullhorn' aria-hidden='true'></i></span>右图标</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary uix-btn__icon uix-btn__icon--left'><span><i class='fa fa-cogs' aria-hidden='true'></i></span>左图标</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-pill is-transparent uix-btn__icon uix-btn__icon--right'><span><i class='fa fa-bullhorn' aria-hidden='true'></i></span>右图标</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-pill is-transparent uix-btn__icon uix-btn__icon--left'><span><i class='fa fa-cogs' aria-hidden='true'></i></span>左图标</a>
                        <br>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary is-disabled'>迷你按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-disabled'>小按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary is-disabled'>中按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary is-disabled'>大按钮</a>
                        <br>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary is-waiting'>迷你按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-waiting'>小按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary is-waiting'>中按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary is-waiting'>大按钮</a>
                        <br>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary is-pill'>迷你胶囊按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-pill'>小胶囊按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary is-pill'>中胶囊按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary is-pill'>大胶囊按钮</a>
                        <br>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary is-rounded'>迷你按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-rounded'>小按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary is-rounded'>中按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary is-rounded'>大按钮</a>
                        <br>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary is-pill is-transparent'>迷你胶囊按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-pill is-transparent'>小胶囊按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary is-pill is-transparent'>中胶囊按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary is-pill is-transparent'>大胶囊按钮</a>
                        <hr>
                        <div class='uix-btn__group uix-btn__margin--b'>
                            <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary is-pill is-transparent'>按钮组</a>
                            <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary is-pill is-transparent'>按钮组</a>
                            <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary is-pill is-transparent'>按钮组</a>
                        </div>
                        <br>
                        <div class='uix-btn__group uix-btn__margin--b'>
                            <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary'>按钮组</a>
                            <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary'>按钮组</a>
                            <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary'>按钮组</a>
                        </div>
                        <hr>
                        <div class='uix-btn__group is-fullwidth uix-btn__margin--b'>
                            <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary is-pill is-transparent'>按钮组</a>
                            <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary is-pill is-transparent'>按钮组</a>
                            <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary is-pill is-transparent'>按钮组</a>
                        </div>
                        <br>
                        <div class='uix-btn__group is-fullwidth uix-btn__margin--b'>
                            <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary'>按钮组</a>
                            <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary'>按钮组</a>
                            <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary'>按钮组</a>
                        </div>
                        <hr>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary is-fullwidth'>迷你全屏宽度</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-fullwidth'>小全屏宽度</a>
                        <br>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary is-fullwidth'>中全屏宽度</a>
                        <br>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary is-fullwidth'>大全屏宽度</a>
                        <br>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary is-fullwidth is-pill'>迷你全屏宽度胶囊按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--primary is-fullwidth is-pill'>小全屏宽度胶囊按钮</a>
                        <br>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--m uix-btn__bg--primary is-fullwidth is-pill'>中全屏宽度胶囊按钮</a>
                        <br>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--l uix-btn__bg--primary is-fullwidth is-pill'>大全屏宽度胶囊按钮</a>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- Content
        ====================================================== -->
        <section class='uix-spacing--s uix-spacing--no-bottom'>
            <div class='container'>
                <div class='row'>
                    <div class='col-12'>
                        <h3>辅助按钮</h3>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- Content
         ====================================================== -->
        <section class='uix-spacing--s'>
            <div class='container'>
                <div class='row'>
                    <div class='col-12'>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-fill-white'>辅助按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-rounded is-fill-white'>辅助圆角按钮</a>
                        <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-pill is-fill-white'>辅助胶囊按钮</a>
                        <br>
                        <div class='uix-t-c' style='background: #333333; padding: 1.5rem 0 0; margin-top: 1rem;'>
                            <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-fill-white'>白色按钮</a>
                            <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary'>白色按钮</a>
                            <br>
                            <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-pill is-fill-white'>白色按钮</a>
                            <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-pill'>白色按钮</a>
                            <br>
                            <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-fill-white uix-btn__icon uix-btn__icon--right'><span><i class='fa fa-bullhorn' aria-hidden='true'></i></span>右图标</a>
                            <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary is-fill-white uix-btn__icon uix-btn__icon--left'><span><i class='fa fa-cogs' aria-hidden='true'></i></span>左图标</a>
                            <br>
                            <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary uix-btn__icon uix-btn__icon--right'><span><i class='fa fa-bullhorn' aria-hidden='true'></i></span>右图标</a>
                            <a href='#' tabindex='0' class='uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--s uix-btn__bg--secondary uix-btn__icon uix-btn__icon--left'><span><i class='fa fa-cogs' aria-hidden='true'></i></span>左图标</a>
                            <br>
                        </div>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
    </main>
    @@include('./src/components/_global/include-copyright.html')
</div>
<!-- .uix-wrapper end -->
@@include('./src/components/_global/include-footer.html')

