/* ======================================================
    <!-- Modal Dialog -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
.uix-modal-box {
    right: 50%;
    left: auto;
    /* Video container */
    .uix-modal-box__video-waiting {
        right: 50%;
        left: auto;
        margin-right: -1rem;
        margin-left: auto;
    }
    .uix-modal-box__close {
        right: auto;
        left: 12px;
    }
    &.is-fullscreen {
        right: 0;
        left: auto;
        .uix-modal-box__close {
            right: auto;
            left: 26px;
        }
    }
}
.uix-modal-mask {
    right: 0;
    left: auto;
}
