<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
    <meta charset="@@{website_charset}" />
    <title>视频背景 - @@{website_title}</title>
    @@include('./src/components/_global/include-header.html')
</head>
<body class="page">
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class="uix-wrapper">
    <!-- 页眉区 -->
    <header class="uix-header__container uix-header__container--overlay">
        <div class="uix-header">
            <!-- 容器 开始 -->
            <div class="container">
                @@include('./src/components/_global/include-brand.html')
                @@include('./src/components/_global/include-menu.html')
            </div>
            <!-- 容器 结束 -->
            <div class="uix-clearfix"></div>
        </div>
    </header>
    <main id="uix-maincontent">
        <!-- 内容 开始 -->
        <div class="uix-video__container-bg" data-embed-video-wrapper="true">
            <div class="uix-video" data-embed-video-width="auto" data-embed-video-height="auto" data-embed-video-controls="false" data-embed-video-autoplay="true" data-embed-video-loop="true">
                <video id="video-demo-1" class="video-js vjs-default-skin" controls poster="assets/videos/480x270/demo.jpg">
                    <source src="assets/videos/480x270/demo.mp4" type="video/mp4">
                    <source src="assets/videos/480x270/demo.webm" type="video/webm">
                </video>
            </div>
        </div>
        <pre class="uix-precode"><label>HTML</label><code>&lt;div class=&quot;uix-video__container-bg&quot; data-embed-video-wrapper=&quot;true&quot;&gt;
    &lt;div class=&quot;uix-video&quot; data-embed-video-width=&quot;auto&quot; data-embed-video-height=&quot;auto&quot; data-embed-video-controls=&quot;false&quot; data-embed-video-autoplay=&quot;true&quot; data-embed-video-loop=&quot;true&quot;&gt;
        &lt;video id=&quot;video-demo-1&quot; class=&quot;video-js vjs-default-skin&quot; controls poster=&quot;assets/videos/480x270/demo.jpg&quot;&gt;
            &lt;source src=&quot;assets/videos/480x270/demo.mp4&quot; type=&quot;video/mp4&quot;&gt;
            &lt;source src=&quot;assets/videos/480x270/demo.webm&quot; type=&quot;video/webm&quot;&gt;
        &lt;/video&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </main>
    @@include('./src/components/_global/include-copyright.html')
</div>
<!-- uix-wrapper end -->
@@include('./src/components/_global/include-footer.html')

