/* ======================================================
   <!-- Overlay -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
.uix-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    display: table;
    width: 100%;
    height: auto;
    padding: 1.5rem;
    background: #ff0000;
    touch-action: none;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }
    &.uix-overlay--white {
        background: rgba(255, 255, 255, 0.6);
    }
    &.uix-overlay--black {
        color: #ffffff;
        background: rgba(34, 34, 34, 0.8);
        a {
            color: #ffffff;
        }
    }
    &.uix-overlay--cover {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
    }
}
/* With parallax */
[class*='uix-parallax'] ~ .uix-overlay {
    display: table !important;
    height: 100% !important;
}


