<!DOCTYPE html>
<html lang='@@{website_lang}' dir='@@{website_dirLTR}'>
<head>
    <meta charset='@@{website_charset}' />
    <title>表单布局 - @@{website_title}</title>
    @@include('./src/components/_global/include-header.html')
</head>
<body class='page'>
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class='uix-wrapper'>
    <!-- Header Area
    ============================================= -->
    <header class='uix-header__container'>
        <div class='uix-header'>
            <div class='container'>
                @@include('./src/components/_global/include-brand.html')
                @@include('./src/components/_global/include-menu.html')
            </div>
            <!-- .container end -->
            <div class='uix-clearfix'></div>
        </div>
    </header>
    <div class='uix-header__placeholder js-uix-header__placeholder-autoheight'></div>
    <main id='uix-maincontent'>
        <!-- Content
        ====================================================== -->
        <section class='uix-spacing--s uix-spacing--no-bottom'>
            <div class='container'>
                <div class='row'>
                    <div class='col-12'>
                        <h3>表单布局</h3>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- Content
         ====================================================== -->
        <section class='uix-spacing--s'>
            <div class='container'>
                <div class='row'>
                    <div class='col-12'>
                        <form method='post' action='#' id='app-my-form'>
                            <pre class='uix-precode uix-precode uix-precode--nolebel'><code>&lt;div class=&#x27;uix-controls-layout&#x27;&gt;
    &lt;div class=&#x27;uix-controls-layout__content&#x27;&gt;
        &lt;div class=&#x27;uix-controls-layout__content__inner&#x27;&gt;
            &lt;div&gt;
                &lt;!-- // --&gt;
                &lt;h3 class=&#x27;uix-typo--color-sub uix-typo--h6 uix-spacing--no uix-typo--style-uppercase&#x27;&gt;左标题&lt;/h3&gt;
                &lt;!-- // --&gt;
            &lt;/div&gt;
            &lt;div&gt;
                &lt;!-- // --&gt;
                &lt;div class=&#x27;uix-controls is-fullwidth is-rounded&#x27;&gt;
                    &lt;input type=&#x27;text&#x27; class=&#x27;js-uix-float-label&#x27; name=&#x27;field-name&#x27;&gt;
                    &lt;label&gt;字段名称&lt;/label&gt;
                &lt;/div&gt;
                &lt;!-- // --&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&#x27;uix-controls-layout__icon&#x27;&gt;
        &lt;i class=&#x27;fa fa-angle-right&#x27;&gt;&lt;/i&gt;
    &lt;/div&gt;
&lt;/div&gt;</code>
</pre>
                            <div class='uix-controls-layout'>
                                <div class='uix-controls-layout__content'>
                                    <div class='uix-controls-layout__content__inner'>
                                        <div>
                                            <!-- // -->
                                            <h3 class='uix-typo--color-sub uix-typo--h6 uix-spacing--no uix-typo--style-uppercase'>左标题</h3>
                                            <!-- // -->
                                        </div>
                                        <div>
                                            <!-- // -->
                                            <div class='uix-controls is-fullwidth is-rounded'>
                                                <input type='text' class='js-uix-float-label' name='field-name'>
                                                <label>字段名称</label>
                                            </div>
                                            <!-- // -->
                                        </div>
                                    </div>
                                </div>
                                <div class='uix-controls-layout__icon'>
                                    <i class='fa fa-angle-right'></i>
                                </div>
                            </div>
                            <pre class='uix-precode uix-precode uix-precode--nolebel'><code>&lt;div class=&#x27;uix-controls-layout&#x27;&gt;
    &lt;div class=&#x27;uix-controls-layout__content&#x27;&gt;
        &lt;div class=&#x27;uix-controls-layout__content__inner&#x27;&gt;
            &lt;div class=&#x27;uix-t-r&#x27;&gt;
                &lt;!-- // --&gt;
                &lt;h3 class=&#x27;uix-typo--color-sub uix-typo--h6 uix-spacing--no uix-typo--style-uppercase&#x27;&gt;右标题&lt;/h3&gt;
                &lt;!-- // --&gt;
            &lt;/div&gt;
            &lt;div&gt;
                &lt;!-- // --&gt;
                &lt;div class=&#x27;uix-controls is-fullwidth is-rounded&#x27;&gt;
                    &lt;input type=&#x27;text&#x27; class=&#x27;js-uix-float-label&#x27; name=&#x27;field-name&#x27;&gt;
                    &lt;label&gt;字段名称&lt;/label&gt;
                &lt;/div&gt;
                &lt;!-- // --&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&#x27;uix-controls-layout__icon&#x27;&gt;
        &lt;i class=&#x27;fa fa-angle-right&#x27;&gt;&lt;/i&gt;
    &lt;/div&gt;
&lt;/div&gt;</code>
</pre>
                            <div class='uix-controls-layout'>
                                <div class='uix-controls-layout__content'>
                                    <div class='uix-controls-layout__content__inner'>
                                        <div class='uix-t-r'>
                                            <!-- // -->
                                            <h3 class='uix-typo--color-sub uix-typo--h6 uix-spacing--no uix-typo--style-uppercase'>右标题</h3>
                                            <!-- // -->
                                        </div>
                                        <div>
                                            <!-- // -->
                                            <div class='uix-controls is-fullwidth is-rounded'>
                                                <input type='text' class='js-uix-float-label' name='field-name'>
                                                <label>字段名称</label>
                                            </div>
                                            <!-- // -->
                                        </div>
                                    </div>
                                </div>
                                <div class='uix-controls-layout__icon'>
                                    <i class='fa fa-angle-right'></i>
                                </div>
                            </div>
                            <pre class='uix-precode uix-precode uix-precode--nolebel'><code>&lt;div class=&#x27;uix-controls-layout&#x27;&gt;
    &lt;div class=&#x27;uix-controls-layout__content&#x27;&gt;
        &lt;div class=&#x27;uix-controls-layout__content__inner&#x27;&gt;
            &lt;div&gt;
                &lt;!-- // --&gt;
                &lt;h3 class=&#x27;uix-typo--color-sub uix-typo--h6 uix-spacing--no uix-typo--style-uppercase&#x27;&gt;没有图标&lt;/h3&gt;
                &lt;!-- // --&gt;
            &lt;/div&gt;
            &lt;div&gt;
                &lt;!-- // --&gt;
                &lt;div class=&#x27;uix-controls is-fullwidth is-rounded&#x27;&gt;
                    &lt;input type=&#x27;text&#x27; class=&#x27;js-uix-float-label&#x27; name=&#x27;field-name&#x27;&gt;
                    &lt;label&gt;字段名称&lt;/label&gt;
                &lt;/div&gt;
                &lt;!-- // --&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code>
</pre>
                            <div class='uix-controls-layout'>
                                <div class='uix-controls-layout__content'>
                                    <div class='uix-controls-layout__content__inner'>
                                        <div>
                                            <!-- // -->
                                            <h3 class='uix-typo--color-sub uix-typo--h6 uix-spacing--no uix-typo--style-uppercase'>没有图标</h3>
                                            <!-- // -->
                                        </div>
                                        <div>
                                            <!-- // -->
                                            <div class='uix-controls is-fullwidth is-rounded'>
                                                <input type='text' class='js-uix-float-label' name='field-name'>
                                                <label>字段名称</label>
                                            </div>
                                            <!-- // -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
    </main>
    @@include('./src/components/_global/include-copyright.html')
</div>
<!-- .uix-wrapper end -->
@@include('./src/components/_global/include-footer.html')

