/* ======================================================
   <!-- Footer Templates -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
.uix-special-footer__container {
    margin: 3rem 0 0;
    padding: 3rem 0;
    color: $sub-text-color;
    background: $primary-text-color;
    &.is-transparent {
        background: none;
    }
    img.logo {
        max-width: 150px;
        margin-bottom: 1.5rem;
    }
    h3,
    .uix-typo--h3 {
        font-size: 1.2em;
        font-weight: 500;
        margin-bottom: 1rem;
        color: $sub-text-color;
    }
    .uix-special-footer__menus {
        display: flex;
        > .uix-special-footer__menus__list {
            flex: 1;
            li {
                display: block;
                margin: .5rem 0;
            }
        }
    }
}
@media all and (max-width: 768px) {
    .uix-special-footer__container {
        margin: 3rem 0;
        .uix-f-l,
        .uix-f-r {
            position: relative !important;
            display: block !important;
            float: none;
            width: 100% !important;
            text-align: left;
        }
        .uix-t-l,
        .uix-t-r {
            float: none;
            text-align: center;
        }
        .uix-special-footer__menus {
            &.uix-special-footer__menus--mobile-nowrap {
                flex-wrap: nowrap;
            }
            &.uix-special-footer__menus--mobile-wrap {
                flex-wrap: wrap;
            }
            > .uix-special-footer__menus__list {
                flex: 1 100%;
            }
        }
    }
}
