/* ======================================================
   <!-- 内容占位符动画 Content Placeholder Animated -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
.uix-content-placeholder {
    .uix-content-placeholder__thumbSlot {
        float: right;
        ~ .uix-content-placeholder__textSlot {
            float: right;
            margin-right: 20px;
            margin-left: auto;
        }
    }
}
