/* ======================================================
   <!-- Progress Bar -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
/*
 * 1. Radial Progress Bar
 * 2. Rectangle Progress Bar
*/
$bar-size: 100px;
$bar-line-size: 8px;
$bar-bg: $primary-text-color;
$bar-track-bg: rgba(236, 236, 236, 1.00);
$bar-fill-color: $highlight-color1;
$bar-speed: 0.8s;
/*
 ---------------------------
 1. Radial Progress Bar
 ---------------------------
 */
@mixin size($w, $h) {
    height: $h;
    width: $w;
}
.uix-progressbar--circle {
    @include size($bar-size, $bar-size);
    position: relative;
    display: inline-block;
    margin: 1rem;
    .uix-progressbar__title {
        padding-top: 1rem;
        color: $primary-text-color;
    }
    .uix-progressbar__pie {
        @include size(100%, 100%);
        position: absolute;
        top: 0;
        left: 0;
        clip: rect(0, $bar-size, $bar-size, $bar-size / 2);
        .uix-progressbar__pie--half-circle {
            position: absolute;
            @include size(100%, 100%);
            top: 0;
            left: 0;
            clip: rect(0, $bar-size / 2, $bar-size, 0);
            transition: all #{$bar-speed} ease;
            border: $bar-line-size solid;
            border-radius: 50%;
        }
    }
    .uix-progressbar__track {
        font-size: 1rem;
        line-height: $bar-size;
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        color: #ffffff;
        border: $bar-line-size solid $bar-track-bg;
        border-radius: 100%;
        background: $bar-bg;
        > span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            margin-top: -.5rem;
        }
        .uix-progressbar__unit {
            font-size: 0.875rem;
            font-style: normal;
            display: inline-block;
            margin-left: .1rem;
            color: $sub-text-color;
        }
    }
    &.is-transparent {
        .uix-progressbar__track {
            color: $primary-text-color;
            background: none;
        }
    }
    @for $i from 1 to 101 {
        &.uix-progressbar--progress-#{$i} {
            @if $i <= 50 {
                .uix-progressbar__pie {
                    .uix-progressbar__pie--right-side {
                        display: none;
                    }
                }
            }
            @if $i > 50 {
                .uix-progressbar__pie {
                    clip: rect(auto, auto, auto, auto);
                    .uix-progressbar__pie--right-side {
                        transform: rotate(180deg);
                    }
                }
            }
            .uix-progressbar__pie {
                .uix-progressbar__pie--half-circle {
                    border-color: $bar-fill-color;
                }
                .uix-progressbar__pie--left-side {
                    transform: rotate(#{$i*3.5}deg);
                }
            }
            @if $i == 100 {
                .uix-progressbar__pie {
                    .uix-progressbar__pie--right-side {
                        transform: rotate(170deg);
                    }
                }
            }
        }
    }
    /* End For */
}
/*
 ---------------------------
 2. Rectangle Progress Bar
 ---------------------------
 */
.uix-progressbar--rectangle {
    position: relative;
    display: block;
    width: calc(100% - 2rem);
    margin: 1rem;
    .uix-progressbar__title {
        color: $primary-text-color;
    }
    .uix-progressbar__bar {
        height: $bar-line-size;
        background-color: $bar-track-bg;
        > span {
            font-weight: bold;
            position: absolute;
            top: 0;
            right: 0;
            .uix-progressbar__unit {
                font-size: 0.875rem;
                font-style: normal;
                display: inline-block;
                margin-left: .1rem;
                color: $sub-text-color;
            }
        }
        .uix-progressbar__track {
            position: relative;
            width: 0;
            height: 100%;
            transition: all #{$bar-speed} ease;
            color: $primary-text-color;
            background-color: $bar-fill-color;
        }
    }
    @for $i from 1 to 101 {
        &.uix-progressbar--progress-#{$i} .uix-progressbar__track {
            width: #{$i}#{"%"};
        }
    }
}
