<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
    <meta charset="@@{website_charset}" />
    <title>进度线 - @@{website_title}</title>
    @@include('./src/components/_global/include-header.html')
</head>
<body class="page">
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class="uix-wrapper">
    <!-- 页眉区 -->
    <header class="uix-header__container">
        <div class="uix-header">
            <!-- 容器 开始 -->
            <div class="container">
                @@include('./src/components/_global/include-brand.html')
                @@include('./src/components/_global/include-menu.html')
            </div>
            <!-- 容器 结束 -->
            <div class="uix-clearfix"></div>
        </div>
    </header>
    <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
    <main id="uix-maincontent">
        <!-- 内容 开始 -->
        <section class="uix-spacing--s uix-spacing--no-bottom">
            <!-- 容器 开始 -->
            <div class="container">
                <!-- 行列 开始 -->
                <div class="row">
                    <div class="col-12">
                        <h3>进度线</h3>
                        <p>将鼠标移到元素上查看效果</p>
                    </div>
                </div>
                <!-- 行列 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 结束 -->
        <section class="uix-spacing--s">
            <!-- 容器 开始 -->
            <div class="container">
                <pre class="uix-precode"><label>HTML</label><code>此处插入反义代码块</code></pre>
                <div class="uix-progress-line uix-t-c">
                    <div class="uix-progress-line__circle">
                        <span class="uix-progress-line__circle__label"><i class="fa fa-flag" aria-hidden="true"></i></span>
                        <span class="uix-progress-line__circle__num">01</span>
                        <span class="uix-progress-line__circle__title">标题</span>
                    </div>
                    <span class="uix-progress-line__bar"></span>
                    <div class="uix-progress-line__circle">
                        <span class="uix-progress-line__circle__label"><i class="fa fa-ban" aria-hidden="true"></i></span>
                        <span class="uix-progress-line__circle__num">02</span>
                        <span class="uix-progress-line__circle__title">标题</span>
                    </div>
                    <span class="uix-progress-line__bar"></span>
                    <div class="uix-progress-line__circle">
                        <span class="uix-progress-line__circle__label"><i class="fa fa-arrows-alt" aria-hidden="true"></i></span>
                        <span class="uix-progress-line__circle__num">03</span>
                        <span class="uix-progress-line__circle__title">标题</span>
                    </div>
                    <span class="uix-progress-line__bar"></span>
                    <div class="uix-progress-line__circle">
                        <span class="uix-progress-line__circle__label"><i class="fa fa-microphone" aria-hidden="true"></i></span>
                        <span class="uix-progress-line__circle__num">04</span>
                        <span class="uix-progress-line__circle__title">标题</span>
                    </div>
                    <span class="uix-progress-line__bar"></span>
                    <div class="uix-progress-line__circle">
                        <span class="uix-progress-line__circle__label"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                        <span class="uix-progress-line__circle__num">05</span>
                        <span class="uix-progress-line__circle__title">标题</span>
                    </div>
                    <span class="uix-progress-line__bar"></span>
                    <div class="uix-progress-line__circle">
                        <span class="uix-progress-line__circle__label"><i class="fa fa-eye" aria-hidden="true"></i></span>
                        <span class="uix-progress-line__circle__num">06</span>
                        <span class="uix-progress-line__circle__title">标题</span>
                    </div>
                    <span class="uix-progress-line__bar"></span>
                </div>
            </div>
            <!-- 容器 结束 -->
        </section>
    </main>
    @@include('./src/components/_global/include-copyright.html')
</div>
<!-- uix-wrapper end -->
@@include('./src/components/_global/include-footer.html')

