/* ======================================================
   <!-- Progress Line -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
$line-bar-w: 45px;
.uix-progress-line {
    position: relative;
    width: 100%;
    .uix-progress-line__circle,
    .uix-progress-line__bar {
        position: relative;
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #ffffff;
        @include transition-default();
    }
    .uix-progress-line__bar {
        position: absolute;
        top: 50px;
        overflow: hidden;
        width: $line-bar-w;
        height: 1px;
        margin-right: -5px;
        margin-left: -5px;
        border-radius: 0;
        background: #ececec;
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: $line-bar-w;
            height: 100%;
            content: '';
            transform: translateX(-100%);
            background: $highlight-color1;
            @include transition-default();
        }
        &:last-child {
            display: none;
        }
        &.is-active {
            &::after {
                transform: translateX(0);
            }
        }
    }
    .uix-progress-line__circle__label {
        font-size: 1rem;
        position: relative;
        display: inline-block;
        width: 85px;
        height: 85px;
        margin-top: 3px;
        color: #ffffff;
        border-radius: 50%;
        @include transition-default();
        i {
            font-size: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: 0;
            transform: translate(-50%, -50%);
        }
    }
    .uix-progress-line__circle__title {
        font-size: 1rem;
        font-weight: bold;
        display: block;
        margin-left: -5px;
        padding-top: 1.5rem;
        color: $primary-text-color;
        @include ellipsis();
        @include transition-default();
    }
    .uix-progress-line__circle__num {
        font-size: 1.875rem;
        position: absolute;
        top: 142%;
        left: 50%;
        transform: translateX(-50%);
        color: #e8edee;
        @include transition-default();
    }
    .uix-progress-line__circle {
        margin-left: #{$line-bar-w - 5px};
        text-align: center;
        opacity: .6;
        background: rgba(0, 0, 0, .2);
        &:first-child {
            margin-left: 0;
        }
        &.is-active {
            opacity: 1;
            border: 1px solid $highlight-color1;
            background: #ffffff;
            .uix-progress-line__circle__label {
                margin-top: 6px;
                color: #ffffff;
                background: $highlight-color1;
            }
        }
    }
}
