/* ======================================================
   <!-- 自定义灯箱 Cutom Light Box -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
/*
 * 1. 初始化模块
 * 2. 点击放大灯箱图片
*/
$lb-custom-w: 1000px;
/*
 ---------------------------
 1. 初始化模块
 ---------------------------
 */
$lb-radius: 3px;
.uix-lightbox__content-container {
    display: none;
}
.uix-lightbox__container-mask {
    position: fixed;
    z-index: 99997;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    margin: 0;
    background: rgba(0, 0, 0, .6);
}
.uix-lightbox__close {
    position: fixed;
    z-index: 99998;
    top: 15px;
    right: 15px;
    display: none;
    text-align: center;
    border-radius: 50%;
    > button {
        line-height: 34px;
        width: 36px;
        height: 36px;
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        &::after {
            font-family: 'Font Awesome 5 Free';
            font-size: 2rem;
            font-weight: 600;
            content: "\f00d";
            color: #ffffff;
            text-shadow: 0 0 1px rgba(0, 0, 0, .1);
        }
        &:focus {
            outline: 3px auto -webkit-focus-ring-color;
        }
    }
    &.is-active {
        display: block;
    }
}
.uix-lightbox__loading {
    position: fixed;
    z-index: 99998;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: #ffffff;
    &.is-loaded {
        display: none;
    }
}
.uix-lightbox__container {
    position: fixed;
    z-index: 99998;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    pointer-events: none; /* 避免遮罩被阻塞 */
    .uix-lightbox__inner {
        position: relative;
        top: 50%;
        display: none;
        max-width: #{$lb-custom-w};
        margin: 0 auto;
        transform: translateY(-50%);
        text-align: center;
        pointer-events: all;
        .uix-lightbox__html {
            text-align: center;
            .uix-lightbox__photo-container {
                display: inline-block;
                transition: all 0.1s ease;
                &.uix-lightbox__photo-sets-container {
                    position: relative;
                    overflow: hidden;
                    background-color: transparent;
                }
                .uix-lightbox__photo-sets__prev,
                .uix-lightbox__photo-sets__next {
                    position: absolute;
                    z-index: 2;
                    top: 50%;
                    display: inline-block;
                    transform: translateY(-50%);
                    opacity: .7;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    &::before {
                        font-family: 'Font Awesome 5 Free';
                        font-size: 2.5rem;
                        font-weight: 600;
                        display: block;
                        color: #ffffff;
                    }
                    &:hover {
                        opacity: 1;
                    }
                }
                .uix-lightbox__photo-sets__prev {
                    left: 0;
                    &::before {
                        content: "\f104";
                    }
                }
                .uix-lightbox__photo-sets__next {
                    right: 0;
                    &::before {
                        content: "\f105";
                    }
                }
                ul {
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    li {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: none;
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        @include transition-default();
                        img {
                            max-width: calc(100% - 6rem);
                        }
                        &.is-active {
                        }
                        &:first-child {
                            display: block;
                            width: auto;
                        }
                    }
                }
            }
            .uix-lightbox__thumb-container {
                position: absolute;
                bottom: 0;
                left: 50%;
                overflow: hidden;
                overflow-x: auto;
                width: 100%;
                transform: translateX(-50%);
                text-align: center;
                white-space: nowrap;
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        display: inline-block;
                        width: 100px;
                        max-height: 100px;
                        margin-right: 10px;
                        margin-bottom: 10px;
                        padding: 0;
                        cursor: pointer;
                        transform: scale(.9);
                        @include transition-default();
                        &.is-active {
                            transform: scale(1);
                        }
                        img {
                            box-shadow: 0px 6px 21px 1px rgba(0, 0, 0, 0.29);
                        }
                    }
                }
            }
            &::before,
            &::after {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 25px;
                content: '';
                border-top-left-radius: $lb-radius;
                border-top-right-radius: $lb-radius;
                background: #ffffff;
            }
            &::after {
                top: auto;
                bottom: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: $lb-radius;
                border-bottom-left-radius: $lb-radius;
            }
            &.js-uix-no-img {
                border-radius: $lb-radius;
                background: #ffffff;
            }
            > .uix-lightbox__content {
                position: relative;
                /* Required Width */
                overflow-y: auto;
                width: 600px;
                max-height: 60vh;
                text-align: left;
                word-wrap: break-word;
                > div {
                    font-size: 0.75rem;
                    padding: 1.5rem;
                    color: $sub-text-color;
                    img {
                        max-width: 100% !important;
                        height: auto !important;
                    }
                }
            }
            > img {
                width: auto;
                max-width: 100%;
                border-radius: $lb-radius;
            }
        }
        &.js-uix-pure-image {
            .uix-lightbox__html {
                &::before,
                &::after {
                    display: none;
                }
                img {
                    max-height: 95vh; /* 此处不要使用百分比 */
                }
            }
        }
        /* 你想要的自定义内容宽度 */
        &.js-uix-custom {
            max-width: 70vw;
            .uix-lightbox__html {
                > .uix-lightbox__content {
                    width: 70vw;
                    max-width: 100%;
                }
            }
        }
    }
    &.js-uix-no-fixed {
        position: absolute;
        top: 100px;
        &.no-fixed-imgEnlarged {
            position: fixed;
            top: 0;
            margin-top: 0 !important; /* 防止 js */
        }
        .uix-lightbox__inner {
            top: 0;
            padding-bottom: 5rem;
            transform: translateY(0);
            .uix-lightbox__html {
                &::after {
                    bottom: 5rem;
                }
            }
            &.js-uix-pure-image {
                .uix-lightbox__html {
                    img {
                        max-height: inherit;
                    }
                }
            }
            &.js-uix-custom {
                max-width: 1200px;
                .uix-lightbox__html > .uix-lightbox__content {
                    width: #{$lb-custom-w};
                    max-height: inherit;
                }
            }
        }
    }
}
@include customScrollbar('vertical', '.uix-lightbox__content');
@include customScrollbar('horizontal', '.uix-lightbox__thumb-container');
@media all and (max-width: 768px) {
    .uix-lightbox__container {
        .uix-lightbox__inner {
            max-width: calc(100% - 30px) !important;
            margin: 15px auto;
            .uix-lightbox__html {
                > .uix-lightbox__content {
                    width: auto;
                }
                .uix-lightbox__thumb-container {
                    bottom: -100px;
                }
            }
            /* 你想要的自定义内容宽度 */
            &.js-uix-custom {
                max-width: calc(100vw - 30px);
                .uix-lightbox__html {
                    > .uix-lightbox__content {
                        width: auto;
                    }
                }
            }
        }
        &.js-uix-no-fixed {
            top: 50px;
            &.no-fixed-imgEnlarged {
                top: 0;
            }
            .uix-lightbox__inner {
                /* 防止关闭按钮位置出错 */
                overflow: hidden;
                &.js-uix-custom {
                    max-width: calc(100vw - 30px);
                    .uix-lightbox__html > .uix-lightbox__content {
                        width: auto;
                    }
                }
            }
        }
    }
}
/*
 ---------------------------
 2. 点击放大灯箱图片
 ---------------------------
 */
a.uix-lightbox__original__link {
    display: block;
    cursor: zoom-in;
}
/* 设置关闭链接的样式，添加向下滑动过渡 */
.uix-lightbox__original__close {
    position: fixed;
    z-index: 100001;
    top: 0;
    right: 0;
    display: none;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: black;
    background: white;
    @include transition-default();
    &.is-active {
        display: block;
    }
    /* 提供部分“X”以从关闭链接中删除图像 */
    &::before {
        position: absolute;
        top: 10px;
        left: 26px;
        display: block;
        width: 1px;
        height: 30px;
        content: "";
        transform: rotate(45deg);
        background: black;
    }
    /* 提供部分“X”以从关闭链接中删除图像 */
    &::after {
        position: absolute;
        top: 10px;
        left: 26px;
        display: block;
        width: 1px;
        height: 30px;
        content: "";
        transform: rotate(-45deg);
        background: black;
    }
}
/* 设置灯箱图像的样式，将其垂直和水平居中，添加放大过渡并结合使用边距和绝对定位使其响应 */
.uix-lightbox__original__target {
    position: fixed;
    z-index: 100000;
    top: 50% !important;
    left: 50% !important;
    overflow: hidden;
    overflow-y: auto;
    width: 100vw;
    transition: opacity .2s ease-in-out;
    transform: translate(-50%, -50%);
    opacity: 0;
    background: rgba(0, 0, 0, .7);
    &::-webkit-scrollbar-track {
        border-radius: 0px;
        background-color: #dddddd;
    }
    &::-webkit-scrollbar {
        width: 5px;
        background-color: #333333;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #333333;
    }
    img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-sizing: border-box;
        width: auto !important; /* 防止 js */
        max-width: 0%;
        height: auto !important; /* 防止 js */
        max-height: 0%;
        margin: auto !important; /* 防止 js */
        box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
    }
    /* 在点击 .uix-lightbox__original__target 锚点时执行动画 */
    &.is-active {
        top: 0;
        bottom: 0;
        height: 100vh;
        opacity: 1;
        /* 放大图片时 */
        &.no-fixed-imgEnlarged {
            top: 0 !important;
            transform: translate(-50%, 0);
        }
        img {
            width: auto;
            max-width: 100% !important;
            height: auto;
            max-height: inherit !important;
        }
        .uix-lightbox__original__close {
            top: 0px;
        }
    }
    &.uix-lightbox__original__target--imgfull {
        img {
            margin: 0 auto !important; /* 防止 js */
        }
    }
}
