/* ======================================================
   <!-- Content Placeholder Animated -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
$uix-content-placeholder-w: 100%;
.uix-content-placeholder {
    width: 100%;
    &::after {
        display: block;
        clear: both;
        content: '';
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        overflow: hidden;
        margin: 0;
        padding: 15px 0;
        border: 0;
        background: 0;
    }
    .uix-content-placeholder__line {
        height: 8px;
        background-color: #f2f2f2;
    }
    .uix-content-placeholder__line--first {
        width: 100%;
        animation: uix-cssAnim--firstline 1s infinite linear;
    }
    .uix-content-placeholder__line--second {
        width: #{$uix-content-placeholder-w - 30%};
        margin-top: 8px;
        animation: uix-cssAnim--secondline 1s infinite linear;
    }
    .uix-content-placeholder__thumbSlot {
        float: left;
        width: 80px;
        height: 60px;
        animation: uix-cssAnim--thumb 1s infinite linear;
        background-color: #f2f2f2;
        ~ .uix-content-placeholder__textSlot {
            float: left;
            width: calc(#{$uix-content-placeholder-w} - 100px);
            margin-left: 20px;
        }
    }
    .uix-content-placeholder__textSlot {
        width: #{$uix-content-placeholder-w};
        margin-top: 2px;
        ~ .uix-content-placeholder__thumbSlot {
            width: #{$uix-content-placeholder-w};
            margin-top: 10px;
        }
    }
}
@keyframes uix-cssAnim--firstline {
    from {
        box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3);
    }
    to {
        box-shadow: inset 200px 0 0 rgba(255, 255, 255, 0.3);
    }
}
@keyframes uix-cssAnim--secondline {
    from {
        box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3);
    }
    to {
        box-shadow: inset 150px 0 0 rgba(255, 255, 255, 0.3);
    }
}
@keyframes uix-cssAnim--thumb {
    from {
        box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3);
    }
    to {
        box-shadow: inset 80px 0 0 rgba(255, 255, 255, 0.3);
    }
}
