<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
    <meta charset="@@{website_charset}" />
    <title>下拉菜单 2（多级下拉导航）Dropdown Menu 2 (Multi-level drop-down navigation) - @@{website_title}</title>
    @@include('./src/components/_global/include-header.html')
</head>
<body class="page">
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class="uix-wrapper">
    <!-- 页眉区 -->
    <header class="uix-header__container">
        <div class="uix-header">
            <!-- 容器 开始 -->
            <div class="container">
                @@include('./src/components/_global/include-brand.html')
                @@include('./src/components/_global/include-menu.html')
            </div>
            <!-- 容器 结束 -->
            <div class="uix-clearfix"></div>
        </div>
    </header>
    <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
    <main id="uix-maincontent">
        <!-- 内容 开始 -->
        <section class="uix-spacing--s uix-spacing--no-bottom">
            <!-- 容器 开始 -->
            <div class="container">
                <!-- 行列 开始 -->
                <div class="row">
                    <div class="col-12">
                        <h3>多级下拉导航</h3>
                        <p>单击超链接显示下拉菜单</p>
                        <hr>
                    </div>
                </div>
                <!-- 行列 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 结束 -->
        <!-- 内容 开始 -->
        <section class="uix-spacing--s">
            <!-- 容器 开始 -->
            <div class="container">
                <!-- 行列 开始 -->
                <div class="row">
                    <div class="col-12">
                        <pre class="uix-precode uix-t-l"><label>HTML</label><code>&lt;ul class=&quot;uix-vertical-menu&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;1 级&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;1 级&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;1 级&lt;/a&gt;
        &lt;ul&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;2级&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;2级&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;2级&lt;/a&gt;
                &lt;ul&gt;
                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;3 级&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;3 级&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;3 级&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;1 级&lt;/a&gt;
        &lt;ul&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;2级&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;2级&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;1 级&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
                        <ul class="uix-vertical-menu">
                            <li><a href="#">1 级</a></li>
                            <li><a href="#">1 级</a></li>
                            <li><a href="#">1 级</a>
                                <ul>
                                    <li><a href="#">2级</a></li>
                                    <li><a href="#">2级</a></li>
                                    <li><a href="#">2级</a>
                                        <ul>
                                            <li><a href="#">3 级</a></li>
                                            <li><a href="#">3 级</a></li>
                                            <li><a href="#">3 级</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">1 级</a>
                                <ul>
                                    <li><a href="#">2级</a></li>
                                    <li><a href="#">2级</a></li>
                                </ul>
                            </li>
                            <li><a href="#">1 级</a></li>
                        </ul>
                    </div>
                </div>
                <!-- 行列 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 结束 -->
    </main>
    @@include('./src/components/_global/include-copyright.html')
</div>
@@include('./src/components/_global/include-footer.html')

