<!DOCTYPE html>
<html lang='@@{website_lang}' dir='@@{website_dirLTR}'>
<head>
    <meta charset='@@{website_charset}' />
    <title>下拉菜单 2（多级） - @@{website_title}</title>
    @@include('./src/components/_global/include-header.html')
</head>
<body class='page'>
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class='uix-wrapper'>
    <!-- Header Area
    ============================================= -->
    <header class='uix-header__container'>
        <div class='uix-header'>
            <div class='container'>
                @@include('./src/components/_global/include-brand.html')
                @@include('./src/components/_global/include-menu.html')
            </div>
            <!-- .container end -->
            <div class='uix-clearfix'></div>
        </div>
    </header>
    <div class='uix-header__placeholder js-uix-header__placeholder-autoheight'></div>
    <main id='uix-maincontent'>
        <!-- Content
        ====================================================== -->
        <section class='uix-spacing--s uix-spacing--no-bottom'>
            <div class='container'>
                <div class='row'>
                    <div class='col-12'>
                        <h3>多级下拉导航</h3>
                        <p>单击超链接显示下拉菜单</p>
                        <hr>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- Content
         ====================================================== -->
        <section class='uix-spacing--s'>
            <div class='container'>
                <div class='row'>
                    <div class='col-12'>
                        <ul class='uix-vertical-menu'>
                            <li><a href='#'>1 级</a></li>
                            <li><a href='#'>1 级</a></li>
                            <li><a href='#'>1 级</a>
                                <ul>
                                    <li><a href='#'>2级</a></li>
                                    <li><a href='#'>2级</a></li>
                                    <li><a href='#'>2级</a>
                                        <ul>
                                            <li><a href='#'>3 级</a></li>
                                            <li><a href='#'>3 级</a></li>
                                            <li><a href='#'>3 级</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href='#'>1 级</a>
                                <ul>
                                    <li><a href='#'>2级</a></li>
                                    <li><a href='#'>2级</a></li>
                                </ul>
                            </li>
                            <li><a href='#'>1 级</a></li>
                        </ul>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
    </main>
    @@include('./src/components/_global/include-copyright.html')
</div>
<!-- .uix-wrapper end -->
@@include('./src/components/_global/include-footer.html')

