<!DOCTYPE html>
<html lang='@@{website_lang}' dir='@@{website_dirLTR}'>
<head>
    <meta charset='@@{website_charset}' />
    <title>等宽列 - @@{website_title}</title>
    @@include('./src/components/_global/include-header.html')
</head>
<body class='page'>
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class='uix-wrapper'>
    <!-- Header Area
    ============================================= -->
    <header class='uix-header__container'>
        <div class='uix-header'>
            <div class='container'>
                @@include('./src/components/_global/include-brand.html')
                @@include('./src/components/_global/include-menu.html')
            </div>
            <!-- .container end -->
            <div class='uix-clearfix'></div>
        </div>
    </header>
    <div class='uix-header__placeholder js-uix-header__placeholder-autoheight'></div>
    <main id='uix-maincontent'>
        <!-- Content
        ====================================================== -->
        <section class='uix-spacing--s uix-spacing--no-bottom'>
            <div class='container'>
                <div class='row'>
                    <div class='col-12'>
                        <h3>等宽列</h3>
                        <p>仅使用 CSS，我们可以创建一个选项卡式导航，其选项卡始终占据可用宽度的相等份额。 没有 JS 来询问 DOM，没有服务器端逻辑来计算项目，没有内联样式。</p>
                        <hr>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- Content
         ====================================================== -->
        <section class='uix-spacing--s'>
            <div class='container'>
                <div class='uix-equal-width-divs uix-t-c'>
                    <ul>
                        <li><h3>223</h3><span>Web Design</span></li>
                        <li><h3>13</h3><span>UI</span></li>
                        <li><h3>5</h3><span>SEO</span></li>
                        <li><h3>567</h3><span>Interaction</span></li>
                    </ul>
                </div>
                <!-- .uix-equal-width-divs  end -->
                <div class='uix-equal-width-divs uix-equal-width-divs--no-break uix-t-c'>
                    <ul>
                        <li><h3>223</h3><span>No Break</span></li>
                        <li><h3>13</h3><span>No Break</span></li>
                        <li><h3>5</h3><span>No Break</span></li>
                        <li><h3>567</h3><span>No Break</span></li>
                    </ul>
                </div>
                <!-- .uix-equal-width-divs  end -->
            </div>
            <!-- .container end -->
        </section>
    </main>
    @@include('./src/components/_global/include-copyright.html')
</div>
<!-- .uix-wrapper end -->
@@include('./src/components/_global/include-footer.html')

