<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
    <meta charset="@@{website_charset}"/>
    <title>全宽列到边缘 Full Width Column to Edge - @@{website_title}</title>
    @@include('./src/components/_global/include-header.html')
</head>
<body class="page">
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class="uix-wrapper">
    <!-- 页眉区 开始 -->
    <header class="uix-header__container">
        <div class="uix-header">
            <div class="container">
                @@include('./src/components/_global/include-brand.html')
                @@include('./src/components/_global/include-menu.html')
            </div>
            <!-- 容器 结束 -->
            <div class="uix-clearfix"></div>
        </div>
    </header>
    <!-- 页眉区 结束 -->
    <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
    <main id="uix-maincontent">
        <!-- 内容 开始 -->
        <section class="uix-spacing--s uix-spacing--no-bottom">
            <!-- 容器 开始 -->
            <div class="container">
                <!-- 行列 开始 -->
                <div class="row">
                    <div class="col-12">
                        <h3>全宽列到边缘</h3>
                        <p>您还可以选择行的内容是全宽还是固定宽度。</p>
                        <hr>
                    </div>
                </div>
                <!-- 行列 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 结束 -->
        <!-- 内容 开始 -->
        <section class="uix-spacing--s">
            <pre class="uix-precode uix-t-l"><label>HTML</label><code>&lt;div class=&quot;row js-uix-common-height&quot;&gt;
    &lt;div class=&quot;col-lg-6 col-md-6&quot;&gt;
        &lt;div class=&quot;uix-filter-hover--color&quot;&gt;
            &lt;img src=&quot;assets/images/demo/test-img-big-1.jpg&quot; alt=&quot;&quot;&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-lg-6 col-md-6&quot;&gt;
        &lt;div class=&quot;uix-v-align--table&quot;&gt;
            &lt;div&gt;
                &lt;!-- /// --&gt;
                &lt;h4 class=&quot;uix-t-c&quot;&gt;标题&lt;/h4&gt;
                &lt;p class=&quot;uix-t-c&quot;&gt;Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit。 Cras mattis consectetur purus sit amet fermentum。 Morbi leo risus，porta ac consectetur ac，前庭在 eros。 Praesent commodo cursus magna, vel scelerisque nisl consectetur 等。 &lt;/p&gt;
                &lt;!-- /// --&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
            <!-- 行列 开始 -->
            <div class="row js-uix-common-height">
                <div class="col-lg-6 col-md-6">
                    <div class="uix-filter-hover--color">
                        <img src="assets/images/demo/test-img-big-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="uix-v-align--table">
                        <div>
                            <!-- /// -->
                            <h4 class="uix-t-c">标题</h4>
                            <p class="uix-t-c">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit。 Cras mattis consectetur purus sit amet fermentum。 Morbi leo risus，porta ac consectetur ac，前庭在 eros。 Praesent commodo cursus magna, vel scelerisque nisl consectetur 等。 </p>
                            <!-- /// -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- 行列 结束 -->
            <br><br>
            <pre class="uix-precode uix-t-l"><label>HTML</label><code>&lt;div class=&quot;row js-uix-common-height&quot;&gt;
    &lt;div class=&quot;col-lg-6 col-md-6&quot;&gt;
        &lt;div class=&quot;uix-v-align--table&quot;&gt;
            &lt;div&gt;
                &lt;!-- /// --&gt;
                &lt;h4 class=&quot;uix-t-c&quot;&gt;标题&lt;/h4&gt;
                &lt;p class=&quot;uix-t-c&quot;&gt;Duis nisi orci, pretium eu tincidunt vitae, tincidunt sed augue.&lt;/p&gt;
                &lt;!-- /// --&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-lg-6 col-md-6&quot;&gt;
        &lt;div class=&quot;uix-filter-hover--color&quot;&gt;
            &lt;img src=&quot;assets/images/demo/test-img-big-2.jpg&quot; alt=&quot;&quot;&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
            <div class="row js-uix-common-height">
                <div class="col-lg-6 col-md-6">
                    <div class="uix-v-align--table">
                        <div>
                            <!-- /// -->
                            <h4 class="uix-t-c">标题</h4>
                            <p class="uix-t-c">Duis nisi orci, pretium eu tincidunt vitae, tincidunt sed augue.</p>
                            <!-- /// -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="uix-filter-hover--color">
                        <img src="assets/images/demo/test-img-big-2.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- 行列 结束 -->
        </section>
        <!-- 内容 开始 -->
        <section class="uix-spacing--s uix-spacing--no-bottom">
            <!-- 容器 开始 -->
            <div class="container">
                <!-- 行列 开始 -->
                <div class="row">
                    <div class="col-12">
                        <h3>全宽列到边缘内部容器</h3>
                        <p>添加这个类 <code>.js-uix-fullwidth-column-to-edge--extend-right</code> 或者
                            <code>.js-uix-fullwidth-column-to-edge--extend-left</code> 到
                            <code>.row</code> Bootstrap Grid 系统，用于创建边缘列。</p>
                        <hr>
                    </div>
                </div>
                <!-- 行列 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 结束 -->
        <!-- 内容 开始 -->
        <section class="uix-spacing--s">
            <div class="container">
                <pre class="uix-precode uix-t-l"><label>HTML</label><code>&lt;div class=&quot;row js-uix-fullwidth-column-to-edge--extend-left&quot;&gt;
    &lt;div class=&quot;col-sm-8&quot;&gt;
        &lt;img src=&quot;assets/images/demo/cool-slider-2.jpg&quot; alt=&quot;&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-4&quot;&gt;
        &lt;br&gt;&lt;br&gt;
        &lt;h4&gt;标题&lt;/h4&gt;
        &lt;p&gt;Duis nisi orci, pretium eu tincidunt vitae, tincidunt sed augue.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                <!-- 行列 开始 -->
                <div class="row js-uix-fullwidth-column-to-edge--extend-left">
                    <div class="col-sm-8">
                        <img src="assets/images/demo/cool-slider-2.jpg" alt="">
                    </div>
                    <div class="col-sm-4">
                        <br><br>
                        <h4>标题</h4>
                        <p>Duis nisi orci, pretium eu tincidunt vitae, tincidunt sed augue.</p>
                    </div>
                </div>
                <!-- 行列 结束 -->
                <br><br>
                <pre class="uix-precode uix-t-l"><label>HTML</label><code>&lt;div class=&quot;row js-uix-fullwidth-column-to-edge--extend-right&quot;&gt;
    &lt;div class=&quot;col-sm-4&quot;&gt;
        &lt;br&gt;&lt;br&gt;
        &lt;h4&gt;标题&lt;/h4&gt;
        &lt;p&gt;Duis nisi orci, pretium eu tincidunt vitae, tincidunt sed augue.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-sm-8&quot;&gt;
        &lt;img src=&quot;assets/images/demo/cool-slider-1.jpg&quot; alt=&quot;&quot;&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                <!-- 行列 开始 -->
                <div class="row js-uix-fullwidth-column-to-edge--extend-right">
                    <div class="col-sm-4">
                        <br><br>
                        <h4>标题</h4>
                        <p>Duis nisi orci, pretium eu tincidunt vitae, tincidunt sed augue.</p>
                    </div>
                    <div class="col-sm-8">
                        <img src="assets/images/demo/cool-slider-1.jpg" alt="">
                    </div>
                </div>
                <!-- 行列 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 开始 -->
        <section class="uix-spacing--s uix-spacing--no-bottom">
            <!-- 容器 开始 -->
            <div class="container">
                <!-- 行列 开始 -->
                <div class="row">
                    <div class="col-12">
                        <h3>全宽（固定和可变）列到边缘</h3>
                        <p>目标是拥有一个固定宽度的列和一个可变宽度的列，但能够定义可变宽度列以何种大小分解到下一行。</p>
                        <hr>
                    </div>
                </div>
                <!-- 行列 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 结束 -->
        <!-- 内容 开始 -->
        <section class="uix-spacing--s">
            <pre class="uix-precode uix-t-l"><label>HTML</label><code>&lt;div class=&quot;uix-fullwidth-column-to-edge--fixed-and-variable&quot;&gt;
    &lt;div class=&quot;uix-fullwidth-column-to-edge--fixed-and-variable__fixed uix-outer-shadow--regular&quot;&gt;
        &lt;h4&gt;250 Width Fixed&lt;/h4&gt;
    &lt;/div&gt;
    &lt;div class=&quot;uix-fullwidth-column-to-edge--fixed-and-variable__variable uix-outer-shadow--regular&quot;&gt;
        &lt;p&gt;
            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
            <div class="uix-fullwidth-column-to-edge--fixed-and-variable">
                <div class="uix-fullwidth-column-to-edge--fixed-and-variable__fixed uix-outer-shadow--regular">
                    <h4>250 Width Fixed</h4>
                </div>
                <div class="uix-fullwidth-column-to-edge--fixed-and-variable__variable uix-outer-shadow--regular">
                    <p>
                        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                    </p>
                </div>
            </div>
        </section>
        <!-- 内容 结束 -->
    </main>
    @@include('./src/components/_global/include-copyright.html')
</div>
@@include('./src/components/_global/include-footer.html')

