/* ======================================================
   <!-- Team Gird -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
.uix-team--grid {
    .uix-team--grid__item {
        position: relative;
        margin-bottom: 3rem;
        h3 {
            font-size: 1.25rem;
            font-weight: normal;
            margin: 1rem 0 0 0;
            padding-bottom: 0;
        }
        h4 {
            font-size: 0.875rem;
            opacity: .4;
        }
        .uix-team--grid__detail {
            @include transition-default();
            text-align: left;
            &.uix-team--grid__detail--toggle {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                display: block;
                overflow: auto;
                width: 100%;
                height: 100%;
                padding: 1.5rem 1rem;
                opacity: 0;
                color: #ffffff;
                background: rgba(0, 0, 0, .8);
                h3,
                h4 {
                    color: #ffffff;
                }
                &::-webkit-scrollbar-track {
                    border-radius: 0px;
                    background-color: #000000;
                }
                &::-webkit-scrollbar {
                    width: 3px;
                    background-color: #ffffff;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 0px;
                    background-color: #ffffff;
                }
            }
        }
        .uix-team--grid__img {
            position: relative;
            display: block;
            overflow: hidden;
            width: 80%;
            margin-bottom: 1.5rem;
            margin-left: 10%;
            padding-top: 80%; /* 1:1 Aspect Ratio */
            opacity: 1;
            img {
                position: absolute;
                top: 0;
                left: 0;
            }
            &::after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                content: "";
                opacity: 0;
                background-color: rgba(0, 0, 0, 0.75);
                @include transition-default();
            }
            a {
                color: #ffffff;
            }
            ul {
                position: absolute;
                z-index: 2;
                top: 50%;
                width: 100%;
                height: 0px;
                transform: translateY(-50%);
                text-align: center;
                opacity: 0;
                @include transition-default();
                li {
                    line-height: 30px;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    @include transition-default();
                }
            }
            &:hover {
                &::after {
                    opacity: 1;
                }
                ul {
                    opacity: 1;
                }
            }
        }
        &:hover {
            .uix-team--grid__detail {
                &.uix-team--grid__detail--toggle {
                    opacity: 1;
                }
            }
        }
    }
}
