/* ======================================================
   <!-- Multiple Items Carousel -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
/*
 * 1. Initialize the core style
 * 2. Next/Prev buttons
*/
/*
 ---------------------------
 1. Initialize the core style
 ---------------------------
 */
.uix-multi-carousel {
    /* Required */
    overflow: hidden;
    width: 100%;
    .uix-multi-carousel__items {
        position: relative;
        height: 150px;
        > .uix-multi-carousel__item {
            font-size: 1.2rem;
            position: absolute; /* required */
            height: 100%;
            /* Demo Style */
            text-align: center;
            color: #ffffff;
            background: #333333;
            box-shadow: inset -1px 0px 0px 0px rgba(255, 255, 255, .5);
            img {
                pointer-events: none;
            }
            > span {
                position: absolute;
                top: 50%;
                left: 0;
                display: inline-block;
                width: 100%;
                transform: translateY(-50%);
            }
            &.is-active {
                font-size: 3rem;
                background: #000000;
            }
        }
    }
    /*----- Vertical Carousel -----*/
    &.is-vertical {
        /* Required */
        overflow: hidden;
        width: 500px;
        height: 450px;
        .uix-multi-carousel__items {
            width: 100%;
            /* Required */
            height: 100%;
            > .uix-multi-carousel__item {
                width: 100%;
                /* Demo Style */
                box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, .5);
            }
        }
    }
}
/*
 ---------------------------
 2. Next/Prev buttons
 ---------------------------
 */
.uix-multi-carousel__controls {
    margin-top: 30px;
    text-align: center;
    pointer-events: none;
    .uix-multi-carousel__controls--prev {
        padding-left: 2px;
    }
    .uix-multi-carousel__controls--next {
        padding-right: 2px;
    }
    a {
        font-family: Arial, "sans-serif";
        font-size: 32px;
        font-weight: bold;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        margin-left: 10px;
        cursor: pointer;
        text-decoration: none;
        pointer-events: all;
        opacity: 1;
        color: #000000;
        border: 0;
        border-radius: 50%;
        outline: 0;
        &.is-disabled {
            pointer-events: none;
            opacity: .3;
        }
    }
    /*----- Vertical Carousel -----*/
    &.is-vertical {
        position: absolute;
        top: 20%;
        left: 600px;
        width: 300px;
    }
}


