/* ======================================================
   <!-- Comments ( Synchronize to WordPress's class name ) -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
/*
 * 1. Comments Wrapper
 * 2. Highlight Author Comments in WordPress
 * 3. Nested Comments
 * 4. Comment Respond
*/
/*
 ---------------------------
 1. Comments Wrapper
 ---------------------------
 */
.comments {
}
/*
 ---------------------------
 2. Highlight Author Comments in WordPress
 ---------------------------
 */
.comment {
    &.bypostauthor {
        background-color: transparent;
    }
    .comment {
        margin-left: 2.625rem;
        &.bypostauthor {
            background-color: transparent;
        }
    }
    p {
        margin-bottom: 1.25rem;
    }
}
/*
 ---------------------------
 3. Nested Comments
 ---------------------------
 */
@media all and (max-width: 768px) {
    .comment .comment {
        margin-left: 0;
    }
}
.comment-meta {
    margin-bottom: 0.875rem;
    &::after {
        display: block;
        clear: both;
        content: '';
    }
    .comment-avatar {
        display: block;
        float: left;
        width: 45px;
        margin: 0 1.3125rem 0 0;
        img {
            width: 100%;
            vertical-align: middle;
            border-radius: 100%;
        }
    }
    .comment-text {
        display: block;
        float: left;
        h5 {
            margin-bottom: 0;
            padding-bottom: 0;
        }
        em {
            opacity: 0.7;
        }
    }
}
.comment-content {
    position: relative;
    clear: both;
    clear: both;
    margin-bottom: 1.75rem;
    margin-bottom: 1.75rem;
    margin-left: calc(2.8125rem + 1.3125rem);
    margin-left: calc(2.8125rem + 1.3125rem);
    padding-bottom: 1.3125rem;
    padding-bottom: 1.3125rem;
    word-wrap: break-word;
    word-wrap: break-word;
    border-bottom: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    a {
        &:not(.respond) {
            text-decoration: underline;
        }
        &.respond {
            font-size: 0.75rem;
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 0.175rem 0.875rem 0;
            text-transform: uppercase;
            color: #ffffff;
            border-radius: 2px 2px 0 0;
            background: $highlight-color1;
        }
    }
}
/*
 ---------------------------
 4. Comment Respond
 ---------------------------
 */
.comment-reply-title {
    font-size: 1.125rem;
    line-height: 1.33333333333;
    padding-bottom: 1.75rem;
    text-transform: uppercase;
}
