/* ======================================================
     <!-- Editing Component  -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
/* Post edit link */
.uix-post-edit {
    display: inline-block;
    margin-top: 1.09375rem;
    padding: 0.175rem 0.4375rem;
    text-decoration: none !important;
    border: 1px solid #dddddd;
    border-radius: 2px;
    background: #f9f9f9;
}
