/* ======================================================
    <!-- Form -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
@import '_variable-and-mixin.scss';
/*
 * 1. Controls
 * 2. Upload
 * 3. Group
 * 4. Custom Select
 * 5. Custom Radio, Toggle And Checkbox
 * 6. Custom Input Number
 * 7. Multiple Selector
 * 8. Single Selector
 * 9. Search of Widget
 * 10. Add / remove input field dynamically
 * 11. Tag Input
*/
/*
 ---------------------------
 1. Controls
 ---------------------------
 */
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
    border: 1px solid $control-sub-color;
    box-shadow: 0 0 0px 1000px #ffffff inset;
    -webkit-text-fill-color: $control-sub-color;
}
/* Remove default text/placeholder present in html5 input element of type=date and type=datetime-local */
input[type="date"]::-webkit-datetime-edit,
input[type="datetime-local"]::-webkit-datetime-edit {
    color: transparent !important;
}
input[type="date"]:focus::-webkit-datetime-edit,
input[type="datetime-local"]:focus::-webkit-datetime-edit,
input[type="date"].is-active::-webkit-datetime-edit,
input[type="datetime-local"].is-active::-webkit-datetime-edit {
    color: $control-text-color !important;
}
/* Required field marker */
.uix-controls__im {
    font-size: #{$font-size-form*1.71428571428571};
    position: absolute;
    display: inline-block;
    padding: 0 .5rem;
    color: red;
}
/* Default Controls */
.uix-controls:not(.uix-controls__toggle):not(.uix-controls__checkbox):not(.uix-controls__radio):not(.uix-controls__select) {
    position: relative;
    display: inline-block; /* Avoid line breaks */
    margin-bottom: #{$control-padding-height*2};
    &.is-fullwidth {
        display: block;
    }
    &.uix-controls__side {
        margin-left: .2rem;
    }
    &.uix-t-c {
        text-align: center !important;
    }
    &.is-pill {
        input:not([type="checkbox"]):not([type="radio"]),
        textarea,
        button:not(.uix-btn),
        select {
            border-radius: 50px;
        }
    }
    &.is-rounded {
        input:not([type="checkbox"]):not([type="radio"]),
        textarea,
        button:not(.uix-btn),
        select {
            border-radius: 4px;
        }
    }
    input:not([type="checkbox"]):not([type="radio"]) {
        font-size: $font-size-form;
        /* Remove inner shadow from inputs on mobile iOS */
        box-sizing: content-box;
        @include transition-default();
        width: calc(100% - #{$control-padding-side*2} - 2px);
        margin: 0;
        padding: $control-padding-height $control-padding-side;
        color: $control-text-color;
        border: 1px solid $control-sub-color;
        border-radius: 0;
        background-color: #ffffff;
        -webkit-appearance: none;
        &:focus ~ label {
            cursor: text;
            color: $control-focus-color;
        }
        &:focus {
            border-color: $control-focus-bordercolor;
            outline: none;
        }
    }
    &.uix-controls__short-s {
        input:not([type="checkbox"]):not([type="radio"]) {
            width: 120px;
            margin-right: .5rem;
        }
    }
    &.uix-controls__short-m {
        input:not([type="checkbox"]):not([type="radio"]) {
            width: 155px;
            margin-right: .5rem;
        }
    }
    &.uix-controls__short-l {
        input:not([type="checkbox"]):not([type="radio"]) {
            width: 192px;
            margin-right: .5rem;
        }
    }
    textarea,
    button:not(.uix-btn),
    select {
        font-size: $font-size-form;
        /* Remove inner shadow from inputs on mobile iOS */
        box-sizing: content-box;
        width: calc(100% - #{$control-padding-side*2} - 2px);
        margin: 0;
        padding: $control-padding-height $control-padding-side;
        color: $control-text-color;
        border: none;
        @include transition-default();
        border: 1px solid $control-sub-color;
        border-radius: 0;
        background-color: #ffffff;
        -webkit-appearance: none;
    }
    textarea {
        resize: none;
        &:focus ~ label {
            cursor: text;
            color: $control-focus-color;
        }
        &:focus {
            border-color: $control-focus-bordercolor;
            outline: none;
        }
    }
    button:not(.uix-btn) {
        width: auto;
        padding: 0.75rem 0;
        cursor: pointer;
        border-radius: 0;
        &:focus ~ label {
            cursor: text;
            color: $control-focus-color;
        }
        &:focus {
            border-color: $control-focus-bordercolor;
            outline: none;
        }
    }
    select {
        cursor: pointer;
        &:focus {
            border-color: $control-focus-bordercolor;
            outline: none;
        }
    }
    label {
        @include control-label-text();
        position: absolute;
        top: $control-padding-height;
        left: #{$control-padding-side - 0.25};
        display: inline-block;
        padding: 0 0.25rem;
        transform-origin: left top;
        pointer-events: none;
        @include transition-default();
        background-color: rgba(255, 255, 255, 0);
        &.is-active {
            transform: scale(0.875) translateY(-1.6rem);
            color: #555555;
            background-color: white;
        }
    }
    /*-- Select Arrow --*/
    .uix-controls__arrow {
        font-size: 0.625rem;
        position: absolute;
        top: #{$control-padding-height + 0.5};
        right: 0.875rem;
        display: inline-block;
        @include control-label-text();
    }
    /*-- Radio --*/
    &.uix-controls__normal-radio {
        label {
            position: relative !important;
            top: auto !important;
            left: auto !important;
            padding-left: 1.25rem !important;
            pointer-events: auto !important;
            &.is-active {
                top: auto !important;
            }
        }
    }
    /*-- Select --*/
    &.uix-controls__normal-select {
        &:not(.is-fullwidth) {
            margin-right: 1.5rem;
        }
        .uix-controls__arrow {
            right: 0;
        }
        label {
            display: none;
        }
        select {
            font-size: 1rem;
            font-weight: 500;
            padding-right: 1rem;
            padding-left: $control-padding-side;
        }
        &.is-fullwidth {
            .uix-controls__arrow {
                right: $control-padding-side;
            }
            label {
                display: inline-block;
            }
            select {
                padding-right: $control-padding-side;
            }
        }
        &.is-disabled {
            /* Mask used to prohibit selection */
            &::before {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                content: '';
                user-select: none;
                background: none;
            }
        }
    }
    /*-- Form With Icon --*/
    &.is-iconic {
        label {
            left: #{$control-padding-side + $control-icon-placeholder};
        }
        i {
            position: absolute;
            top: #{$control-padding-height + 0.25};
            left: 1rem;
            color: $control-sub-color;
            &::after {
                position: absolute;
                top: 0;
                left: 1.2rem;
                display: block;
                width: 1px;
                height: 100%;
                content: '';
                background: $control-sub-color;
            }
        }
        input:not([type="checkbox"]):not([type="radio"]) {
            width: calc(100% - #{$control-padding-side + $control-icon-placeholder} - 2px - #{$control-padding-side});
            padding-left: #{$control-padding-side + $control-icon-placeholder};
        }
        textarea,
        button:not(.uix-btn),
        select {
            width: calc(100% - #{$control-padding-side + $control-icon-placeholder} - 2px - #{$control-padding-side});
            padding-left: #{$control-padding-side + $control-icon-placeholder};
        }
        &.is-reversed {
            label {
                left: $control-padding-side;
            }
            i {
                right: 1rem;
                left: auto;
                &::after {
                    right: 1.2rem;
                    left: auto;
                }
            }
            input:not([type="checkbox"]):not([type="radio"]) {
                padding-right: #{$control-padding-side + $control-icon-placeholder};
                padding-left: $control-padding-side;
            }
            textarea,
            button:not(.uix-btn),
            select {
                padding-right: #{$control-padding-side + $control-icon-placeholder};
                padding-left: $control-padding-side;
            }
        }
    }
    /*-- Form Status: Success --*/
    &.is-success {
        input:not([type="checkbox"]):not([type="radio"]) {
            border-color: #4ab005;
        }
        textarea,
        button:not(.uix-btn),
        select {
            border-color: #4ab005;
        }
        label {
            color: #4ab005 !important;
        }
    }
    /*-- Form Status: Error --*/
    &.is-error {
        input:not([type="checkbox"]):not([type="radio"]) {
            border-color: #ff0000;
        }
        textarea,
        button:not(.uix-btn),
        select {
            border-color: #ff0000;
        }
        label {
            color: #ff0000 !important;
        }
    }
    /*-- Form Status: Disable --*/
    &:not(.uix-controls--line).is-disabled {
        input:not([type="checkbox"]):not([type="radio"]) {
            border-color: #e1e1e1;
            background: #ededed;
        }
        textarea,
        button:not(.uix-btn),
        select {
            border-color: #e1e1e1;
            background: #e1e1e1;
        }
    }
    /*-- WordPress Style --*/
    .req-icon {
        position: absolute;
        top: 0.721875rem;
        right: 0.721875rem;
        color: $highlight-color1;
    }
}
/*
 ---------------------------
 2. Upload
 ---------------------------
 */
.uix-controls__file-container {
    position: relative;
    display: inline-block;
    height: 2.71875rem;
    cursor: pointer;
    color: $control-text-color;
    @include transition-default();
    .uix-controls__file-trigger {
        i {
            margin-right: .5rem;
        }
    }
    &:hover {
        color: #000000;
    }
    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 14.0625rem;
        opacity: 0;
    }
}
.uix-controls__file-return {
    font-style: italic;
}
/* HTML5 drag and drop upload control */
.uix-controls__file-field-container {
    position: relative;
    z-index: 2;
    height: 400px;
    max-height: 30vh;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    background-color: transparent;
    .uix-controls__file-field-trigger {
        position: absolute;
        z-index: 4;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        max-width: 100%;
        height: 100%;
        cursor: pointer;
        pointer-events: hover;
        color: #cbcbcb;
        border-radius: 8px;
        background: #fbfdfd;
        @include outer-shadow('regular');
        > div {
            width: 60%;
            height: 65%;
            text-align: center;
            &::after {
                font-family: 'Font Awesome 5 Free';
                font-size: 2em;
                font-weight: 600;
                display: inline-block;
                content: "\f093";
                transform: translateY(50%);
                color: $highlight-color1;
            }
            input {
                position: absolute;
                top: 0;
                left: 0;
                visibility: hidden;
                width: 100%;
                height: 100%;
                cursor: pointer;
                outline: none;
                &::before {
                    font-size: 1.2rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    visibility: visible;
                    overflow: hidden;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    padding-top: 20%;
                    content: attr(data-title);
                    opacity: 1;
                    color: #cbcbcb;
                    @include transition-default();
                    border: 2px dashed $highlight-color1;
                }
                &.in {
                    &::before {
                        border-color: #333333;
                    }
                }
                &.hover,
                &:hover {
                    &::before {
                        border-style: solid;
                    }
                }
            }
        }
    }
}
/*
 ---------------------------
 3. Group
 ---------------------------
 */
$controls-merge-button-width: 20%;
.uix-controls__merge {
    position: relative;
    &::after {
        display: block;
        clear: both;
        content: '';
    }
    i {
        margin-right: 0;
        margin-left: 0;
        opacity: .7;
    }
    textarea,
    button,
    select {
        border: none;
        /* Remove inner shadow from inputs on mobile iOS */
        border-radius: 0;
        -webkit-appearance: none;
    }
    input {
        @include transition-default();
        font-size: $font-size-form;
        font-weight: 600;
        float: left;
        box-sizing: content-box;
        width: calc(#{100-$controls-merge-button-width} - #{$control-padding-side*2} - 2px);
        margin-bottom: #{$control-padding-height*2};
        padding: $control-padding-height $control-padding-side;
        color: $control-text-color;
        /* Fixed the gap*/
        border: 1px solid $control-sub-color;
        &:focus {
            outline: none;
        }
    }
    button {
        font-size: 0.875rem;
        font-weight: 600;
        float: left;
        width: $controls-merge-button-width;
        min-width: 0;
        margin-left: -1px;
        padding: #{$control-padding-height + 0.25 + 0.03125} 0; //0.03125rem = 0.5px
        /* Fixed the gap*/
        letter-spacing: .02rem;
        span {
            line-height: 100%;
            display: inline-block;
            padding-right: .3rem;
            padding-left: .3rem;
            @include ellipsis();
        }
    }
    &.is-pill {
        input {
            border-radius: 50px 0 0 50px;
        }
        button {
            border-radius: 0 50px 50px 0;
        }
    }
    &.is-rounded {
        input {
            border-radius: 4px 0 0 4px;
        }
        button {
            border-radius: 0 4px 4px 0;
        }
    }
    /*-- Form With Icon --*/
    &.is-iconic {
        input {
            width: calc(#{100-$controls-merge-button-width} - #{$control-padding-side*2 + $control-icon-placeholder} - 2px);
            padding-left: #{$control-padding-side + $control-icon-placeholder};
        }
        i {
            position: absolute;
            top: #{$control-padding-height + 0.25};
            left: 1rem;
            color: $control-sub-color;
            &::after {
                position: absolute;
                top: 0;
                left: 1.2rem;
                display: block;
                width: 1px;
                height: 100%;
                content: '';
                background: $control-sub-color;
            }
        }
        &.is-reversed {
            input {
                padding-right: auto;
                padding-left: calc(3rem - #{$control-padding-side});
            }
            i {
                right: 1rem;
                left: auto;
                &::after {
                    right: 1.2rem;
                    left: auto;
                }
            }
        }
    }
}
/*
 ---------------------------
 4. Custom Select
 ---------------------------
 */
.uix-controls__select {
    position: relative;
    margin-right: .3rem;
    &.js-uix-new {
        text-align: left; /* 必需的 */
    }
    &.is-fullwidth {
        width: 100%;
    }
}
.uix-controls__select-wrapper {
    position: relative;
    display: inline-block;
    min-height: 4.1rem;
    user-select: none;
    &.is-fullwidth {
        width: 100%;
        .uix-controls__select-trigger {
            width: 100% !important;
        }
    }
    &.is-disabled {
        user-select: none;
        pointer-events: none;
    }
    &:not(.uix-controls--line).is-disabled {
        /* Mask used to prohibit selection */
        &::before {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            content: '';
            user-select: none;
            background: none;
        }
        .uix-controls__select-trigger {
            border-color: #e1e1e1 !important;
            background: #ededed !important;
        }
    }
    select {
        display: none;
    }
    .uix-controls__select-trigger {
        @include control-label-text();
        position: relative;
        display: inline-block;
        min-width: 100px;
        margin-bottom: #{$control-padding-height*2};
        padding: #{$control-padding-height} #{$control-padding-side+1.5} $control-padding-height $control-padding-side;
        cursor: pointer;
        border: 1px solid $control-sub-color;
        background: #ffffff;
        //Effect after selecting an option
        &.is-active {
            color: $control-text-color;
        }
        &:focus {
            border-color: $control-focus-bordercolor;
            outline: none;
        }
        &::after {
            @include select-arrow(-.275rem, 1rem);
        }
    }
    .is-pill {
        .uix-controls__select-trigger {
            border-radius: 50px;
        }
    }
    &.is-rounded {
        .uix-controls__select-trigger {
            border-radius: 4px;
        }
    }
    .uix-controls__select-label {
        display: inline-block;
        margin-right: .3rem;
        margin-left: .3rem;
        @include control-label-text();
    }
    .uix-controls__select__option-container {
        position: absolute;
        z-index: 2;
        top: 100%;
        right: 0;
        left: 0;
        display: block;
        visibility: hidden;
        box-sizing: border-box;
        min-width: 150px;
        transform: translateY(-15px);
        pointer-events: none;
        opacity: 0;
        @include transition-default();
        border: 1px solid $control-sub-color;
        border-radius: 2px;
        background: #ffffff;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        > div {
            overflow-y: auto;
            max-height: 315px;
        }
        &::before {
            position: absolute;
            right: 25px;
            bottom: 100%;
            display: block;
            width: 7px;
            height: 7px;
            margin-bottom: -4px;
            content: '';
            transform: rotate(45deg);
            border-top: 1px solid $control-sub-color;
            border-left: 1px solid $control-sub-color;
            background: #ffffff;
            @include transition-default();
        }
    }
    .uix-controls__select__option {
        font-size: $font-size-form;
        line-height: 1.5;
        position: relative;
        display: block;
        padding: .75rem 1.2rem;
        cursor: pointer;
        color: $control-text-color;
        border-bottom: 1px solid $control-sub-color;
        @include transition-default();
        &:first-of-type {
            border-radius: 2px 2px 0 0;
        }
        &:last-of-type {
            border-bottom: 0;
            border-radius: 0 0 2px 2px;
        }
        &:hover,
        &.is-active {
            background: #f9f9f9;
        }
    }
    .uix-controls__select {
        position: relative;
        display: inline-block;
        &.is-opened {
            .uix-controls__select-trigger {
                &::after {
                    transform: rotate(-135deg);
                }
            }
            .uix-controls__select__option-container {
                visibility: visible;
                transform: translateY(-#{$control-padding-height});
                pointer-events: all;
                opacity: 1;
            }
        }
        &.is-transparent {
            .uix-controls__select-trigger {
                border-color: rgba(255, 255, 255, .1);
                background: none;
            }
        }
    }
    /* Shown above */
    .uix-controls__select--top {
        /* Shown from above */
        .uix-controls__select__option-container {
            top: auto;
            bottom: 100%;
            margin-bottom: 15px;
            &::after {
                position: absolute;
                z-index: 1;
                right: 25px;
                bottom: 0;
                display: block;
                width: 7px;
                height: 7px;
                margin-bottom: -4px;
                content: '';
                transform: rotate(45deg);
                border-bottom: 1px solid $control-sub-color;
                border-left: 1px solid transparent;
                @include transition-default();
                background: #ffffff;
            }
            &::before {
                display: none;
            }
        }
        &.is-opened {
            .uix-controls__select__option-container {
                transform: translateY(0);
            }
        }
    }
}
/*
 ---------------------------
 5. Custom Radio, Toggle And Checkbox
 ---------------------------
 */
.uix-controls__radio {
    position: relative;
    label {
        position: relative;
        top: auto;
        left: auto;
        margin: #{$control-padding-height} .5rem #{$control-padding-side} 0;
        cursor: pointer;
        pointer-events: auto; /* 必需的 */
        @include control-label-text();
    }
    &:not(.uix-controls--line).is-disabled {
        user-select: none;
        pointer-events: none;
        opacity: .3;
        label {
            user-select: none;
            pointer-events: none;
        }
    }
    input[type="radio"] {
        display: none;
        &:checked + .uix-controls__radio-trigger::before {
            transform: scale(1);
        }
    }
    .uix-controls__radio-trigger {
        position: relative;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 5px;
        vertical-align: middle;
        border: 1px solid $control-sub-color;
        border-radius: 50%;
        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 10px;
            height: 10px;
            margin-top: -5px;
            margin-left: -5px;
            content: "";
            transform: scale(0);
            border-radius: 50%;
            background: $control-focus-color;
            @include transition-default();
        }
    }
}
.uix-controls__toggle {
    position: relative;
    &:not(.uix-controls--line).is-disabled {
        user-select: none;
        pointer-events: none;
        opacity: .3;
    }
    label {
        display: inline-block;
        overflow: hidden;
        width: 70px;
        margin-top: 0;
        margin-bottom: $control-padding-height;
        cursor: pointer;
        text-align: left; /* 必需的 */
        white-space: nowrap;
        border: 1px solid $control-sub-color;
    }
    &.is-pill {
        label {
            border-radius: 18px;
        }
    }
    &.is-rounded {
        label {
            border-radius: 4px;
        }
    }
    input[type="checkbox"] {
        display: none;
        &:checked + .uix-controls__toggle-trigger {
            margin-left: 8px;
            background: $control-focus-color;
        }
    }
    .uix-controls__toggle-trigger {
        position: relative;
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 0.5rem .5rem 0.5rem 0;
        margin-left: 50px;
        vertical-align: top;
        border-radius: 50%;
        background: $control-sub-color;
        @include transition-default();
        &::before,
        &::after {
            font-size: #{$font-size-form*0.85714285714286};
            line-height: 100%;
            position: absolute;
            display: inline-block;
            width: 55px;
            @include control-label-text();
            text-align: center;
        }
        &::before {
            left: -50px;
            content: attr(data-off-text);
        }
        &::after {
            right: -50px;
            content: attr(data-on-text);
        }
    }
}
.uix-controls__checkbox {
    position: relative;
    &:not(.uix-controls--line).is-disabled {
        user-select: none;
        pointer-events: none;
        opacity: .3;
    }
    label {
        @include control-label-text();
        cursor: pointer;
        text-align: left; /* 必需的 */
    }
    input[type="checkbox"] {
        display: none;
        &:checked + .uix-controls__checkbox-trigger::before,
        &:checked + .uix-controls__checkbox-trigger::after {
            opacity: 1;
        }
    }
    .uix-controls__checkbox-trigger {
        position: relative;
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: #{$control-padding-height} .5rem #{$control-padding-height} 0;
        cursor: pointer;
        vertical-align: middle;
        border: 1px solid $control-sub-color;
        @include transition-default();
        &::before,
        &::after {
            @include transition-default();
            position: absolute;
            bottom: 2px;
            left: 4px;
            height: 3px;
            content: "";
            transform-origin: 1px 1px;
            opacity: 0;
            background: $control-focus-color;
        }
        &::before {
            width: 9px;
            transform: rotate(-45deg);
        }
        &::after {
            width: 6px;
            transform: rotate(-135deg);
        }
    }
}
/*
 ---------------------------
 6. Custom Input Number
 ---------------------------
 */
.uix-controls__number {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        margin: 0;
        -webkit-appearance: none;
    }
    input[type="number"] {
        min-width: 100px;
        -moz-appearance: textfield;
    }
    input {
        box-sizing: border-box;
    }
    .uix-controls__number__btn {
        line-height: #{$control-padding-height + 0.5};
        position: absolute;
        right: 1px;
        width: 27px;
        height: calc(50% - 1px);
        cursor: pointer;
        user-select: none;
        text-align: center;
        color: $control-sub-color;
        border-left: 1px solid $control-sub-color;
        background-color: #ffffff;
        &:hover {
            color: #333333;
        }
        &.uix-controls__number__btn--add {
            top: 1px;
            border-bottom: 1px solid $control-sub-color;
            border-radius: 0 4px 0 0;
        }
        &.uix-controls__number__btn--remove {
            bottom: 1px;
            border-radius: 0 0 4px 0;
        }
    }
    &.is-disabled .uix-controls__number__btn {
        user-select: none;
        pointer-events: none;
        opacity: .6;
    }
}
/*
 ---------------------------
 7. Multiple Selector
 ---------------------------
 */
.uix-controls__multi-sel {
    > span {
        font-size: 1rem;
        position: relative;
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 1rem;
        padding: .3rem .7rem;
        cursor: pointer;
        text-decoration: none;
        color: $control-text-color;
        border: 1px solid $control-sub-color;
        background: #ffffff;
        @include transition-default();
        i {
            font-size: 0.75rem;
            position: absolute;
            top: -5px;
            right: -8px;
            border: 1px solid #e0e0e0;
            background: #f1f1f1;
            @include transition-default();
        }
        &:hover {
            border-color: #d7d7d7;
            background: #eeeeee;
        }
        &.is-active {
            @extend :hover;
            i {
                color: #ffffff;
                border-color: $highlight-color1;
                background: $highlight-color1;
            }
        }
    }
    &.is-pill {
        > span {
            border-radius: 50px;
        }
    }
    &.is-rounded {
        > span {
            border-radius: 4px;
        }
    }
}
/*
 ---------------------------
 8. Single Selector
 ---------------------------
 */
.uix-controls__single-sel {
    > span {
        font-size: 1rem;
        position: relative;
        display: inline-block;
        float: left;
        margin-bottom: 1rem;
        padding: .3rem .7rem;
        cursor: pointer;
        text-decoration: none;
        color: $control-text-color;
        border: 1px solid $control-sub-color;
        background: #ffffff;
        @include transition-default();
        &:not(:first-child) {
            border-left: 0;
        }
        &:hover {
            border-color: #d7d7d7;
            background: #eeeeee;
        }
        &.is-active {
            color: #ffffff;
            border-color: $highlight-color1;
            background: $highlight-color1;
        }
    }
    &.is-pill {
        > span:first-child {
            border-radius: 50px 0 0 50px;
        }
        > span:last-child {
            border-radius: 0 50px 50px 0;
        }
    }
    &.is-rounded {
        > span:first-child {
            border-radius: 4px 0 0 4px;
        }
        > span:last-child {
            border-radius: 0 4px 4px 0;
        }
    }
}
/*
 ---------------------------
 9. Search of Widget
 ---------------------------
 */
.uix-search-box {
    font-size: 0.875rem;
    position: relative;
    label {
        width: 100%;
    }
    .uix-search-box__field {
        font-size: 0.75rem;
        font-weight: 600;
        box-sizing: border-box;
        width: 100%;
        padding: 0.4375rem 1.421875rem;
        color: #555555;
        border: 1px solid $sub-text-color;
        border-radius: 25px;
        outline: none;
        background: #ffffff;
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }
        &::-webkit-search-decoration {
            display: none;
        }
    }
    .uix-search-box__submit {
        font-size: 1rem;
        position: absolute;
        top: 0.5rem;
        right: 0.875rem;
        cursor: pointer;
        /* Icon */
        color: #cccccc;
        &:hover {
            color: $primary-text-color;
        }
    }
}
/*
 ---------------------------
 10. Add / remove input field dynamically
 ---------------------------
 */
.uix-controls__dynamic-fields-container {
    margin-bottom: 2.5rem;
    .uix-controls__dynamic-fields__append::before {
        display: block;
        clear: both;
        content: '';
    }
    .uix-controls__dynamic-fields__tmpl {
        display: none;
    }
    .uix-controls__dynamic-fields__tmpl__wrapper:first-child .uix-controls__dynamic-fields__removebtn {
        display: none
    }
}
/*
 ---------------------------
 11. Tag Input
 ---------------------------
 */
.uix-controls__tags-wrapper {
    display: flex;
    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    > input {
        display: none;
    }
    > div {
        @include transition-default();
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border: 1px solid $control-sub-color;
    }
    &.is-pill > div {
        border-radius: 50px;
    }
    &.is-rounded > div {
        border-radius: 4px;
    }
    &.is-fullwidth > div {
        width: 100%;
    }
    &.is-active > div {
        border-color: $control-focus-bordercolor;
        outline: none;
    }
    .uix-controls__tags {
        position: relative;
        input {
            @include transition-default();
            font-size: $font-size-form;
            font-weight: 600;
            box-sizing: content-box;
            margin: .5rem .5rem 0 .5rem;
            transform: translateY(-0.2rem);
            color: $control-text-color;
            border: none;
            &:focus {
                outline: none;
            }
        }
    }
    ul.uix-controls__tags__list {
        li {
            font-size: 0.75rem;
            position: relative;
            display: inline-block;
            overflow: hidden;
            margin: 5px;
            margin-bottom: 0;
            padding: .1rem 1.5rem .1rem 1rem;
            text-overflow: ellipsis;
            border-radius: 30px;
            background: #efefef;
            &::after {
                font-size: 18px;
                font-weight: 400;
                line-height: 20px;
                position: absolute;
                top: 0;
                right: 8px;
                content: " ×";
                cursor: pointer;
                opacity: .6;
                color: #333333;
            }
        }
    }
}
