/* ======================================================
    <!-- Form  ( Material Design Theme )-->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
@import '_variable-and-mixin.scss';
/*
 * 1. 控件
 * 4. 自定义选择
 * 6. 自定义输入数字
 * 7. 多重选择器
 * 8. 单一选择器
 * 11. 标签输入
*/
/*
 ---------------------------
 1. 控件
 ---------------------------
 */
@mixin create-line() {
    .uix-controls__basic-bar,
    .uix-controls__bar {
        position: absolute;
        height: 2px;
        left: 0;
        width: 0;
        bottom: 0;
        z-index: 1;
        display: none;
        transform: translateX(0);
        background: $primary-text-color;
        @include transition-default();
        &.is-active {
            width: 100%;
        }
    }
    .uix-controls__basic-bar {
        z-index: 0;
        display: block;
        width: 100%;
        height: 1px;
        background: $control-sub-color;
    }
}
/* 默认控件 */
.uix-controls:not(.uix-controls__toggle):not(.uix-controls__checkbox):not(.uix-controls__radio):not(.uix-controls__select) {
    // 创建点击时的线条效果
    @include create-line();
    /*-- 表单状态：成功 --*/
    &.is-success {
        .uix-controls__bar {
            width: 100%;
            background: #4ab005;
        }
    }
    /*-- 表单状态：错误 --*/
    &.is-error {
        .uix-controls__bar {
            width: 100%;
            background: #ff0000;
        }
    }
    /*-- 表单状态：禁用 --*/
    &.is-disabled {
        .uix-controls__bar {
            width: 100%;
            background: #e1e1e1;
        }
    }
}
/* 创建点击时的线条效果 */
.uix-controls.uix-controls--line {
    &.is-pill,
    &.is-rounded {
        input:not([type="checkbox"]):not([type="radio"]),
        textarea,
        button:not(.uix-btn),
        select {
            border-radius: 0 !important;
        }
    }
    .uix-controls__bar {
        display: block !important;
    }
    input:not([type="checkbox"]):not([type="radio"]) {
        border-top-color: $control-focus-bordercolor2 !important;
        border-right-color: $control-focus-bordercolor2 !important;
        border-bottom-color: transparent !important;
        border-left-color: $control-focus-bordercolor2 !important;
    }
    textarea,
    button:not(.uix-btn),
    select {
        border-top-color: $control-focus-bordercolor2 !important;
        border-right-color: $control-focus-bordercolor2 !important;
        border-bottom-color: transparent !important;
        border-left-color: $control-focus-bordercolor2 !important;
    }
    &:not(.is-iconic) {
        input:not([type="checkbox"]):not([type="radio"]) {
            width: 100% !important;
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
        textarea,
        button:not(.uix-btn),
        select {
            width: 100% !important;
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }
    &.uix-controls__short-s {
        input:not([type="checkbox"]):not([type="radio"]) {
            width: 120px !important;
        }
    }
    &.uix-controls__short-m {
        input:not([type="checkbox"]):not([type="radio"]) {
            width: 155px !important;
        }
    }
    &.uix-controls__short-l {
        input:not([type="checkbox"]):not([type="radio"]) {
            width: 192px !important;
        }
    }
    &.is-fullwidth {
        select {
            &:focus {
                border-bottom-color: transparent !important;
            }
        }
    }
    textarea {
        &:focus {
            border-color: $control-focus-bordercolor2 !important;
        }
    }
    button:not(.uix-btn) {
        &:focus {
            border-color: $control-focus-bordercolor2 !important;
        }
    }
    label {
        left: -0.25rem !important;
        &.is-active {
            transform: translateX(-1.75rem) scale(.875);
        }
    }
    /*-- 带图标的表单 --*/
    &.is-iconic {
        label {
            left: #{$control-padding-side + $control-icon-placeholder} !important;
            &.is-active {
                transform: translateX(-4.09375rem) scale(.875);
            }
        }
        &.is-reversed {
            input:not([type="checkbox"]):not([type="radio"]) {
                padding-left: 0 !important;
            }
            textarea,
            button:not(.uix-btn),
            select {
                padding-left: 0 !important;
            }
            label {
                left: -0.25rem !important;
                &.is-active {
                    transform: translateX(-1.75rem) scale(.875);
                }
            }
        }
    }
    /*-- 选择 --*/
    &.uix-controls__normal-select {
        select {
            padding-right: #{$control-padding-side + 1} !important;
            padding-left: 0 !important;
        }
    }
    /*-- 表单状态：禁用 --*/
    &.is-disabled {
        input:not([type="checkbox"]):not([type="radio"]) {
            opacity: .7;
        }
        textarea,
        button:not(.uix-btn),
        select {
            opacity: .7;
        }
        label {
            opacity: .5;
        }
    }
}
/*
 ---------------------------
 4. 自定义选择
 ---------------------------
 */
.uix-controls__select-wrapper {
    &.uix-controls--line.is-disabled {
        opacity: .7;
        /* 用于禁止选择的遮罩 */
        &::before {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            content: '';
            user-select: none;
            background: none;
        }
    }
    .uix-controls--line {
        .uix-controls__select-trigger {
            padding-left: 0;
            border-top-color: $control-focus-bordercolor2 !important;
            border-right-color: $control-focus-bordercolor2 !important;
            border-bottom-color: transparent !important;
            border-left-color: $control-focus-bordercolor2 !important;
            border-radius: 0;
        }
        // 点击创建线条效果
        @include create-line();
        .uix-controls__basic-bar,
        .uix-controls__bar {
            bottom: #{$control-padding-height*2};
        }
    }
    .uix-controls__select {
        &.is-opened {
            .uix-controls__bar {
                width: 100%;
            }
        }
    }
}
/*
 ---------------------------
 6. 自定义输入数字
 ---------------------------
 */
.uix-controls__number {
    &.uix-controls--line {
        .uix-controls__number__btn {
            border: none;
        }
    }
}
/*
 ---------------------------
 7. 多重选择器
 ---------------------------
 */
.uix-controls__multi-sel {
    /* 创建点击时的线条效果 */
    &.uix-controls--line {
        > span {
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            border-left-color: transparent !important;
            background: #ffffff !important;
            &.is-active {
                color: $control-text-color !important;
            }
            &:hover {
                .uix-controls__bar {
                    bottom: -1px !important;
                    width: 100% !important;
                }
            }
        }
    }
}
/*
 ---------------------------
 8. 单一选择器
 ---------------------------
 */
.uix-controls__single-sel {
    /* 创建点击时的线条效果 */
    &.uix-controls--line {
        > span {
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            border-left-color: transparent !important;
            background: #ffffff !important;
            &.is-active {
                color: $control-text-color !important;
                .uix-controls__basic-bar {
                    background: $highlight-color1 !important;
                }
            }
            &:hover {
                .uix-controls__bar {
                    bottom: -1px !important;
                    width: 100% !important;
                }
            }
        }
    }
}
/*
 ---------------------------
 11. 标签输入
 ---------------------------
 */
.uix-controls__tags-wrapper {
    &.uix-controls--line > div {
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: $control-sub-color !important;
        border-left-color: transparent !important;
        border-radius: 0;
    }
}


