/* ======================================================
   <!-- Ribbon -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
$ribbon-bg: $highlight-color1;
$ribbon-w: 40px;
.uix-ribbon--triangle {
    right: auto;
    left: 0;
    &.uix-ribbon--triangle--style-1 {
        > div {
            &::after {
                right: 0;
                left: auto;
            }
        }
    }
    &.uix-ribbon--triangle--style-2 {
        &::after {
            right: 0.25rem;
            left: auto;
            transform: rotate(-315deg);
            border-right: $ribbon-w solid $ribbon-bg;
            border-left: inherit;
        }
        > div {
            padding: 0 0.5rem 0.25rem 0;
        }
    }
    &.uix-ribbon--triangle--left {
        right: 0;
        left: auto;
        &.uix-ribbon--triangle--style-2 {
            &::after {
                right: -0.25rem;
                left: auto;
                transform: rotate(135deg);
            }
        }
    }
}
