/* ======================================================
   <!-- Timeline -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
/*
 * 1. Vertical
 * 2. Vertical  - Interaction
 * 3. Vertical & Reversed
 * 4. Horizontal - Interaction
 * 5. Horizontal & Reversed  - Interaction
 * 6. Horizontal ( Classic)  - Interaction
 * 7. Buttons
*/
/*
 ---------------------------
 1. Vertical
 ---------------------------
 */
.uix-timeline__container-wrapper {
    .uix-timeline__container {
        overflow: hidden;
        width: 100%;
        .uix-timeline {
            .uix-timeline__item {
                position: relative;
                margin: 3.5rem 0;
                padding-bottom: 3rem;
                &::after {
                    display: table;
                    clear: both;
                    content: "";
                }
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                .uix-timeline__line {
                    position: absolute;
                    top: 40px;
                    left: 20px;
                    width: 1px;
                    height: calc(100% + 5rem);
                    background: $highlight-color1;
                }
                .uix-timeline__item__img {
                    position: absolute;
                    top: 0;
                    left: 20px;
                    width: 40px;
                    height: 40px;
                    margin-left: -20px;
                    cursor: pointer;
                    @include transition-default();
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
                .uix-timeline__item__info {
                    position: relative;
                    width: calc(90% - 2.8rem);
                    margin-left: 120px;
                    padding: 1.4rem;
                    @include outer-shadow('regular');
                    @include transition-default();
                    &::after {
                        display: table;
                        clear: both;
                        content: '';
                    }
                    h3 {
                        font-size: 1.25rem;
                        line-height: 1.625;
                    }
                    p {
                        font-size: 0.875rem;
                        margin: 0.875rem 0;
                    }
                    .uix-timeline__item__date {
                        font-size: 0.875rem;
                        position: absolute;
                        top: 0;
                        left: -70px;
                        display: inline-block;
                        float: left;
                        width: 100%;
                        padding: .6875rem 0;
                        opacity: .7;
                    }
                }
            }
        }
    }
}
@media all and (max-width: 768px) {
    .uix-timeline__container-wrapper {
        .uix-timeline__container {
            .uix-timeline {
                .uix-timeline__item {
                    .uix-timeline__line {
                        left: 20px;
                    }
                    .uix-timeline__item__img {
                        left: 0;
                        margin-left: auto;
                    }
                    .uix-timeline__item__info {
                        width: 80%;
                        margin-left: 3.5rem;
                        .uix-timeline__item__date {
                            top: 45px;
                            right: auto !important;
                            left: -60px !important;
                            text-align: left !important;
                        }
                    }
                }
            }
        }
    }
}
/*
 ---------------------------
 2. Vertical  - Interaction
 ---------------------------
 */
.uix-timeline__container-wrapper.is-vertical.js-uix-timeline {
    .uix-timeline__container {
        height: 400px;
        margin: 0 auto;
        padding: 0;
        .uix-timeline {
            width: auto;
            height: 9999px;
            transition: .5s ease-in-out;
            .uix-timeline__item {
                margin: 0;
                padding: 0;
                .uix-timeline__item__img {
                    /* Default status*/
                    opacity: .3;
                    .uix-timeline__item__date {
                        font-size: 0.875rem;
                        display: inline-block;
                        min-width: 100px;
                        transform: translate(50px, -35px);
                    }
                }
                .uix-timeline__item__info {
                    left: 0;
                    float: none;
                    margin-bottom: 0;
                    transform: translateY(100px);
                    opacity: 0;
                }
                &.is-active {
                    .uix-timeline__item__img {
                        opacity: 1;
                    }
                    .uix-timeline__item__info {
                        opacity: 1;
                        .uix-timeline__item__date {
                            color: $highlight-color1;
                        }
                    }
                }
            }
            //.uix-timeline__item end
        }
    }
}
@media all and (max-width: 768px) {
    .uix-timeline__container-wrapper.is-vertical.js-uix-timeline {
        .uix-timeline__container {
            .uix-timeline {
                .uix-timeline__item {
                    .uix-timeline__item__img {
                        .uix-timeline__item__date {
                            transform: translate(0, 0);
                        }
                    }
                }
                //.uix-timeline__item end
            }
        }
    }
}
/*
 ---------------------------
 3. Vertical & Reversed
 ---------------------------
 */
@media all and (min-width: 769px) {
    .uix-timeline__container-wrapper.is-vertical.is-reversed {
        .uix-timeline__container {
            .uix-timeline {
                .uix-timeline__item {
                    .uix-timeline__line {
                        left: 50%;
                    }
                    .uix-timeline__item__img {
                        left: 50%;
                    }
                    .uix-timeline__item__info {
                        width: 45%;
                        margin-left: 10px;
                        .uix-timeline__item__date {
                            left: 122%;
                        }
                    }
                    &:nth-child(odd) .uix-timeline__item__img {
                        .uix-timeline__item__date {
                            transform: translate(-50%, -135%);
                        }
                    }
                    &:nth-child(even) .uix-timeline__item__info {
                        float: right;
                        margin-right: 10px;
                        .uix-timeline__item__date {
                            right: 122%;
                            left: auto;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: 768px) {
    .uix-timeline__container-wrapper.is-vertical.is-reversed {
        .uix-timeline__container {
            .uix-timeline {
                .uix-timeline__item {
                    &:nth-child(even) .uix-timeline__item__info {
                        float: none;
                    }
                }
            }
        }
    }
}
/*
 ---------------------------
 4. Horizontal  - Interaction
 ---------------------------
 */
$horizontal-item-width: 250px;
$horizontal-container-width: 1000px;
.uix-timeline__container-wrapper.is-horizontal {
    .uix-timeline__container {
        width: $horizontal-container-width;
        margin: 0 auto;
        padding: 3.5rem 0;
        &::after {
            position: absolute;
            z-index: 0;
            top: 104px;
            left: 0;
            display: block;
            width: 100%;
            height: 1px;
            content: '';
            background-color: $highlight-color1;
            background-image: linear-gradient(to right, $btn-gradient-color1 0%, $btn-gradient-color2 20%, $btn-gradient-color3 100%);
        }
        .uix-timeline {
            width: 9999px;
            transition: .5s ease-in-out;
            &::after {
                display: table;
                clear: both;
                content: "";
            }
            .uix-timeline__item {
                float: left;
                width: $horizontal-item-width;
                margin: 0;
                &::after {
                    display: none;
                }
                .uix-timeline__line {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                }
                .uix-timeline__item__img {
                    z-index: 3;
                    top: -20px;
                    left: 50%;
                    margin-left: 0;
                    cursor: pointer;
                    transform: translateX(-50%);
                    /* Default status*/
                    opacity: .3;
                }
                .uix-timeline__item__info {
                    top: 25px;
                    left: 0;
                    /* Scrollbar width is 17px by default */
                    float: none;
                    min-width: #{$horizontal-item-width - 50};
                    margin-bottom: 17px;
                    transform: translateX(-50%);
                    .uix-timeline__item__date {
                        position: absolute;
                        z-index: 2;
                        top: -85px;
                        left: 50%;
                        display: inline-block;
                        float: none;
                        overflow: hidden;
                        width: 50px;
                        /* Vertical Center */
                        transform: translateX(-50%);
                        text-align: center;
                    }
                }
                &.is-active {
                    .uix-timeline__item__img {
                        opacity: 1;
                    }
                    .uix-timeline__item__info {
                        .uix-timeline__item__date {
                            color: $highlight-color1;
                        }
                    }
                }
            }
            //.uix-timeline__item end
        }
    }
}
@media all and (max-width: 768px) {
    .uix-timeline__container-wrapper.is-horizontal {
        .uix-timeline__btn {
            display: none;
            background: #ff0000;
        }
        .uix-timeline__container {
            width: auto;
            padding: 0;
            &::after {
                display: none;
            }
            .uix-timeline {
                width: 100%;
                .uix-timeline__item {
                    float: none;
                    width: 100%;
                    max-width: none;
                    margin: 0 0 3.5rem;
                    .uix-timeline__line {
                        top: 20px;
                        left: 36px;
                        width: 1px;
                        height: calc(100% + 5rem);
                    }
                    .uix-timeline__item__img {
                        top: 20px;
                        left: 16px;
                        margin-left: 20px;
                        opacity: 1;
                    }
                    .uix-timeline__item__info {
                        position: relative;
                        left: 50%;
                        width: calc(80% - 40px);
                        margin: 0;
                        margin-left: .5rem;
                        .uix-timeline__item__date {
                            top: 45px;
                            right: auto !important;
                            left: -28px !important;
                            float: left;
                        }
                    }
                    &.is-active {
                        .uix-timeline__item__info {
                            .uix-timeline__item__date {
                                color: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
}
/*
 ---------------------------
 5. Horizontal & Reversed  - Interaction
 ---------------------------
 */
@media all and (min-width: 769px) {
    .uix-timeline__container-wrapper.is-horizontal.is-reversed {
        .uix-timeline__btn {
            top: 50%;
            margin-top: -45px;
            transform: translateY(-50%);
        }
        .uix-timeline__container {
            &::after {
                top: 50%;
                margin-top: -44px;
            }
            .uix-timeline {
                .uix-timeline__item:nth-child(odd) {
                    .uix-timeline__item__img {
                        position: relative;
                        margin-top: 0;
                    }
                    .uix-timeline__item__info {
                        position: absolute;
                    }
                }
                //.uix-timeline__item end
                .uix-timeline__item:nth-child(even) {
                    .uix-timeline__item__img {
                        position: relative;
                        margin-top: 0;
                    }
                    .uix-timeline__item__info {
                        position: absolute;
                        margin-top: -50px;
                        transform: translate(-50%, -100%); /* 必需的 */
                        .uix-timeline__item__date {
                            top: auto;
                            bottom: -90px;
                        }
                    }
                }
                //.uix-timeline__item end
            }
        }
    }
}
/*
 ---------------------------
 6. Horizontal ( Classic)  - Interaction
 ---------------------------
 */
.uix-timeline__container-wrapper.is-horizontal.uix-timeline__container-wrapper--classic {
    .uix-timeline__btn {
        top: 147px;
    }
    .uix-timeline__container {
        &::after {
            top: 171px;
        }
        .uix-timeline {
            .uix-timeline__item {
                padding-bottom: 8rem;
                .uix-timeline__line {
                    display: none;
                }
                .uix-timeline__item__img {
                    .uix-timeline__item__date {
                        font-size: 0.875rem;
                        display: inline-block;
                        min-width: 100px;
                    }
                }
                .uix-timeline__item__info {
                    top: 135px;
                    left: 0;
                    width: #{$horizontal-item-width*2};
                    margin: 0 auto;
                    transform: translateX(#{$horizontal-item-width});
                    text-align: center;
                    opacity: 0;
                }
                &.is-active {
                    .uix-timeline__item__info {
                        opacity: 1;
                    }
                }
            }
            /* Whether to slide to the middle. */
            &.uix-timeline--to-center {
                transform: translateX(#{$horizontal-item-width + $horizontal-item-width/2});
                .uix-timeline__item {
                    .uix-timeline__item__info {
                        transform: translateX(-#{$horizontal-item-width/2});
                    }
                }
            }
        }
    }
}
@media all and (max-width: 768px) {
    .uix-timeline__container-wrapper.is-horizontal.uix-timeline__container-wrapper--classic {
        .uix-timeline__container {
            .uix-timeline {
                .uix-timeline__item {
                    padding-bottom: 3rem;
                    .uix-timeline__line {
                        display: block;
                    }
                    .uix-timeline__item__info {
                        position: relative;
                        top: 25px;
                        left: 3.5rem;
                        width: calc(80% - 40px);
                        margin: 0;
                        margin-left: .5rem;
                        transform: translateX(0);
                        text-align: left;
                        opacity: 1;
                    }
                }
                /* Whether to slide to the middle. */
                &.uix-timeline--to-center {
                    transform: translateX(0);
                    .uix-timeline__item {
                        .uix-timeline__item__info {
                            transform: translateX(0);
                        }
                    }
                }
            }
        }
    }
}
/*
 ---------------------------
 7. Buttons
 ---------------------------
 */
.uix-timeline__container-wrapper {
    .uix-timeline__btn {
        line-height: 50px;
        position: absolute;
        z-index: 3;
        width: 50px;
        height: 50px;
        transition: .3s ease-in-out;
        text-align: center;
        border-radius: 100%;
        background: #ffffff;
        box-shadow: 0px 10px 54px 0px rgba(19, 32, 62, 0.21);
        &.is-disabled {
            display: none;
        }
    }
    &.is-vertical {
        .uix-timeline__btn {
            top: -60px;
            left: 10px;
            &.uix-timeline__btn--next {
                top: auto;
                bottom: -60px;
            }
            &.uix-timeline__btn--prev:hover {
                margin-top: -0.3125rem;
            }
            &.uix-timeline__btn--next:hover {
                margin-bottom: -0.3125rem;
            }
        }
    }
    &.is-vertical.js-uix-timeline.is-reversed {
        .uix-timeline__btn {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &.is-horizontal {
        .uix-timeline__btn {
            top: 80px;
            left: 8%;
            &.uix-timeline__btn--next {
                right: 8%;
                left: auto;
            }
            &.uix-timeline__btn--prev:hover {
                margin-left: -0.3125rem;
            }
            &.uix-timeline__btn--next:hover {
                margin-right: -0.3125rem;
            }
        }
    }
}

