<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
    <meta charset="@@{website_charset}" />
    <title>消息条 - @@{website_title}</title>
    @@include('./src/components/_global/include-header.html')
</head>
<body class="page">
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class="uix-wrapper">
    <!-- Header Area
    ============================================= -->
    <header class="uix-header__container">
        <div class="uix-header">
            <div class="container">
                @@include('./src/components/_global/include-brand.html')
                @@include('./src/components/_global/include-menu.html')
            </div>
            <!-- .container end -->
            <div class="uix-clearfix"></div>
        </div>
    </header>
    <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
    <main id="uix-maincontent">
        <!-- Content
        ====================================================== -->
        <section class="uix-spacing--s uix-spacing--no-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3>消息条</h3>
                        <p>您可以使用任何可用的基本样式表类来快速创建自定义样式。</p>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- Content
         ====================================================== -->
        <section class="uix-spacing--s">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                         <pre class="uix-precode"><label>HTML</label><code>&lt;p class=&quot;uix-striking-msg uix-striking-msg--default is-pill&quot;&gt;
    &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
    消息条内容
&lt;/p&gt;</code></pre>
                        <p class="uix-striking-msg uix-striking-msg--default is-pill">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            消息条内容
                        </p>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>&lt;p class=&quot;uix-striking-msg uix-striking-msg--success is-pill&quot;&gt;
    消息条内容
&lt;/p&gt;</code></pre>
                        <p class="uix-striking-msg uix-striking-msg--success is-pill">
                            消息条内容
                        </p>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>&lt;p class=&quot;uix-striking-msg uix-striking-msg--info is-pill&quot;&gt;
    消息条内容
&lt;/p&gt;</code></pre>
                        <p class="uix-striking-msg uix-striking-msg--info is-pill">
                            消息条内容
                        </p>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>&lt;p class=&quot;uix-striking-msg uix-striking-msg--alert is-pill&quot;&gt;
    消息条内容
&lt;/p&gt;</code></pre>
                        <p class="uix-striking-msg uix-striking-msg--alert is-pill">
                            消息条内容
                        </p>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>&lt;p class=&quot;uix-striking-msg uix-striking-msg--danger is-pill&quot;&gt;
    &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
    消息条内容
&lt;/p&gt;</code></pre>
                        <p class="uix-striking-msg uix-striking-msg--danger is-pill">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            消息条内容
                        </p>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>&lt;p class=&quot;uix-striking-msg uix-striking-msg--default is-rounded&quot;&gt;
    &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
    消息条内容
&lt;/p&gt;</code></pre>
                        <p class="uix-striking-msg uix-striking-msg--default is-rounded">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            消息条内容
                        </p>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>&lt;p class=&quot;uix-striking-msg uix-striking-msg--success is-rounded&quot;&gt;
    &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
    消息条内容
&lt;/p&gt;</code></pre>
                        <p class="uix-striking-msg uix-striking-msg--success is-rounded">
                            消息条内容
                        </p>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>&lt;p class=&quot;uix-striking-msg uix-striking-msg--info is-rounded&quot;&gt;
    &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
    消息条内容
&lt;/p&gt;</code></pre>
                        <p class="uix-striking-msg uix-striking-msg--info is-rounded">
                            消息条内容
                        </p>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>&lt;p class=&quot;uix-striking-msg uix-striking-msg--alert is-rounded&quot;&gt;
    &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
    消息条内容
&lt;/p&gt;</code></pre>
                        <p class="uix-striking-msg uix-striking-msg--alert is-rounded">
                            消息条内容
                        </p>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>&lt;p class=&quot;uix-striking-msg uix-striking-msg--danger is-rounded&quot;&gt;
    &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
    消息条内容
&lt;/p&gt;</code></pre>
                        <p class="uix-striking-msg uix-striking-msg--danger is-rounded">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            消息条内容
                        </p>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>&lt;p class=&quot;uix-striking-msg uix-striking-msg--default is-rounded uix-striking-msg--hasarrow&quot;&gt;
    &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
    消息条内容
&lt;/p&gt;</code></pre>
                        <p class="uix-striking-msg uix-striking-msg--default is-rounded uix-striking-msg--hasarrow">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            消息条内容
                        </p>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>&lt;p class=&quot;uix-striking-msg uix-striking-msg--success is-rounded uix-striking-msg--hasarrow&quot;&gt;
    &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
    消息条内容
&lt;/p&gt;</code></pre>
                        <p class="uix-striking-msg uix-striking-msg--success is-rounded uix-striking-msg--hasarrow">
                            消息条内容
                        </p>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>&lt;p class=&quot;uix-striking-msg uix-striking-msg--info is-rounded uix-striking-msg--hasarrow&quot;&gt;
    &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
    消息条内容
&lt;/p&gt;</code></pre>
                        <p class="uix-striking-msg uix-striking-msg--info is-rounded uix-striking-msg--hasarrow">
                            消息条内容
                        </p>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>&lt;p class=&quot;uix-striking-msg uix-striking-msg--alert is-rounded uix-striking-msg--hasarrow&quot;&gt;
    &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
    消息条内容
&lt;/p&gt;</code></pre>
                        <p class="uix-striking-msg uix-striking-msg--alert is-rounded uix-striking-msg--hasarrow">
                            消息条内容
                        </p>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>&lt;p class=&quot;uix-striking-msg uix-striking-msg--danger is-rounded uix-striking-msg--hasarrow&quot;&gt;
    &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
    消息条内容
&lt;/p&gt;</code></pre>
                        <p class="uix-striking-msg uix-striking-msg--danger is-rounded uix-striking-msg--hasarrow">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            消息条内容
                        </p>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>&lt;p class=&quot;uix-striking-msg uix-striking-msg--default is-rounded uix-striking-msg--hasarrow uix-striking-msg--inline&quot;&gt;
    &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
    消息条内容
&lt;/p&gt;</code></pre>
                        <p class="uix-striking-msg uix-striking-msg--default is-rounded uix-striking-msg--hasarrow uix-striking-msg--inline">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            消息条内容
                        </p>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>&lt;p class=&quot;uix-striking-msg uix-striking-msg--success is-rounded uix-striking-msg--hasarrow uix-striking-msg--inline&quot;&gt;
    &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
    消息条内容
&lt;/p&gt;</code></pre>
                        <p class="uix-striking-msg uix-striking-msg--success is-rounded uix-striking-msg--hasarrow uix-striking-msg--inline">
                            消息条内容
                        </p>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>&lt;p class=&quot;uix-striking-msg uix-striking-msg--info is-rounded uix-striking-msg--hasarrow uix-striking-msg--inline&quot;&gt;
    &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
    消息条内容
&lt;/p&gt;</code></pre>
                        <p class="uix-striking-msg uix-striking-msg--info is-rounded uix-striking-msg--hasarrow uix-striking-msg--inline">
                            消息条内容
                        </p>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>&lt;p class=&quot;uix-striking-msg uix-striking-msg--alert is-rounded uix-striking-msg--hasarrow uix-striking-msg--inline&quot;&gt;
    &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
    消息条内容
&lt;/p&gt;</code></pre>
                        <p class="uix-striking-msg uix-striking-msg--alert is-rounded uix-striking-msg--hasarrow uix-striking-msg--inline">
                            消息条内容
                        </p>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>&lt;p class=&quot;uix-striking-msg uix-striking-msg--danger is-rounded uix-striking-msg--hasarrow uix-striking-msg--inline&quot;&gt;
    &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
    消息条内容
&lt;/p&gt;</code></pre>
                        <p class="uix-striking-msg uix-striking-msg--danger is-rounded uix-striking-msg--hasarrow uix-striking-msg--inline">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            消息条内容
                        </p>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>&lt;p class=&quot;uix-striking-msg uix-striking-msg--danger is-rounded uix-striking-msg--hasarrow uix-striking-msg--hasarrow--reversed uix-striking-msg--inline&quot;&gt;
    &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
    消息条内容
&lt;/p&gt;</code></pre>
                        <p class="uix-striking-msg uix-striking-msg--danger is-rounded uix-striking-msg--hasarrow uix-striking-msg--hasarrow--reversed uix-striking-msg--inline">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            消息条内容
                        </p>
                    </div>
                    <!-- .col-12 end -->
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
    </main>
    @@include('./src/components/_global/include-copyright.html')
</div>
<!-- .uix-wrapper end -->
@@include('./src/components/_global/include-footer.html')

