<!DOCTYPE html>
<html lang='@@{website_lang}' dir='@@{website_dirLTR}'>
<head>
    <meta charset='@@{website_charset}' />
    <title>排版 - @@{website_title}</title>
    @@include('./src/components/_global/include-header.html')
</head>
<body class='page'>
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class='uix-wrapper'>
    <!-- Header Area
    ============================================= -->
    <header class='uix-header__container'>
        <div class='uix-header'>
            <div class='container'>
                @@include('./src/components/_global/include-brand.html')
                @@include('./src/components/_global/include-menu.html')
            </div>
            <!-- .container end -->
            <div class='uix-clearfix'></div>
        </div>
    </header>
    <div class='uix-header__placeholder js-uix-header__placeholder-autoheight'></div>
    <main id='uix-maincontent'>
        <!-- Content
         ====================================================== -->
        <section class='uix-spacing--s'>
            <div class='container uix-entry__content uix-list uix-list--normal uix-table uix-table--bordered'>
                <div class='row'>
                    <div class='col-12'>
                        <h1>标题一 <code>h1</code></h1>
                        <h2>标题二 <code>h2</code></h2>
                        <h3>标题三 <code>h3</code></h3>
                        <h4>标题四 <code>h4</code></h4>
                        <h5>标题五 <code>h5</code></h5>
                        <h6>标题六 <code>h6</code></h6>
                        <hr>
                        <h1 class='uix-spacing--no'>标题一（无间距） <code>uix-spacing--no</code></h1>
                        <h1 class='uix-typo--style-normal'>标题一（正常） <code>uix-typo--style-normal</code></h1>
                        <h1 class='uix-typo--style-uppercase'>标题一（大写） <code>uix-typo--style-uppercase</code></h1>
                        <h1 class='uix-typo--style-bold'>标题一（粗体） <code>uix-typo--style-bold</code></h1>
                        <h1 class='uix-typo--style-italic'>标题一（斜体） <code>uix-typo--style-italic</code></h1>
                        <h1 class='uix-typo--style-noitalic'>标题一（无斜体） <code>uix-typo--style-noitalic</code></h1>
                        <h1 class='uix-typo--style-underline'>标题一（下划线） <code>uix-typo--style-underline</code></h1>
                        <h1 class='uix-typo--style-tiny'>标题一（小） <code>uix-typo--style-tiny</code></h1>
                        <h1 class='uix-typo--color-primary'>标题一（原色） <code>uix-typo--color-primary</code></h1>
                        <h1 class='uix-typo--color-highlight'>标题一（颜色高亮） <code>uix-typo--color-highlight</code>
                        </h1>
                        <h1 class='uix-typo--color-sub'>标题一（副颜色） <code>uix-typo--color-sub</code></h1>
                        <h1 class='uix-typo--color-white'>标题一（白色） <code>uix-typo--color-white</code></h1>
                        <p class='uix-typo--h5 uix-typo--style-normal'>GB2312 标准共收录 6763 个汉字，其中一级汉字 3755 个，二级汉字 3008 个；同时收录了包括拉丁字母、希腊字母、日文平假名及片假名字母、俄语西里尔字母在内的 682 个字符。GB2312 的出现，基本满足了汉字的计算机处理需要，它所收录的汉字已经覆盖中国大陆 99.75% 的使用频率。对于人名、古汉语等方面出现的罕用字，GB2312 不能处理，这导致了后来 GBK 及 GB18030 汉字字符集的出现。</p>
                        <blockquote>
                            <p>段落文字.</p>
                            <pre class='uix-precode'><label>HTML</label>
                                <code>&lt;blockquote&gt;&lt;p&gt;&lt;/p&gt;&lt;/blockquote&gt;</code>
                            </pre>
                        </blockquote>
                        <p>其他参考:</p>
                        <blockquote>
                            <p>文章1984年出生于陕西省西安市。上高三的时候，文章被保送到四川师范大学艺术学院学习影视表演，但是他并未进入这个学校，而是决心去北京学习。在填写大学志愿之前，文章专门去北京考察了中国两大艺术院校—北京电影学院和中央戏剧学院。回到西安之后，文章不顾父母阻拦，将大学志愿从一本到专科总共八个志愿全部填成中央戏剧学院。2002年文章被中央戏剧学院表演系录取。<cite>Steve Jobs &#8211; Apple Worldwide Developers&#8217; Conference, 1997</cite>
                            </p>
                            <pre class='uix-precode'><label>HTML</label>
                                <code>&lt;blockquote&gt;&lt;p&gt;&lt;cite&gt;&lt;/cite&gt;&lt;/p&gt;&lt;/blockquote&gt;</code>
                            </pre>
                        </blockquote>
                        <h2>表格</h2>
                        <table>
                            <tbody>
                            <tr>
                                <th width='150px'>项目列表</th>
                                <th>描述</th>
                            </tr>
                            <tr class='odd'>
                                <td><a href='http://john.do/'>名称</a></td>
                                <td>内容介绍在这里。</td>
                            </tr>
                            <tr class='even'>
                                <td><a href='http://tommcfarlin.com/'>名称</a></td>
                                <td>内容介绍在这里。</td>
                            </tr>
                            <tr class='odd'>
                                <td><a href='http://jarederickson.com/'>名称</a></td>
                                <td>文章1984年出生于陕西省西安市。上高三的时候，文章被保送到四川师范大学艺术学院学习影视表演，但是他并未进入这个学校，而是决心去北京学习。在填写大学志愿之前，文章专门去北京考察了中国两大艺术院校—北京电影学院和中央戏剧学院。回到西安之后，文章不顾父母阻拦，将大学志愿从一本到专科总共八个志愿全部填成中央戏剧学院。</td>
                            </tr>
                            </tbody>
                        </table>
                        <ul>
                            <li>列表项</li>
                            <li>列表项</li>
                            <li>列表项</li>
                        </ul>
                        <ol>
                            <li>列表项</li>
                            <li>列表项</li>
                            <li>列表项</li>
                        </ol>
                        <p class='uix-typo--dropcap'>文章1984年出生于陕西省西安市。上高三的时候，文章被保送到四川师范大学艺术学院学习影视表演，但是他并未进入这个学校，而是决心去北京学习。在填写大学志愿之前，文章专门去北京考察了中国两大艺术院校—北京电影学院和中央戏剧学院。回到西安之后，文章不顾父母阻拦，将大学志愿从一本到专科总共八个志愿全部填成中央戏剧学院。2002年文章被中央戏剧学院表演系录取。<a href='#'>链接文字</a>
                        </p>
                        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus.</p>
                        <p class='uix-typo--dropcap'>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                        <pre>
$: > 系统开始...
$: > 内存: 256kb
$: > 媒体扫描数             ------------ 100%
$: > 载入进度               ------------ 100%
</pre>
                        <pre class='uix-precode'><label>CSS</label><code>#wrapper {
  padding:5%;
  margin:0 auto;
}</code>
</pre>
                        <pre class='uix-precode uix-precode--nolebel'><code>#wrapper {
  padding:5%;
  margin:0 auto;
}</code>
</pre>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
    </main>
    @@include('./src/components/_global/include-copyright.html')
</div>
<!-- .uix-wrapper end -->
@@include('./src/components/_global/include-footer.html')

