/* ======================================================
   <!-- Mouse Animation Scroll -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
.uix-mouse-icon {
    &.uix-mouse-icon--simulation {
        position: absolute;
        z-index: 10;
        bottom: 10px;
        left: 50%;
        display: block;
        /* locate */
        width: 25px;
        height: 40px;
        cursor: pointer;
        transform: translateX(-50%);
        border: 2px solid #b7b7b7;
        border-radius: 16px;
        &::after {
            position: relative;
            top: 4px;
            display: block;
            width: 4px;
            height: 10px;
            margin-right: auto;
            margin-left: auto;
            content: '';
            animation-name: uix-cssAnim--mouseScrolling;
            animation-duration: 1s;
            animation-play-state: running;
            animation-timing-function: linear;
            animation-delay: 0s;
            animation-iteration-count: infinite;
            border-radius: 10px;
            background: #ffffff none repeat scroll 0 0;
        }
    }
    &.uix-mouse-icon--arrow {
        position: absolute;
        /* locate */
        z-index: 10;
        bottom: 10px;
        left: 50%;
        width: 35px;
        cursor: pointer;
        transform: translateX(-50%);
        &::after,
        &::before {
            display: block;
            width: 15px;
            height: 15px;
            margin: 5px auto 3px;
            content: '';
            transform: rotate(45deg);
            animation: uix-cssAnim--arrowScrolling 1s infinite;
            animation-delay: .2s;
            border-right: 2px solid #ffffff;
            border-bottom: 2px solid #ffffff;
        }
        &::after {
            margin-top: -10px;
            -webkit-animation-delay: .1s;
            animation-delay: .1s;
        }
        &::before {
            -webkit-animation-delay: .3s;
            animation-delay: .3s;
        }
    }
    &.uix-mouse-icon--arrow-simple {
        position: absolute;
        /* locate */
        z-index: 10;
        bottom: 10px;
        left: 50%;
        width: 35px;
        cursor: pointer;
        transform: translateX(-50%);
        animation: uix-cssAnim--arrowScrolling2 1s infinite alternate;
        &::before {
            display: block;
            width: 15px;
            height: 15px;
            margin: 5px auto 3px;
            content: '';
            transform: rotate(45deg);
            border-right: 2px solid #ffffff;
            border-bottom: 2px solid #ffffff;
        }
    }
}
@keyframes uix-cssAnim--arrowScrolling {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes uix-cssAnim--arrowScrolling2 {
    0% {
        bottom: 10px;
    }
    100% {
        bottom: 20px;
    }
}
@keyframes uix-cssAnim--mouseScrolling {
    0% {
        opacity: 0;
        top: 5px;
    }
    30% {
        opacity: 1;
        top: 10px;
    }
    100% {
        opacity: 0;
        top: 25px;
    }
}
