/* ======================================================
   <!-- 徽章 Badges -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
/*
* 1. 疯狂徽章
* 2. 状态徽章
*/
.uix-badge {
    .uix-badge__inner {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    &.uix-badge--rounded {
        border-radius: 50%;
    }
    /*
     ---------------------------
     1) 疯狂徽章
     ---------------------------
     */
    &.uix-badge--crazy {
        position: relative;
        display: table;
        width: 300px;
        height: 300px;
        margin: 0 auto 3rem;
        @include border-gradient($btn-gradient-color1, $btn-gradient-color2, 15px, 'to bottom', #ffffff);
        @include transition-default();
    }
    /*
     ---------------------------
     2) 状态徽章
     ---------------------------
     */
    &.uix-badge--status {
        position: relative;
        margin-right: 1.5rem;
        padding-right: .625rem;
        white-space: nowrap;
        &::after {
            font-size: 0.625rem;
            font-weight: 600;
            line-height: 20px;
            position: absolute;
            top: -.625rem;
            right: -.625rem;
            width: 20px;
            height: 20px;
            content: attr(data-badge);
            text-align: center;
            color: #ffffff;
            border-radius: 50%;
            background: $highlight-color1;
        }
        &.uix-badge--status-dot {
            &::after {
                font-size: 0;
                line-height: 0;
                top: -2.5px;
                right: -2.5px;
                width: 5px;
                height: 5px;
                animation: uix-cssAnim--dotRippleTiny 2s linear infinite;
            }
        }
    }
}
@keyframes uix-cssAnim--dotRippleTiny {
    0% {
        box-shadow: 0 0 0 3px rgba($highlight-color1, 0.4),
        0 0 0 5px rgba($highlight-color1, 0.1);
    }
    100% {
        box-shadow: 0 0 0 7px rgba($highlight-color1, 0),
        0 0 0 12px rgba($highlight-color1, 0);
    }
}
