/* ======================================================
    <!-- 手风琴背景图片 Accordion Background Images -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
// 手风琴高度
$accordion-img-height: 250px;
.uix-accordion-img {
    overflow: hidden;
    width: 100%;
    height: $accordion-img-height;
    > ul {
        font-size: 0; /* 争夺内联块元素之间的空间 */
        display: table;
        width: 100%;
        margin: 0;
        padding: 0;
        table-layout: fixed;
        > li {
            font-size: 1rem; /* 争夺内联块元素之间的空间 */
            position: relative;
            z-index: 1;
            display: table-cell;
            width: 16.66666666666667%; // 6 到 100
            height: $accordion-img-height;
            vertical-align: bottom;
            background-repeat: no-repeat;
            background-position: center center;
            @include transition-default();
            > img {
                position: absolute;
                top: 0;
                left: 0;
            }
            > .uix-accordion-img__content {
                display: block;
                box-sizing: border-box;
                width: 100%;
                height: $accordion-img-height;
                padding: 1rem 2.5rem;
                cursor: pointer;
                vertical-align: bottom;
                color: #ffffff;
                @include transition-default();
                h3,
                p {
                    position: relative;
                    z-index: -1;
                    word-break: break-all;
                }
                .uix-accordion-img__close {
                    font-size: 0.75rem;
                    position: absolute;
                    z-index: 2;
                    top: 10px;
                    right: 10px;
                    display: inline-block;
                    width: auto;
                    padding: 0 1rem;
                    color: #ffffff;
                    border-radius: 15px;
                    background: rgba(255, 255, 255, .2);
                }
            }
            &.is-active {
                width: 60%;
            }
            &.is-active.active-sub {
                > .outer {
                    h3,
                    p {
                        @include ellipsis();
                    }
                }
            }
        }
    }
}
// 堆叠项目
@media all and (max-width: 768px) {
    .uix-accordion-img {
        height: auto;
        > ul,
        > ul:hover {
            > li,
            > li:hover {
                position: relative;
                display: table;
                width: 100%;
                table-layout: fixed;
                transition: none;
            }
        }
    }
}
