/* ======================================================
    <!-- Hybrid Content Slider -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
/*
 * 1. Initialize the core style
 * 2. Next/Prev buttons
 * 3. Pagination dots
 * 
*/
/*
 ---------------------------
 1. Initialize the core style
 ---------------------------
 */
.uix-hybrid-content-slider {
    /* 必需的 */
    overflow: hidden;
    width: 100%;
    height: auto;
    .uix-hybrid-content-slider__items {
        position: relative;
        height: 100%;
        > .uix-hybrid-content-slider__item {
            height: 100%;
            img {
                pointer-events: none;
            }
            &.js-is-ready {
                position: absolute; /* 必需的 */
            }
            &.is-active {
            }
        }
    }
}
/*
 ---------------------------
 2. Next/Prev buttons
 ---------------------------
 */
.uix-hybrid-content-slider__controls {
    margin-top: 30px;
    text-align: center;
    pointer-events: none;
    .uix-hybrid-content-slider__controls--prev {
        padding-left: 2px;
    }
    .uix-hybrid-content-slider__controls--next {
        padding-right: 2px;
    }
    a {
        font-family: Arial, "sans-serif";
        font-size: 32px;
        font-weight: bold;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        margin-left: 10px;
        cursor: pointer;
        text-decoration: none;
        pointer-events: all;
        opacity: 1;
        color: #000000;
        border: 0;
        border-radius: 50%;
        outline: 0;
        &.is-disabled {
            pointer-events: none;
            opacity: .3;
        }
    }
}
/*
 ---------------------------
 3. Pagination dots
 ---------------------------
 */
.uix-hybrid-content-slider__pagination {
    position: relative;
    z-index: 2;
    margin-top: 40px;
    ul.uix-hybrid-content-slider__pagination--default {
        font-size: 0; /* 争夺内联块元素之间的空间 */
        position: relative;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center; /* 要求 */
        li {
            font-size: 1rem; /* 争夺内联块元素之间的空间 */
            display: inline-block; /* 要求 */
            margin: 0 .2rem;
            a {
                display: block;
                width: 12px;
                height: 12px;
                cursor: pointer;
                text-indent: -9999px;
                border-radius: 20px;
                background: rgba(0, 0, 0, 0.5);
                box-shadow: 0px 6px 23px -2px rgba(0, 0, 0, 0.36);
            }
            &:hover a,
            &.is-active a {
                width: 25px;
                background: rgba(0, 0, 0, 1);
            }
        }
    }
    ul.uix-hybrid-content-slider__pagination--custom {
        font-size: 0; /* 争夺内联块元素之间的空间 */
        position: relative;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        transform: translateY(.5rem);
        text-align: center; /* 要求 */
        li {
            font-size: 0.75rem; /* 争夺内联块元素之间的空间 */
            display: inline-block; /* 要求 */
            margin: 0 .2rem;
            a {
                display: block;
                padding: .2rem 1rem;
                cursor: pointer;
                color: #ffffff;
                border-radius: 20px;
                background: rgba(0, 0, 0, 0.5);
                box-shadow: 0px 6px 23px -2px rgba(0, 0, 0, 0.36);
            }
            &:hover a,
            &.is-active a {
                background: rgba(0, 0, 0, 1);
            }
        }
    }
}


