/* ======================================================
   <!-- Maintain Aspect Ratio List -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
.uix-list-aspect-ratio {
    .uix-list-aspect-ratio__content {
        padding: 0 3rem; /* You can change this value to change items size */
    }
    .uix-list-aspect-ratio__item {
        position: relative; /* If you want text inside of it */
        @include transition-default();
        display: block;
        /* Maintain Aspect Ratio 1:1*/
        width: 100%;
        padding-top: 100%; /* 1:1 Aspect Ratio */
        background: #212121;
        img,
        i {
            @include transition-default();
            font-size: 5rem;
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            width: 5rem;
            height: auto;
            transform: translate(-50%, -50%);
            color: rgba(255, 255, 255, 1);
        }
        &:hover {
            background: $highlight-color1;
        }
    }
}
@media all and (max-width: 768px) {
    .uix-list-aspect-ratio {
        padding: 0;
        padding-right: 15px;
        .uix-list-aspect-ratio__item {
            img,
            i {
                font-size: 2.5rem;
                width: 2.5rem;
            }
        }
        .uix-core-grid__col-4 {
            float: left;
            width: 33.333333333333%;
        }
        .uix-list-aspect-ratio__content {
            padding: .5rem;
        }
    }
}
