/* ======================================================
   <!-- 3D Shatter Slider -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
/*
 * 1. Initialize the slider style
 * 2. Pagination dots
 * 3. Next/Prev buttons
*/
/*
 ---------------------------
 1. Initialize the slider style
 ---------------------------
 */
.uix-3d-slider--shatter__wrapper {
    position: relative;
}
/* 防止内容溢出 */
.uix-3d-slider--shatter__wrapper,
.uix-3d-slider--shatter__inner,
.uix-3d-slider--shatter__canvas-container {
    // 最大高度：100vh；
    overflow: hidden;
}
.uix-3d-slider--shatter__canvas-container {
    position: relative;
    z-index: 2;
    display: block;
    height: 100%; /* 必需，它将使画布填满 */
}
.uix-3d-slider--shatter {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    background-color: transparent;
    canvas {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    .uix-3d-slider--shatter__inner {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        display: none;
        height: 100%; /* 必需的 */
        .uix-3d-slider--shatter__item {
            width: 100%;
            opacity: 0;
            img {
                visibility: hidden;
                width: 100%;
            }
            video {
                display: none;
            }
            &.leave {
                opacity: 0;
            }
            &.is-active {
                opacity: 1;
            }
        }
    }
}
/*
 ---------------------------
 2. Pagination dots
 ---------------------------
 */
.uix-3d-slider--shatter__pagination {
    position: relative;
    z-index: 2;
    transform: translateY(-40px);
    ul {
        font-size: 0; /* 争夺内联块元素之间的空间 */
        position: relative;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        list-style: none;
        transform: translateY(.5rem);
        text-align: center; /* 要求 */
        li {
            font-size: 1rem; /* 争夺内联块元素之间的空间 */
            display: inline-block; /* 要求 */
            margin: 0 .2rem;
            a {
                display: block;
                width: 12px;
                height: 12px;
                cursor: pointer;
                text-indent: -9999px;
                border-radius: 20px;
                background: rgba(255, 255, 255, .6);
                box-shadow: 0px 3px 22px 0px rgba(0, 0, 0, 0.45);
            }
            &:hover,
            &.is-active {
                a {
                    width: 25px;
                    background: rgba(255, 255, 255, 1);
                }
            }
        }
    }
}
/*
 ---------------------------
 3. Next/Prev buttons
 ---------------------------
 */
.uix-3d-slider--shatter__arrows {
    position: relative;
    z-index: 3;
    transform: translateY(-65px);
    a {
        line-height: 50px;
        position: absolute;
        width: 50px;
        height: 50px;
        transition: .3s ease-in-out;
        text-align: center;
        border-radius: 100%;
        background: #ffffff;
        box-shadow: 0px 10px 54px 0px rgba(19, 32, 62, 0.21);
    }
    .uix-3d-slider--shatter__arrows--prev {
        left: 15px;
        &.is-disabled {
            visibility: hidden;
        }
    }
    .uix-3d-slider--shatter__arrows--next {
        right: 15px;
        &.is-disabled {
            visibility: hidden;
        }
    }
}
