<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
    <meta charset="@@{website_charset}" />
    <title>标题 - @@{website_title}</title>
    @@include('./src/components/_global/include-header.html')
</head>
<body class="page">
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class="uix-wrapper">
    <!-- Header Area
    ============================================= -->
    <header class="uix-header__container">
        <div class="uix-header">
            <div class="container">
                @@include('./src/components/_global/include-brand.html')
                @@include('./src/components/_global/include-menu.html')
            </div>
            <!-- .container end -->
            <div class="uix-clearfix"></div>
        </div>
    </header>
    <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
    <main id="uix-maincontent">
        <!-- Content
         ====================================================== -->
        <section class="uix-spacing--s">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <pre class="uix-precode"><label>HTML</label><code>12</code></pre>
                        <h3 class="uix-heading--pinline"><span>标头固定线</span></h3>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>此处插入反义代码块</code></pre>
                        <h3 class="uix-heading--pinline">
                            <span>我是一名正在追梦路上的全栈设计师。 专注于用户界面、用户体验</span>
                        </h3>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>此处插入反义代码块</code></pre>
                        <h3 class="uix-heading--pinline uix-heading--pinline--left"><span>标题引脚线</span></h3>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>此处插入反义代码块</code></pre>
                        <h3 class="uix-heading--pinline uix-heading--pinline--right"><span>标题引脚线</span></h3>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>此处插入反义代码块</code></pre>
                        <h2 class="uix-heading--overlay" data-text="EFFECT"><em>文本叠加 1</em></h2>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>此处插入反义代码块</code></pre>
                        <h2 class="uix-heading--overlay uix-heading--overlay--bottom" data-text="EFFECT">
                            <em>文本叠加 2</em></h2>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>此处插入反义代码块</code></pre>
                        <h2 class="uix-heading--overlay uix-heading--overlay--底部uix-heading--overlay--sub" data-text="EFFECT">
                            <em>文本叠加 3</em></h2>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>此处插入反义代码块</code></pre>
                        <h2 class="uix-heading--fill" data-bg='{"src":"assets/images/demo/test-img-big-4.jpg","position":"top left","size":"cover","repeat":"no-repeat","fill":true,"offsetTop":0,"parallax":0}'>在文本下显示图像</h2>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>此处插入反义代码块</code></pre>
                        <h2 class="uix-heading--underline"><span>我的自定义下划线</span></h2>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>此处插入反义代码块</code></pre>
                        <h2 class="uix-heading--hybrid">混合标题<span>我应该在清醒之前还是之后进行设计？</span>
                        </h2>
                        <hr>
                        <pre class="uix-precode"><label>HTML</label><code>此处插入反义代码块</code></pre>
                        <h2 class="uix-heading--placeholder-line">占位符行标题</h2>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
    </main>
    @@include('./src/components/_global/include-copyright.html')
</div>
<!-- .uix-wrapper end -->
@@include('./src/components/_global/include-footer.html')

