/* ======================================================
    <!-- 品牌列表 Brands List -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
.uix-list-brands {
    display: block;
    overflow: auto; /* CSS 背景在使用 float:left 时消失 */
    &::after {
        display: block;
        clear: both;
        content: '';
    }
    li {
        display: inline-block;
        float: left; /* 当使用行内块元素时，这些元素之间总会有一个空白问题（那个空白大约是 ~ 4px 宽）。 */
        box-sizing: border-box;
        margin: 0;
        padding: 1rem 0;
        text-align: center;
        span {
            font-size: 0.875rem;
            display: block;
            padding: 1.5rem;
        }
    }
}
@media all and (min-width: 769px) {
    .uix-list-brands {
        &.uix-list-brands--tiny li {
            width: 16.66666666666667%;
            &:nth-child(6n+1) {
                clear: both;
            }
        }
        &.uix-list-brands--small li {
            width: 20%;
            &:nth-child(5n+1) {
                clear: both;
            }
        }
        /* 默认 */
        &.uix-list-brands--medium li {
            width: 25%;
            &:nth-child(4n+1) {
                clear: both;
            }
        }
        &.uix-list-brands--large li {
            width: 33.33333333333333%;
            &:nth-child(3n+1) {
                clear: both;
            }
        }
    }
}
@media all and (max-width: 768px) {
    .uix-list-brands {
        min-height: inherit;
        margin: 1.5rem 0;
        li {
            width: 50%;
            &:nth-child(2n+1) {
                clear: both;
            }
        }
        &.uix-list-brands--tiny li,
        &.uix-list-brands--small li,
        &.uix-list-brands--medium li,
        &.uix-list-brands--large li {
            width: 50%;
        }
    }
}
