/* ======================================================
   <!-- Breadcrumbs -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
$crumbs-back: #ffffff;
$crumbs-line-color: #eeeeee;
$crumbs-line-deg: 2;
$crumbs-size: 27px;
.uix-breadcrumbs__container {
    margin-top: -#{$crumbs-size};
}
.uix-breadcrumbs {
    ul {
        font-size: 0; /*Fighting the Space Between Inline Block Elements*/
        display: inline-table;
        list-style: none;
        li {
            font-size: 0.875rem; /*Fighting the Space Between Inline Block Elements*/
            display: inline-block;
            @include outer-shadow('regular');
            a {
                line-height: #{$crumbs-size*2};
                position: relative;
                display: block;
                height: #{$crumbs-size*2};
                padding: 0 #{$crumbs-size*1} 0 #{$crumbs-size*2};
                text-align: center;
                text-decoration: none;
                color: $primary-text-color;
                background: $crumbs-back;
                &::before,
                &::after {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 100%;
                    display: block;
                    width: 0;
                    height: 0;
                    content: '';
                    border-top: #{$crumbs-size} solid transparent;
                    border-bottom: #{$crumbs-size} solid transparent;
                    border-left: #{$crumbs-size/$crumbs-line-deg} solid transparent;
                    @include transition-default();
                }
                &::before {
                    margin-left: 1px;
                    border-left-color: $crumbs-line-color;
                }
                &::after {
                    border-left-color: #ffffff;
                }
                &:hover {
                    background: #fafafa;
                    &::after {
                        border-left-color: #fafafa;
                    }
                }
            }
            &:first-child a {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
            &:last-child a {
                padding-right: #{$crumbs-size*2};
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                &::before,
                &::after {
                    display: none;
                }
            }
            &.is-active {
                a {
                    color: #ffffff;
                    background: $highlight-color1;
                    &::after {
                        border-left-color: $highlight-color1;
                    }
                }
            }
        }
    }
    &.is-fullwidth {
        ul {
            display: table;
            width: 100%;
            li {
                display: table-cell;
                width: auto;
            }
        }
    }
}
