/* ====================================================== 
   <!-- SVG Map -->     
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
/*
 * 1. World Map
 * 2. China Map
*/
/*
 ---------------------------
 1. World Map
 ---------------------------
 */
.uix-svgmap--world {
    svg {
        width: 100%;
        height: 100%;
    }
    path {
        cursor: pointer;
        transform: matrix(0.3474, 0, 0, 0.3474, 0, 0);
        opacity: 1;
        fill: rgba($highlight-color1, .2);
        stroke: #ffffff;
        stroke-opacity: 1;
        stroke-width: 1;
        stroke-linejoin: round;
        fill-opacity: 1;
        @include transition-default();
        &:hover {
            fill: rgba($highlight-color1, .3);
        }
    }
    text {
        font-family: Arial;
        font-size: 3px;
        display: none;
        @include transition-default();
        fill: $primary-text-color;
        text-anchor: middle;
        &.uix-svgmap--world__num {
            font-family: Arial;
            font-size: 6px;
            transform: translate(0, 3px);
            fill: #ffffff;
        }
    }
    path,
    text {
        z-index: 1;
        display: block;
        opacity: 1;
        &.is-show {
            opacity: 1;
        }
    }
}
/*
 ---------------------------
 2. China Map
 ---------------------------
 */
.uix-svgmap--china {
    svg {
        width: 100%;
        height: 100%;
    }
    polygon {
        cursor: pointer;
        fill: rgba($highlight-color1, .2);
        stroke: #ffffff;
        stroke-width: 1;
        @include transition-default();
        &:hover {
            fill: rgba($highlight-color1, .3);
        }
    }
    text {
        font-size: 5px;
        display: none;
        fill: $primary-text-color;
        @include transition-default();
        text-anchor: middle;
        &.uix-svgmap--china__name {
            transform: translate(0, 15px);
        }
        &.uix-svgmap--china__num {
            font-family: Arial;
            font-size: 6px;
            transform: translate(0, 3px);
            fill: #ffffff;
        }
    }
    circle {
        position: relative;
        animation: uix-cssAnim--map-dot ease 1s infinite;
        pointer-events: none;
        fill: rgba($highlight-color2, 1);
        stroke: rgba($highlight-color2, .2);
        stroke-width: 7;
        @include transition-default();
        r: 6;
    }
    circle,
    text {
        position: relative;
        z-index: 1;
        display: block;
        opacity: 1;
        &.is-show {
            opacity: 1;
        }
    }
}
@keyframes uix-cssAnim--map-dot {
    0% {
        stroke-width: 5;
    }
    50% {
        stroke-width: 0;
    }
    100% {
        stroke-width: 5;
    }
}
	
