<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
        <meta charset="@@{website_charset}" />
        <title>级联的下拉列表 Cascading DropDown List - @@{website_title}</title>
        @@include('./src/components/_global/include-header.html')
</head>
<body class="page">
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class="uix-wrapper">
        <!-- 页眉区 -->
        <header class="uix-header__container">
                <div class="uix-header">
                        <!-- 容器 开始 -->
                        <div class="container">
                                @@include('./src/components/_global/include-brand.html')
                                @@include('./src/components/_global/include-menu.html')
                        </div>
                        <!-- 容器 结束 -->
                        <div class="uix-clearfix"></div>
                </div>
        </header>
        <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
        <main id="uix-maincontent">
                <!-- 内容 开始 -->
                <section class="uix-spacing--s uix-spacing--no-bottom">
                        <!-- 容器 开始 -->
                        <div class="container">
                                <!-- 行列 开始 -->
                                <div class="row">
                                        <div class="col-12">
                                                <h3>级联下拉列表</h3>
                                                <p>创建一个从 JSON 文件加载数据的动态下拉表单。 支持无限递归。</p>
                                                <hr>
                                        </div>
                                </div>
                                <!-- 行列 结束 -->
                        </div>
                        <!-- 容器 结束 -->
                </section>
                <!-- 内容 结束 -->
                <section class="uix-spacing--s">
                        <!-- 容器 开始 -->
                        <div class="container">
                                <!-- 行列 开始 -->
                                <div class="row">
                                        <div class="col-12">
                        <pre class="uix-precode"><label>HTML</label><code>&lt;div
    class=&quot;uix-cascading-dropdown-list&quot;
    data-cascading-dd-json=&quot;assets/json/dropdown-list.json&quot;
    data-cascading-dd-method=&quot;GET&quot;
    data-cascading-dd-loading-tmpl=&quot;&lt;div&gt;正在加载中......&lt;/div&gt;&quot;
&gt;
    &lt;input class=&quot;uix-cascading-dropdown-list__res&quot; name=&quot;myname1&quot; type=&quot;hidden&quot; value=&quot;&quot; /&gt;
    &lt;a role=&quot;button&quot; href=&quot;#&quot; class=&quot;uix-cascading-dropdown-list__trigger&quot; style=&quot;border: 1px solid #dadcdf;padding: 0.25rem 1rem;border-radius: 25px;font-size: .875rem;&quot;&gt;选择&lt;/a&gt;
&lt;/div&gt;</code></pre>
                                                <h4>空值</h4>
                                                <!-- 内容 开始 -->
                                                <div
                                                    class="uix-cascading-dropdown-list"
                                                    data-cascading-dd-json="assets/json/dropdown-list.json"
                                                    data-cascading-dd-method="GET"
                                                    data-cascading-dd-loading-tmpl="<div>正在加载中......</div>"
                                                >
                                                        <input class="uix-cascading-dropdown-list__res" name="myname1" type="hidden" value="" />
                                                        <a role="button" href="#" class="uix-cascading-dropdown-list__trigger" style="border: 1px solid #dadcdf;padding: 0.25rem 1rem;border-radius: 25px;font-size: .875rem;">选择</a>
                                                </div>
                                                <!-- 内容 结束 -->
                                        </div>
                                        <!-- col-12 end -->
                                </div>
                                <!-- 行列 结束 -->
                        </div>
                        <!-- 容器 结束 -->
                </section>
                <!-- 内容 结束 -->
                <section class="uix-spacing--s">
                        <!-- 容器 开始 -->
                        <div class="container">
                                <!-- 行列 开始 -->
                                <div class="row">
                                        <div class="col-12">
                        <pre class="uix-precode"><label>HTML</label><code>&lt;div
    class=&quot;uix-cascading-dropdown-list&quot;
    data-cascading-dd-json=&quot;assets/json/dropdown-list.json&quot;
    data-cascading-dd-method=&quot;GET&quot;
    data-cascading-dd-loading-tmpl=&quot;&lt;div&gt;正在加载中......&lt;/div&gt;&quot;
&gt;
    &lt;input class=&quot;uix-cascading-dropdown-list__res&quot; name=&quot;myname2&quot; type=&quot;hidden&quot; value=&quot;1_2&quot; /&gt;
    &lt;a role=&quot;button&quot; href=&quot;#&quot; class=&quot;uix-cascading-dropdown-list__trigger&quot; style=&quot;border: 1px solid #dadcdf;padding: 0.25rem 1rem;border-radius: 25px;font-size: .875rem;&quot;&gt;选择&lt;/a&gt;
&lt;/div&gt;</code></pre>
                                                <h4>指定默认值</h4>
                                                <!-- 内容 开始 -->
                                                <div
                                                    class="uix-cascading-dropdown-list"
                                                    data-cascading-dd-json="assets/json/dropdown-list.json"
                                                    data-cascading-dd-method="GET"
                                                    data-cascading-dd-loading-tmpl="<div>正在加载中......</div>"
                                                >
                                                        <input class="uix-cascading-dropdown-list__res" name="myname2" type="hidden" value="1_2" />
                                                        <a role="button" href="#" class="uix-cascading-dropdown-list__trigger" style="border: 1px solid #dadcdf;padding: 0.25rem 1rem;border-radius: 25px;font-size: .875rem;">选择</a>
                                                </div>
                                                <!-- 内容 结束 -->
                                        </div>
                                        <!-- col-12 end -->
                                </div>
                                <!-- 行列 结束 -->
                        </div>
                        <!-- 容器 结束 -->
                </section>
                <!-- 内容 结束 -->
                <section class="uix-spacing--s">
                        <!-- 容器 开始 -->
                        <div class="container">
                                <!-- 行列 开始 -->
                                <div class="row">
                                        <div class="col-12">
                        <pre class="uix-precode"><label>HTML</label><code>&lt;div
    class=&quot;uix-cascading-dropdown-list&quot;
    data-cascading-dd-json=&quot;assets/json/province-city-china-level.json&quot;
    data-cascading-dd-method=&quot;GET&quot;
    data-cascading-dd-loading-tmpl=&quot;&lt;div&gt;正在加载中.........&lt;/div&gt;&quot;
&gt;
    &lt;input class=&quot;uix-cascading-dropdown-list__res&quot; name=&quot;myname3&quot; type=&quot;hidden&quot; value=&quot;&quot; /&gt;
    &lt;a role=&quot;button&quot; href=&quot;#&quot; class=&quot;uix-cascading-dropdown-list__trigger&quot; style=&quot;border: 1px solid #dadcdf;padding: 0.25rem 1rem;border-radius: 25px;font-size: .875rem;&quot;&gt;选择省份&lt;/a&gt;
&lt;/div&gt;</code></pre>
                                                <h4>根据在下拉选择框中选择的州显示中国城市列表</h4>
                                                <!-- 内容 开始 -->
                                                <div
                                                    class="uix-cascading-dropdown-list"
                                                    data-cascading-dd-json="assets/json/province-city-china-level.json"
                                                    data-cascading-dd-method="GET"
                                                    data-cascading-dd-loading-tmpl="<div>正在加载中.........</div>"
                                                >
                                                        <input class="uix-cascading-dropdown-list__res" name="myname3" type="hidden" value="" />
                                                        <a role="button" href="#" class="uix-cascading-dropdown-list__trigger" style="border: 1px solid #dadcdf;padding: 0.25rem 1rem;border-radius: 25px;font-size: .875rem;">选择省份</a>
                                                </div>
                                                <!-- 内容 结束 -->
                                                <br><br><br><br><br><br>
                                        </div>
                                        <!-- col-12 end -->
                                </div>
                                <!-- 行列 结束 -->
                        </div>
                        <!-- 容器 结束 -->
                </section>
        </main>
        @@include('./src/components/_global/include-copyright.html')
</div>
<!-- uix-wrapper end -->
@@include('./src/components/_global/include-footer.html')

