/* ======================================================
   <!-- SVG Mask Slider -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
/*
 * 1. Initialize the slider style
 * 2. Pagination dots
 * 3. Next/Prev buttons
*/
/*
 ---------------------------
 1. Initialize the slider style
 ---------------------------
 */
.uix-svgMask-slider__wrapper {
    position: relative;
}
/* 防止内容溢出 */
.uix-svgMask-slider__wrapper,
.uix-svgMask-slider__item {
    // 最大高度：100vh；
}
.uix-svgMask-slider {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    .uix-svgMask-slider__inner {
        position: relative;
        z-index: 1;
        overflow: hidden;
        height: 100%;
        .uix-svgMask-slider__item {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            .uix-svgMask-slider__txt {
                position: absolute;
                z-index: 15;
                top: 50%;
                left: 50%;
                overflow: hidden;
                transform: translate(-50%, -50%) !important;
                @include transition-cubic-bezier();
                h3 {
                    margin-bottom: 0;
                }
            }
            @include securityWidthForElement('.uix-svgMask-slider__txt') ;
            .uix-svgMask-slider__txt__content {
                opacity: 0;
            }
            .uix-svgMask-slider__txt__mask {
                position: absolute;
                z-index: 100;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                margin-left: -100vw;
                transform-origin: left;
                background-color: #ffffff;
            }
            @include securityWidthForElement('.uix-svgMask-slider__txt__mask') ;
            svg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: auto;
                transition: .3s ease-in-out;
                opacity: 0;
                image {
                    width: 100%;
                    height: auto;
                }
            }
            img {
                visibility: hidden; /* save SVG space */
                width: 100%;
            }
            &.leave {
                z-index: 2;
            }
            &.is-active {
                /* 允许按钮点击 */
                z-index: 3;
            }
            &.is-loaded {
                svg {
                    opacity: 1;
                }
            }
        }
    }
}
@media all and (max-width: 768px) {
    .uix-svgMask-slider {
        .uix-svgMask-slider__inner {
            .uix-svgMask-slider__item {
                .uix-svgMask-slider__txt {
                    h3 {
                        font-size: 1rem;
                    }
                    p {
                        font-size: 0.875rem;
                    }
                    h3,
                    p {
                        line-height: 1.2;
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                    [class*='uix-core-grid__col-'] {
                        width: 100%;
                    }
                    .uix-btn {
                        font-size: 0.75rem;
                        margin-top: .3rem;
                        padding: .3rem 1rem;
                    }
                }
            }
        }
    }
}
/*
 ---------------------------
 2. Pagination dots
 ---------------------------
 */
.uix-svgMask-slider__pagination {
    position: relative;
    z-index: 2;
    transform: translateY(-40px);
    ul {
        font-size: 0; /* 争夺内联块元素之间的空间 */
        position: relative;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        list-style: none;
        transform: translateY(.5rem);
        text-align: center; /* 要求 */
        li {
            font-size: 1rem; /* 争夺内联块元素之间的空间 */
            display: inline-block; /* 要求 */
            margin: 0 .2rem;
            a {
                display: block;
                width: 12px;
                height: 12px;
                cursor: pointer;
                text-indent: -9999px;
                border-radius: 20px;
                background: rgba(255, 255, 255, .6);
                box-shadow: 0px 3px 22px 0px rgba(0, 0, 0, 0.45);
                &:hover,
                &.is-active {
                    width: 25px;
                    background: rgba(255, 255, 255, 1);
                }
            }
        }
    }
}
//******** 样式 2 **********
//
//.uix-svgMask-slider__pagination {
//	margin: 0;
//	padding: 0;
//	list-style: none;
//	position: absolute;
//	right: 40px;
//	top: 50%;
//	width: 20px;
//	z-index: 4;
//
//	li {
//		margin: 0;
//		padding: 0;
//		list-style: none;
//		margin-right: 10px;
//		margin-bottom: 15px;
//
//		a {
//			width: 8px;
//			height: 8px;
//			display: block;
//			background: rgba(255, 255, 255, 0.3);
//			cursor: pointer;
//			text-indent: -9999px;
//			border-radius: 20px;
//			box-shadow: 0px 6px 23px -2px rgba(0, 0, 0, 0.36);
//			position: relative;
//
//
//
//			&:hover,
//			&.is-active {
//				background: rgba(255, 255, 255, 1);
//
//
//				&::after {
//					content: '';
//					display: block;
//					width: 18px;
//					height: 18px;
//					border: 1px solid #fff;
//					border-radius: 100%;
//					position: absolute;
//					top: -5px;
//					left: -5px;
//				}
//			}
//		}
//	}
//}
/*
 ---------------------------
 3. Next/Prev buttons
 ---------------------------
 */
.uix-svgMask-slider__arrows {
    position: relative;
    z-index: 3;
    transform: translateY(-65px);
    a {
        line-height: 50px;
        position: absolute;
        width: 50px;
        height: 50px;
        transition: .3s ease-in-out;
        text-align: center;
        border-radius: 100%;
        background: #ffffff;
        box-shadow: 0px 10px 54px 0px rgba(19, 32, 62, 0.21);
    }
    .uix-svgMask-slider__arrows--prev {
        left: 15px;
        &.is-disabled {
            visibility: hidden;
        }
    }
    .uix-svgMask-slider__arrows--next {
        right: 15px;
        &.is-disabled {
            visibility: hidden;
        }
    }
}
