<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
    <meta charset="@@{website_charset}" />
    <title>分割线 Dividing Line - @@{website_title}</title>
    @@include('./src/components/_global/include-header.html')
</head>
<body class="page">
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class="uix-wrapper">
    <!-- 页眉区 开始 -->
    <header class="uix-header__container">
        <div class="uix-header">
            <!-- 容器 开始 -->
            <div class="container">
                @@include('./src/components/_global/include-brand.html')
                @@include('./src/components/_global/include-menu.html')
            </div>
            <!-- 容器 结束 -->
            <div class="uix-clearfix"></div>
        </div>
    </header>
    <!-- 页眉区 结束 -->
    <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
    <main id="uix-maincontent">
        <!-- 内容 开始 -->
        <section class="uix-spacing--s uix-spacing--no-bottom">
            <!-- 容器 开始 -->
            <div class="container">
                <!-- 行列 开始 -->
                <div class="row">
                    <div class="col-12">
                        <h3>分割线</h3>
                        <p>您可以控制样式和颜色</p>
                        <hr>
                    </div>
                </div>
                <!-- 行列 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 结束 -->
        <!-- 内容 开始 -->
        <section class="uix-spacing--s">
            <!-- 容器 开始 -->
            <div class="container">
                <!-- 行列 开始 -->
                <div class="row">
                    <div class="col-12">
                        <p>分割线 <code>&lt;hr&gt;</code></p>
                        <hr>
                        <p>实线 <code>uix-separator-base uix-separator-base--solid</code></p>
                        <div class="uix-separator-base uix-separator-base--solid"></div>
                        <p>双线 <code>uix-separator-base uix-separator-base--double</code></p>
                        <div class="uix-separator-base uix-separator-base--double"></div>
                        <p>虚线 <code>uix-separator-base uix-separator-base--dashed</code></p>
                        <div class="uix-separator-base uix-separator-base--dashed"></div>
                        <p>点虚线 <code>uix-separator-base uix-separator-base--dotted</code></p>
                        <div class="uix-separator-base uix-separator-base--dotted"></div>
                        <p>阴影线 <code>uix-separator-shadow</code></p>
                        <div class="uix-separator-shadow"></div>
                        <p>渐变线 <code>uix-separator-gradient</code></p>
                        <div class="uix-separator-gradient"></div>
                    </div>
                </div>
                <!-- 行列 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 结束 -->
        <!-- 内容 开始 -->
        <section class="uix-spacing--s">
            <!-- 容器 开始 -->
            <div class="container">
                <!-- 行列 开始 -->
                <div class="row">
                    <div class="col-12">
                        <div class="uix-t-c uix-typo--color-white" style="background: #333333; padding: 1.5rem 0 0; margin-top: 1rem;">
                            <p><code>&lt;hr class=&quot;black&quot;&gt;</code></p>
                            <hr class="black">
                            <p>实线 <code>uix-separator-base uix-separator-base--solid uix-separator-base--black</code>
                            </p>
                            <div class="uix-separator-base uix-separator-base--solid uix-separator-base--black"></div>
                            <p>双线 <code>uix-separator-base uix-separator-base--double uix-separator-base--black</code>
                            </p>
                            <div class="uix-separator-base uix-separator-base--double uix-separator-base--black"></div>
                            <p>虚线 <code>uix-separator-base uix-separator-base--dashed uix-separator-base--black</code>
                            </p>
                            <div class="uix-separator-base uix-separator-base--dashed uix-separator-base--black"></div>
                            <p>点虚线
                                <code>uix-separator-base uix-separator-base--dotted uix-separator-base--black</code></p>
                            <div class="uix-separator-base uix-separator-base--dotted uix-separator-base--black"></div>
                            <p>阴影线 <code>uix-separator-shadow uix-separator-shadow--black</code></p>
                            <div class="uix-separator-shadow uix-separator-shadow--black"></div>
                            <p>渐变线 <code>uix-separator-gradient uix-separator-gradient--black</code></p>
                            <div class="uix-separator-gradient uix-separator-gradient--black"></div>
                            <br>
                        </div>
                    </div>
                </div>
                <!-- 行列 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 结束 -->
    </main>
    @@include('./src/components/_global/include-copyright.html')
</div>
@@include('./src/components/_global/include-footer.html')

