<!DOCTYPE html>
<html lang='@@{website_lang}' dir='@@{website_dirLTR}'>
<head>
    <meta charset='@@{website_charset}' />
    <title>助手类 - @@{website_title}</title>
    @@include('./src/components/_global/include-header.html')
</head>
<body class='page'>
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class='uix-wrapper'>
    <!-- Header Area
    ============================================= -->
    <header class='uix-header__container'>
        <div class='uix-header'>
            <div class='container'>
                @@include('./src/components/_global/include-brand.html')
                @@include('./src/components/_global/include-menu.html')
            </div>
            <!-- .container end -->
            <div class='uix-clearfix'></div>
        </div>
    </header>
    <div class='uix-header__placeholder js-uix-header__placeholder-autoheight'></div>
    <main id='uix-maincontent'>
        <!-- Content
        ====================================================== -->
        <section class='uix-spacing--s uix-spacing--no-bottom'>
            <div class='container'>
                <div class='row'>
                    <div class='col-12'>
                        <h3>通用帮助类</h3>
                        <p>帮助类可以通过创建一组可在 HTML 元素上反复使用的 class 类来帮助消除重复。 </p>
                        <hr>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- Content
         ====================================================== -->
        <section class='uix-spacing--s'>
            <div class='container uix-list uix-list--normal uix-table uix-table--bordered'>
                <div class='row'>
                    <div class='col-12'>
                        <div class='table-responsive-md'>
                            <div class='uix-table uix-table--bordered'>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>排版</th>
                                        <th>颜色</th>
                                        <th>显示属性</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <code>uix-typo--h1</code><br>
                                            <code>uix-typo--h2</code><br>
                                            <code>uix-typo--h3</code><br>
                                            <code>uix-typo--h4</code><br>
                                            <code>uix-typo--h5</code><br>
                                            <code>uix-typo--h6</code><br>
                                            <code>uix-typo--style-normal</code><br>
                                            <code>uix-typo--style-uppercase</code><br>
                                            <code>uix-typo--style-bold</code><br>
                                            <code>uix-typo--style-italic</code><br>
                                            <code>uix-typo--style-noitalic</code><br>
                                            <code>uix-typo--style-underline</code><br>
                                            <code>uix-typo--style-tiny</code><br>
                                            <code>uix-typo--dropcap</code><br>
                                            <code>uix-typo--vertical</code><br>
                                            <code>uix-typo--vertical-characters-line</code>
                                        </td>
                                        <td>
                                            <code>uix-typo--color-primary</code><br>
                                            <code>uix-typo--color-highlight</code><br>
                                            <code>uix-typo--color-sub</code><br>
                                            <code>uix-typo--color-white</code>
                                        </td>
                                        <td>
                                            <code>uix-display-none</code><br>
                                            <code>uix-display-inline</code><br>
                                            <code>uix-display-inline-block</code><br>
                                            <code>uix-display-block</code><br>
                                            <code>uix-display-flex</code><br>
                                            <code>uix-display-inline-flex</code><br>
                                            <strong>断点与 bootstrap 5 相同</strong><br>
                                            <small>sm(576px)</small><br>
                                            <code>uix-display-none--sm</code><br>
                                            <code>uix-display-inline--sm</code><br>
                                            <code>uix-display-inline-block--sm</code><br>
                                            <code>uix-display-block--sm</code><br>
                                            <code>uix-display-flex--sm</code><br>
                                            <code>uix-display-inline-flex--sm</code>
                                            <hr>
                                            <small>md(768px)</small><br>
                                            <code>uix-display-none--md</code><br>
                                            <code>uix-display-inline--md</code><br>
                                            <code>uix-display-inline-block--md</code><br>
                                            <code>uix-display-block--md</code><br>
                                            <code>uix-display-flex--md</code><br>
                                            <code>uix-display-inline-flex--md</code>
                                            <hr>
                                            <small>lg(992px)</small><br>
                                            <code>uix-display-none--lg</code><br>
                                            <code>uix-display-inline--lg</code><br>
                                            <code>uix-display-inline-block--lg</code><br>
                                            <code>uix-display-block--lg</code><br>
                                            <code>uix-display-flex--lg</code><br>
                                            <code>uix-display-inline-flex--lg</code>
                                            <hr>
                                            <small>xl(1200px)</small><br>
                                            <code>uix-display-none--xl</code><br>
                                            <code>uix-display-inline--xl</code><br>
                                            <code>uix-display-inline-block--xl</code><br>
                                            <code>uix-display-block--xl</code><br>
                                            <code>uix-display-flex--xl</code>
                                            <hr>
                                            <small>xl(1400px)</small><br>
                                            <code>uix-display-none--xl</code><br>
                                            <code>uix-display-inline--xxl</code><br>
                                            <code>uix-display-inline-block--xxl</code><br>
                                            <code>uix-display-block--xxl</code><br>
                                            <code>uix-display-flex--xxl</code><br>
                                            <code>uix-display-inline-flex--xxl</code>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- .table-responsive-md -->
                        <div class='table-responsive-md'>
                            <div class='uix-table uix-table--bordered'>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>间距</th>
                                        <th>内容块</th>
                                        <th>清除元素</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <code>uix-spacing--s</code><br>
                                            <code>uix-spacing--m</code><br>
                                            <code>uix-spacing--l</code><br>
                                            <code>uix-spacing--no-top</code><br>
                                            <code>uix-spacing--no-bottom</code><br>
                                            <code>uix-spacing--googlemap</code><br>
                                            <code>uix-spacing--no</code>
                                        </td>
                                        <td>
                                            <code>uix-relative</code><br>
                                            <code>uix-relative--inline</code><br>
                                            <code>uix-relative--inline-clip</code>
                                        </td>
                                        <td>
                                            <code>uix-clearfix</code>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- .table-responsive-md -->
                        <div class='table-responsive-md'>
                            <div class='uix-table uix-table--bordered'>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>阴影</th>
                                        <th>平滑过渡</th>
                                        <th>元素浮动</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <code>uix-outer-shadow--regular</code><br>
                                            <code>uix-outer-shadow--thick</code><br>
                                            <code>uix-outer-shadow--light</code><br>
                                            <code>uix-outer-shadow--highlight</code><br>
                                            <code>uix-none-shadow</code>
                                        </td>
                                        <td>
                                            <code>uix-trans</code>
                                        </td>
                                        <td>
                                            <code>uix-f-l</code><br>
                                            <code>uix-f-r</code>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- .table-responsive-md -->
                        <div class='table-responsive-md'>
                            <div class='uix-table uix-table--bordered'>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>元素对齐</th>
                                        <th>用省略号截断字符串</th>
                                        <th>垂直或水平对齐的块</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <code>uix-t-r</code><br>
                                            <code>uix-t-l</code><br>
                                            <code>uix-t-c</code><br>
                                            <strong>断点与 bootstrap 5 相同</strong><br>
                                            <small>sm(576px)</small> &rArr; <code>uix-t-r--sm</code>,
                                            <code>uix-t-l--sm</code>, <code>uix-t-c--sm</code><br>
                                            <small>md(768px)</small> &rArr; <code>uix-t-r--md</code>,
                                            <code>uix-t-l--md</code>, <code>uix-t-c--md</code><br>
                                            <small>lg(992px)</small> &rArr; <code>uix-t-r--lg</code>,
                                            <code>uix-t-l--lg</code>, <code>uix-t-c--lg</code><br>
                                            <small>xl(1200px)</small> &rArr; <code>uix-t-r--xl</code>,
                                            <code>uix-t-l--xl</code>, <code>uix-t-c--xl</code><br>
                                            <small>xl(1400px)</small> &rArr; <code>uix-t-r--xxl</code>,
                                            <code>uix-t-l--xxl</code>, <code>uix-t-c--xxl</code><br>
                                        </td>
                                        <td>
                                            <code>uix-t-ellipsis</code>
                                        </td>
                                        <td>
                                            <code>uix-v-align--absolute</code><br>
                                            <code>uix-v-align--absolute uix-v-align--absolute--b</code>
                                            <div class='uix-tooltip'>
                                                <span data-microtip-position='top' data-microtip-size='large' role='tooltip'><i class='fa fa-question-circle uix-typo--color-sub' aria-hidden='true'></i></span>
                                                <div class='uix-t-l'>将 div 的内容与底部对齐</div>
                                            </div>
                                            <br>
                                            <code>uix-v-align--absolute uix-v-align--absolute--t</code>
                                            <div class='uix-tooltip'>
                                                <span data-microtip-position='top' data-microtip-size='large' role='tooltip'><i class='fa fa-question-circle uix-typo--color-sub' aria-hidden='true'></i></span>
                                                <div class='uix-t-l'>将 div 的内容与顶部对齐</div>
                                            </div>
                                            <br>
                                            <code>uix-v-align--relative</code><br>
                                            <code>uix-v-align--table</code><br>
                                            <code>uix-v-align--table uix-v-align--table--b</code>
                                            <div class='uix-tooltip'>
                                                <span data-microtip-position='top' data-microtip-size='large' role='tooltip'><i class='fa fa-question-circle uix-typo--color-sub' aria-hidden='true'></i></span>
                                                <div class='uix-t-l'>将 div 的内容与底部对齐</div>
                                            </div>
                                            <br>
                                            <code>uix-v-align--table uix-v-align--table--t</code>
                                            <div class='uix-tooltip'>
                                                <span data-microtip-position='top' data-microtip-size='large' role='tooltip'><i class='fa fa-question-circle uix-typo--color-sub' aria-hidden='true'></i></span>
                                                <div class='uix-t-l'>将 div 的内容与顶部对齐</div>
                                            </div>
                                            <br>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- .table-responsive-md -->
                        <div class='table-responsive-md'>
                            <div class='uix-table uix-table--bordered'>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>指定是否剪辑内容</th>
                                        <th>指定默认高度
                                            <span class='uix-typo--style-normal uix-typo--color-sub'>（单位：vh）</span>
                                        </th>
                                        <th>移动/桌面上的隐藏元素</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <code>uix-hidden-scrollbar-x</code><br>
                                            <code>uix-hidden-scrollbar</code>
                                        </td>
                                        <td>
                                            <code>uix-height--10</code><br>
                                            <code>uix-height--20</code><br>
                                            <code>uix-height--30</code><br>
                                            <code>uix-height--40</code><br>
                                            <code>uix-height--50</code><br>
                                            <code>uix-height--60</code><br>
                                            <code>uix-height--70</code><br>
                                            <code>uix-height--80</code><br>
                                            <code>uix-height--90</code><br>
                                            <code>uix-height--100</code><br>
                                            <p class='uix-striking-msg uix-striking-msg--info is-rounded'>
                                                在移动设备上保持与PC相同的高度，可以与移动设备一起使用
                                                <code>is-mobile-still</code>
                                            </p>
                                        </td>
                                        <td>
                                            <code>uix-hide-mobile</code>
                                            <div class='uix-tooltip'>
                                                <span data-microtip-position='top' data-microtip-size='large' role='tooltip'><i class='fa fa-question-circle uix-typo--color-sub' aria-hidden='true'></i></span>
                                                <div class='uix-t-l'>仅在桌面设备上显示元素</div>
                                            </div>
                                            <br>
                                            <code>uix-hide-pc</code>
                                            <div class='uix-tooltip'>
                                                <span data-microtip-position='top' data-microtip-size='large' role='tooltip'><i class='fa fa-question-circle uix-typo--color-sub' aria-hidden='true'></i></span>
                                                <div class='uix-t-l'>仅在移动设备上显示元素</div>
                                            </div>
                                            <br>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- .table-responsive-md -->
                        <div class='table-responsive-md'>
                            <div class='uix-table uix-table--bordered'>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>提示气泡</th>
                                        <th>图像悬停叠加效果</th>
                                        <th>位置</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <code>uix-bubble</code>
                                        </td>
                                        <td>
                                            <code>uix-filter-hover--color</code>
                                        </td>
                                        <td>
                                            <code>uix-dir--top</code><br>
                                            <code>uix-dir--bottom</code><br>
                                            <code>uix-dir--left</code><br>
                                            <code>uix-dir--right</code><br>
                                            <code>uix-dir--top-left</code><br>
                                            <code>uix-dir--top-right</code><br>
                                            <code>uix-dir--bottom-left</code><br>
                                            <code>uix-dir--bottom-right</code>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- .table-responsive-md -->
                        <div class='table-responsive-md'>
                            <div class='uix-table uix-table--bordered'>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>元素隐藏样式</th>
                                        <th>边界半径</th>
                                        <th>对齐元素的宽类和完整类</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <code>uix-el--transparent</code>
                                            <div class='uix-tooltip'>
                                                <span data-microtip-position='top' data-microtip-size='large' role='tooltip'><i class='fa fa-question-circle uix-typo--color-sub' aria-hidden='true'></i></span>
                                                <div class='uix-t-l'>将元素的透明度设置为 0</div>
                                            </div>
                                            <br>
                                            <code>uix-el--scale</code>
                                            <div class='uix-tooltip'>
                                                <span data-microtip-position='top' data-microtip-size='large' role='tooltip'><i class='fa fa-question-circle uix-typo--color-sub' aria-hidden='true'></i></span>
                                                <div class='uix-t-l'>S将元素的比例设置为 0</div>
                                            </div>
                                            <br>
                                            <code>uix-el--skew</code>
                                            <div class='uix-tooltip'>
                                                <span data-microtip-position='top' data-microtip-size='large' role='tooltip'><i class='fa fa-question-circle uix-typo--color-sub' aria-hidden='true'></i></span>
                                                <div class='uix-t-l'>将元素向右上角倾斜一定程度</div>
                                            </div>
                                        </td>
                                        <td>
                                            <code>uix-border--rounded</code><br>
                                            <code>uix-border--circle</code><br>
                                            <code>uix-border--circle uix-border--circle-img</code>
                                            <div class='uix-tooltip'>
                                                <span data-microtip-position='top' data-microtip-size='large' role='tooltip'><i class='fa fa-question-circle uix-typo--color-sub' aria-hidden='true'></i></span>
                                                <div class='uix-t-l'>制作一个圆形图像<code>&lt;img&gt;</code>
                                                </div>
                                            </div>
                                            <br>
                                            <code>uix-border--circle uix-border--circle-only-img</code>
                                            <div class='uix-tooltip'>
                                                <span data-microtip-position='top' data-microtip-size='large' role='tooltip'><i class='fa fa-question-circle uix-typo--color-sub' aria-hidden='true'></i></span>
                                                <div class='uix-t-l'>制作一个圆形图像
                                                    仅限 <code>&lt;img&gt;</code>
                                                </div>
                                            </div>
                                            <br>
                                            <code>uix-border--rounded uix-border--rounded-img</code>
                                            <div class='uix-tooltip'>
                                                <span data-microtip-position='top' data-microtip-size='large' role='tooltip'><i class='fa fa-question-circle uix-typo--color-sub' aria-hidden='true'></i></span>
                                                <div class='uix-t-l'>制作圆形图像 <code>&lt;img&gt;</code>
                                                </div>
                                            </div>
                                            <br>
                                            <code>uix-border--rounded uix-border--rounded-only-img</code>
                                            <div class='uix-tooltip'>
                                                <span data-microtip-position='top' data-microtip-size='large' role='tooltip'><i class='fa fa-question-circle uix-typo--color-sub' aria-hidden='true'></i></span>
                                                <div class='uix-t-l'>制作圆形图像
                                                    仅限 <code>&lt;img&gt;</code>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <code>uix-alignfull</code>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- .table-responsive-md -->
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
    </main>
    @@include('./src/components/_global/include-copyright.html')
</div>
<!-- uix-wrapper end -->
@@include('./src/components/_global/include-footer.html')

