/* ======================================================
   <!--  按钮 Button -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
/*
 * 1. 常用按钮样式
 * 2. 边框
 * 3. 尺寸
 * 4. 图标
 * 5. 组
 * 6. 背景
 * 7. 边距
*/
$button-class-margin-lr: 1rem;
$button-class-margin-b: 1rem;
/*
 ---------------------------
 1. 常用按钮样式
 ---------------------------
 */
.uix-btn[class*=button-]:focus {
    box-shadow: none;
}
.uix-btn {
    font-weight: 600;
    line-height: 1.2;
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    letter-spacing: .02rem;
    color: inherit;
    border: none;
    background: none;
    background-size: 300% 100%;
    @include transition-default();
    &:hover {
        color: #ffffff;
        background-position: 100% 0;
    }
    &:focus {
        outline: 3px auto -webkit-focus-ring-color;
    }
    &:disabled,
    &.is-disabled {
        cursor: not-allowed !important;
        user-select: none !important;
        pointer-events: none !important;
        color: $primary-link-color !important;
        border-color: #e4e7ed !important;
        background-image: linear-gradient(to right, #e4e7ed 0%, #e4e7ed 20%, #e4e7ed 100%) !important;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05) !important;
    }
    /* 等待状态 */
    &.is-waiting {
        cursor: wait !important;
        animation: uix-cssAnim--moveWaitingStripes 0.5s linear infinite !important;
        pointer-events: none !important;
        background-image: linear-gradient(-45deg, rgba(0, 0, 0, .15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .15) 50%, rgba(0, 0, 0, .15) 75%, transparent 75%, transparent) !important;
        background-size: 30px 30px !important;
    }
    &.is-hide {
        display: none;
    }
    &.is-pill {
        border-radius: 35px;
    }
    &.is-rounded {
        border-radius: 4px;
    }
    &.is-fullwidth {
        width: 100%;
        max-width: none;
    }
    &.is-fullwidth.is-pill {
        padding-right: 35px;
        padding-left: 35px;
    }
    > span {
        vertical-align: middle;
    }
    i {
        margin-right: .5rem;
        margin-left: .5rem;
    }
}
@keyframes uix-cssAnim--moveWaitingStripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 30px 0;
    }
}
/*
 ---------------------------
 2. 边框
 ---------------------------
 */
.uix-btn__border--thin {
    border: 1px solid;
}
.uix-btn__border--medium {
    border: 2px solid;
}
.uix-btn__border--thick {
    border: 3px solid;
}
.uix-btn__border--white {
    border-color: #ffffff;
}
/*
 ---------------------------
 3. 尺寸
 ---------------------------
 */
/* 微型 */
.uix-btn__size--t {
    font-size: 0.75rem;
    padding: .5rem 1rem;
}
/* 小号 */
.uix-btn__size--s {
    font-size: 0.875rem;
    padding: .8rem 1.5rem;
}
/* 中号 */
.uix-btn__size--m {
    font-size: 1rem;
    padding: 1rem 2.5rem;
}
/* 大号 */
.uix-btn__size--l {
    font-size: 1.375rem;
    padding: 1.25rem 5rem;
}
@media all and (max-width: 320px) {
    /* 微型 */
    .uix-btn__size--t {
        font-size: 0.625rem;
        padding: .3rem .7rem;
    }
    /* 小号 */
    .uix-btn__size--s {
        font-size: 0.75rem;
        padding: .5rem 1rem;
    }
    /* 中号 */
    .uix-btn__size--m {
        font-size: 0.875rem;
        padding: 0.7rem 2rem;
    }
    /* 大号 */
    .uix-btn__size--l {
        font-size: 1rem;
        padding: 1rem 3.5rem;
    }
}
/*
 ---------------------------
 4. 图标
 ---------------------------
 */
.uix-btn__icon {
    position: relative;
    padding-left: 3.6rem;
    &.uix-btn__icon--right {
        padding-right: 3.6rem;
        padding-left: 2.5rem;
        > span {
            right: 0;
            left: auto;
        }
    }
    > span {
        position: absolute;
        top: 0;
        left: 0;
        width: 2.6rem;
        height: 100%;
        background-color: rgba(0, 0, 0, .1);
        i {
            position: relative;
            margin: 50% 0 0;
            transform: translateY(-50%);
        }
    }
    &.uix-btn__size--l {
        > span {
            i {
                transform: translateY(10%);
            }
        }
    }
    &.uix-btn__size--m {
        > span {
            i {
                transform: translateY(-20%);
            }
        }
    }
    &.uix-btn__size--t {
        > span {
            i {
                transform: translateY(-85%);
            }
        }
    }
    &.uix-btn__icon--left {
        > span {
            left: 0;
        }
    }
    &.is-transparent.uix-btn__icon--left {
        > span {
            border-right: 1px solid rgba(0, 0, 0, .1);
            background-color: transparent;
        }
    }
    &.is-transparent.uix-btn__icon--right {
        > span {
            border-left: 1px solid rgba(0, 0, 0, .1);
            background-color: transparent;
        }
    }
    &.is-pill.uix-btn__icon--left span {
        border-radius: 35px 0 0 35px;
    }
    &.is-pill.uix-btn__icon--right span {
        border-radius: 0 50px 50px 0;
    }
    &.is-rounded.uix-btn__icon--left span {
        border-radius: 4px 0 0 4px;
    }
    &.is-rounded.uix-btn__icon--right span {
        border-radius: 0 4px 4px 0;
    }
}
/*
 ---------------------------
 5. 组
 ---------------------------
 */
.uix-btn__组 {
    display: inline-block;
    &::after {
        display: table;
        clear: both;
        content: '';
    }
    > .uix-btn {
        float: left;
        box-sizing: border-box;
        margin: 0;
        border-radius: 0;
        &.is-pill {
            &:first-child {
                border-radius: 50px 0 0 50px;
            }
            &:last-child {
                border-radius: 0 50px 50px 0;
            }
        }
        &.is-rounded {
            &:first-child {
                border-radius: 4px 0 0 4px;
            }
            &:last-child {
                border-radius: 0 4px 4px 0;
            }
        }
        &.uix-btn__border--thin:not(:first-child) {
            margin-left: -1px;
        }
        &.uix-btn__border--medium:not(:first-child) {
            margin-left: -2px;
        }
        &.uix-btn__border--thick:not(:first-child) {
            margin-left: -3px;
        }
    }
    /* 组中的每个全角按钮 */
    &.is-fullwidth {
        display: flex;
        > .uix-btn {
            flex: 1;
        }
    }
}
/*
 ---------------------------
 6. 背景
 ---------------------------
 */
/* 自定义按钮颜色 */
.uix-btn__bg--primary {
    color: #ffffff;
    border-color: $btn-gradient-color1;
    background-color: $btn-gradient-color1;
    @include outer-shadow('highlight', $highlight-color1);
    background-image: linear-gradient(to right, $btn-gradient-color1 0%, $btn-gradient-color2 20%, $btn-gradient-color3 100%);
    &.is-transparent {
        color: $btn-gradient-color1;
        border-color: #dadcdf;
        background-color: transparent;
        background-image: linear-gradient(to right, #ffffff 0%, #ffffff 0%, #ffffff 0%);
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
        &:hover {
            color: $btn-gradient-color1;
            background-color: #f8f8f8;
            background-image: linear-gradient(to right, #f8f8f8 0%, #f8f8f8 20%, #f8f8f8 100%);
        }
    }
}
.uix-btn__bg--secondary {
    &:not(.is-fill-white) {
        color: #ffffff;
        border-color: #dadcdf;
        background-color: transparent;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
    }
    &.is-fill-white {
        color: $primary-link-color;
        border-color: #dadcdf;
        background-color: #ffffff;
    }
    &:hover {
        color: $primary-link-color;
        background-color: #f8f8f8;
    }
}
.uix-btn__bg--hyperlink {
    color: $btn-gradient-color1;
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
    &:hover {
        color: $btn-gradient-color1;
        background-color: #f8f8f8;
    }
}
.uix-btn__bg--hyperlink2 {
    color: $primary-link-color;
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
    &:hover {
        color: $primary-link-color;
        background-color: #f8f8f8;
    }
}
/*
 ---------------------------
 7. 边距
 ---------------------------
 */
.uix-btn__margin--b {
    margin-bottom: #{$button-class-margin-b};
}
.uix-btn__margin--l {
    margin-left: #{$button-class-margin-lr};
}
.uix-btn__margin--r {
    margin-right: #{$button-class-margin-lr};
}
