<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
	<meta charset="@@{website_charset}" />
	<title>3D Background - @@{website_title}</title>	
	@@include('./src/components/_global/include-header.html')
</head>  

     
  <body class="page">
  
  
          
    @@include('./src/components/_global/include-loader.html')
    @@include('./src/components/_global/include-toggle-trigger.html')
    
    

  
  
    <div class="uix-wrapper">
    
        <!-- 页眉区 开始 -->
        <header class="uix-header__container">
            
             <div class="uix-header">
            <!-- 容器 开始 -->
            <div class="container">
                 
                        @@include('./src/components/_global/include-brand.html')
                        
                        @@include('./src/components/_global/include-menu.html')
                        
                        
                        
                        
                  </div>
                  <!-- 容器 结束 -->
                  
                  <div class="uix-clearfix"></div>
             </div>
        
        </header>
    <!-- 页眉区 结束 -->
    <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
      
    
		<main id="uix-maincontent">
			
			<!-- 内容 开始 -->
			<section class="uix-spacing--s uix-spacing--no-bottom">
            <!-- 容器 开始 -->
            <div class="container">
                <!-- 行列 开始 -->
                <div class="row">
						<div class="col-12">
							<h3>Only One</h3>
							<p>Transform individual elements by spying to the entire window.</p>
							<hr>
							
							
						</div>
					</div>
					<!-- 行列 结束 -->

				</div>
				<!-- 容器 结束 -->

			</section>

	
		


		   <!-- 内容 开始 -->
			<section class="uix-spacing--s">
				<div class="container uix-t-c">
						<div class="row">
							<div class="col-12">


								<div class="uix-3d-bg">
									<div data-3d-animate='{"offset":[10,1],"reset":true}'>
										<img src="assets/images/demo/test-img-big-2.jpg" alt="" width="320" />
									</div>
								</div>	




							</div>
						</div>
						<!-- 行列 结束 -->


				</div>
				<!-- 容器 结束 -->

			</section>


			<!-- 内容 开始 -->
			<section>
				<div class="container">
                <!-- 行列 开始 -->
                <div class="row">
						<div class="col-12">
							<h3>Multiple Images</h3>
							<p>This transitional effect can be seen when you move your mouse over a certain element that makes it change position or animate.</p>
							<hr>
							
							
						</div>
					</div>
					<!-- 行列 结束 -->

				</div>
				<!-- 容器 结束 -->

			</section>

		


		   <!-- 内容 开始 -->
			<section class="uix-spacing--s">
				<div class="container uix-t-c">
						<div class="row">
							<div class="col-12">

								<div class="uix-3d-bg">
									<div data-3d-animate='{"offset":[20,2],"reset":false}'>
										<img src="assets/images/demo/test-img-big-1.jpg" alt="" width="200" />
										<img src="assets/images/demo/test-img-big-2.jpg" alt="" width="300" />
										<img src="assets/images/demo/test-img-big-3.jpg" alt="" width="170" />
									</div>
								</div>



							</div>
						</div>
						<!-- 行列 结束 -->


				</div>
				<!-- 容器 结束 -->

			</section>

			
		</main>
		
		
			

       
        @@include('./src/components/_global/include-copyright.html')
        
        
    </div>

       
       
    @@include('./src/components/_global/include-footer.html')

