/* ======================================================
   <!-- Ribbon -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
$ribbon-bg: $highlight-color1;
$ribbon-w: 40px;
$ribbon-tail: 10px;
.uix-ribbon--triangle {
    position: absolute;
    top: 0;
    right: 0;
    width: $ribbon-w;
    padding: 0 0 $ribbon-tail 0;
    &.uix-ribbon--triangle--style-1 {
        > div {
            padding: 0.5rem 0;
            text-align: center;
            color: #ffffff;
            background: $ribbon-bg;
            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 0;
                content: '';
                border-right: $ribbon-w/2 solid $ribbon-bg;
                border-bottom: $ribbon-tail solid transparent;
                border-left: $ribbon-w/2 solid $ribbon-bg;
            }
        }
    }
    &.uix-ribbon--triangle--style-2 {
        &::after {
            position: absolute;
            z-index: 0;
            bottom: -0.75rem;
            left: 0.25rem;
            width: 0;
            height: 0;
            content: '';
            transform: rotate(-45deg);
            border-top: $ribbon-w solid transparent;
            border-bottom: $ribbon-w solid transparent;
            border-left: $ribbon-w solid $ribbon-bg;
        }
        > div {
            position: relative;
            z-index: 1;
            padding: 0 0 0.25rem 0.5rem;
            text-align: center;
            color: #ffffff;
        }
    }
    &.uix-ribbon--triangle--left {
        right: auto;
        left: 0;
        &.uix-ribbon--triangle--style-2 {
            &::after {
                left: -0.25rem;
                transform: rotate(-135deg);
            }
        }
    }
}
