<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
    <meta charset="@@{website_charset}" />
    <title>垂直居中 - @@{website_title}</title>
    @@include('./src/components/_global/include-header.html')
</head>
<body class="page">
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class="uix-wrapper">
    <!-- Header Area
    ============================================= -->
    <header class="uix-header__container">
        <div class="uix-header">
            <div class="container">
                @@include('./src/components/_global/include-brand.html')
                @@include('./src/components/_global/include-menu.html')
            </div>
            <!-- .container end -->
            <div class="uix-clearfix"></div>
        </div>
    </header>
    <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
    <main id="uix-maincontent">
        <!-- Content
        ====================================================== -->
        <section class="uix-spacing--s uix-spacing--no-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3>垂直居中</h3>
                        <p>分为几种不同的居中类型</p>
                        <hr>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- Content
         ====================================================== -->
        <section class="uix-spacing--s">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                       <pre class="uix-precode uix-precode uix-precode--nolebel"><code>&lt;div class=&quot;uix-relative&quot;&gt;
    &lt;img src=&quot;assets/images/demo/test-img-big-3.jpg&quot; alt=&quot;&quot; width=&quot;100%&quot;&gt;
    &lt;div class=&quot;uix-v-align--absolute uix-t-c&quot;&gt;
        &lt;h3&gt;没有外部高度的浮动元素&lt;/h3&gt;
    &lt;/div&gt;
&lt;/div&gt;</code>
</pre>
                    </div>
                    <div class="col-md-6 offset-md-3">
                        <div class="uix-relative">
                            <img src="assets/images/demo/test-img-big-3.jpg" alt="" width="100%">
                            <div class="uix-v-align--absolute uix-t-c">
                                <h3>没有外部高度的浮动元素</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .row end -->
                <hr>
                <div class="row">
                    <div class="col-md-6 offset-md-3"><pre class="uix-precode uix-precode uix-precode--nolebel"><code>&lt;div class=&quot;uix-relative--inline uix-relative--inline-clip&quot; style=&quot;height: 400px;&quot;&gt;
    &lt;img src=&quot;assets/images/demo/vertical-img.jpg&quot; alt=&quot;&quot; width=&quot;100%&quot; class=&quot;uix-parallax--el&quot; data-transition=&quot;all 0.4s cubic-bezier(0, 0, 0.34, 0.96) 0s&quot; data-speed=&quot;-0.2&quot; style=&quot;margin-top: -100px;&quot;&gt;
    &lt;div class=&quot;uix-v-align--absolute uix-t-c&quot;&gt;
        &lt;h3&gt;视差浮动元素&lt;/h3&gt;
    &lt;/div&gt;
&lt;/div&gt;</code>
</pre>
                    </div>
                    <div class="col-md-6 offset-md-3">
                        <div class="uix-relative--inline uix-relative--inline-clip" style="height: 400px;">
                            <img src="assets/images/demo/vertical-img.jpg" alt="" width="100%" class="uix-parallax--el" data-transition="all 0.4s cubic-bezier(0, 0, 0.34, 0.96) 0s" data-speed="-0.2" style="margin-top: -100px;">
                            <div class="uix-v-align--absolute uix-t-c">
                                <h3>视差浮动元素</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .row end -->
                <hr>
                <div class="row">
                    <div class="col-md-6 offset-md-3"> <pre class="uix-precode uix-precode uix-precode--nolebel"><code>&lt;div class=&quot;uix-relative--inline uix-relative--inline-clip&quot; style=&quot;height: 400px;&quot;&gt;
    &lt;img src=&quot;assets/images/demo/vertical-img.jpg&quot; alt=&quot;&quot; width=&quot;100%&quot; class=&quot;uix-parallax--el&quot; data-transition=&quot;all 0.4s cubic-bezier(0, 0, 0.34, 0.96) 0s&quot; data-speed=&quot;-0.2&quot; style=&quot;margin-top: -100px;&quot;&gt;
    &lt;div class=&quot;uix-v-align--table uix-t-c uix-overlay uix-overlay--black uix-overlay--cover&quot;&gt;
        &lt;div&gt;
            &lt;h3 class=&quot;uix-typo--color-white&quot;&gt;视差浮动元素（叠加）&lt;/h3&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- .uix-v-align--table  end --&gt;
&lt;/div&gt;</code>
</pre>
                    </div>
                    <div class="col-md-6 offset-md-3">
                        <div class="uix-relative--inline uix-relative--inline-clip" style="height: 400px;">
                            <img src="assets/images/demo/vertical-img.jpg" alt="" width="100%" class="uix-parallax--el" data-transition="all 0.4s cubic-bezier(0, 0, 0.34, 0.96) 0s" data-speed="-0.2" style="margin-top: -100px;">
                            <div class="uix-v-align--table uix-overlay uix-t-c uix-overlay--black uix-overlay--cover">
                                <div>
                                    <h3 class="uix-typo--color-white">视差浮动元素（叠加）</h3>
                                </div>
                            </div>
                            <!-- .uix-v-align--table  end -->
                        </div>
                    </div>
                </div>
                <!-- .row end -->
                <hr>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <pre class="uix-precode uix-precode uix-precode--nolebel"><code>&lt;div class=&quot;uix-relative&quot; style=&quot;background: #f0f0f0; height: 400px;&quot;&gt;
    &lt;img src=&quot;assets/images/demo/test-img-big-1.jpg&quot; alt=&quot;&quot; class=&quot;img-fluid w-100 h-100&quot;&gt;
    &lt;div class=&quot;uix-v-align--absolute uix-t-c&quot;&gt;
        &lt;h3&gt;浮动元素&lt;/h3&gt;
        &lt;p class=&quot;uix-striking-msg uix-striking-msg--default is-pill uix-striking-msg--inline&quot;&gt;
            &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;span&gt;外容器需要有高度&lt;/span&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code>
</pre>
                    </div>
                    <div class="col-md-6 offset-md-3">
                        <div class="uix-relative" style="background: #f0f0f0; height: 400px;">
                            <img src="assets/images/demo/test-img-big-1.jpg" alt="" class="img-fluid w-100 h-100">
                            <div class="uix-v-align--absolute uix-t-c">
                                <h3>浮动元素</h3>
                                <p class="uix-striking-msg uix-striking-msg--default is-pill uix-striking-msg--inline">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i><span>外容器需要有高度</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .row end -->
                <hr>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <pre class="uix-precode uix-precode uix-precode--nolebel"><code>&lt;div class=&quot;uix-relative&quot; style=&quot;background: #f0f0f0; height: 400px;&quot;&gt;
    &lt;div class=&quot;uix-v-align--relative uix-t-c&quot;&gt;
        &lt;h3&gt;非浮动元素&lt;/h3&gt;
        &lt;p&gt;使用移动设备时恢复默认对齐方式&lt;/p&gt;
        &lt;p class=&quot;uix-striking-msg uix-striking-msg--default is-pill uix-striking-msg--inline&quot;&gt;
            &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;span&gt;外容器需要有高度&lt;/span&gt;
        &lt;/p&gt;
    &lt;/div&gt;
    &lt;!-- .uix-v-align--relative  end --&gt;
&lt;/div&gt;</code>
</pre>
                    </div>
                    <div class="col-md-6 offset-md-3">
                        <div class="uix-relative" style="background: #f0f0f0; height: 400px;">
                            <div class="uix-v-align--relative uix-t-c">
                                <h3>非浮动元素</h3>
                                <p>使用移动设备时恢复默认对齐方式</p>
                                <p class="uix-striking-msg uix-striking-msg--default is-pill uix-striking-msg--inline">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i><span>外容器需要有高度</span>
                                </p>
                            </div>
                            <!-- .uix-v-align--relative  end -->
                        </div>
                    </div>
                </div>
                <!-- .row end -->
                <hr>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <pre class="uix-precode uix-precode uix-precode--nolebel"><code>&lt;div class=&quot;uix-relative&quot; style=&quot;background: #f0f0f0; height: 400px;&quot;&gt;
    &lt;div class=&quot;uix-v-align--table uix-t-c&quot;&gt;
        &lt;div&gt;
            &lt;h3&gt;普通内部元素&lt;/h3&gt;
            &lt;p class=&quot;uix-striking-msg uix-striking-msg--default is-pill uix-striking-msg--inline&quot;&gt;
                &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;span&gt;外容器需要有高度&lt;/span&gt;
            &lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- .uix-v-align--table  end --&gt;
&lt;/div&gt;</code>
</pre>
                    </div>
                    <div class="col-md-6 offset-md-3">
                        <div class="uix-relative" style="background: #f0f0f0; height: 400px;">
                            <div class="uix-v-align--table uix-t-c">
                                <div>
                                    <h3>普通内部元素</h3>
                                    <p class="uix-striking-msg uix-striking-msg--default is-pill uix-striking-msg--inline">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i><span>外容器需要有高度</span>
                                    </p>
                                </div>
                            </div>
                            <!-- .uix-v-align--table  end -->
                        </div>
                    </div>
                </div>
                <!-- .row end -->
                <hr>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                       <pre class="uix-precode uix-precode uix-precode--nolebel"><code>&lt;div class=&quot;uix-relative&quot; style=&quot;background: #f0f0f0; height: 400px;&quot;&gt;
    &lt;img src=&quot;assets/images/demo/test-img-big-1.jpg&quot; alt=&quot;&quot; class=&quot;img-fluid w-100 h-100&quot;&gt;
    &lt;div class=&quot;uix-v-align--absolute uix-v-align--absolute--b uix-t-c&quot;&gt;
        &lt;h3&gt;浮动元素（底部）&lt;/h3&gt;
        &lt;p class=&quot;uix-striking-msg uix-striking-msg--default is-pill uix-striking-msg--inline&quot;&gt;
            &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;span&gt;外容器需要有高度&lt;/span&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code>
</pre>
                    </div>
                    <div class="col-md-6 offset-md-3">
                        <div class="uix-relative" style="background: #f0f0f0; height: 400px;">
                            <img src="assets/images/demo/test-img-big-1.jpg" alt="" class="img-fluid w-100 h-100">
                            <div class="uix-v-align--absolute uix-v-align--absolute--b uix-t-c">
                                <h3>浮动元素（底部）</h3>
                                <p class="uix-striking-msg uix-striking-msg--default is-pill uix-striking-msg--inline">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i><span>外容器需要有高度</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .row end -->
                <hr>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                         <pre class="uix-precode uix-precode uix-precode--nolebel"><code>&lt;div class=&quot;uix-relative&quot; style=&quot;background: #f0f0f0; height: 400px;&quot;&gt;
    &lt;img src=&quot;assets/images/demo/test-img-big-1.jpg&quot; alt=&quot;&quot; class=&quot;img-fluid w-100 h-100&quot;&gt;
    &lt;div class=&quot;uix-v-align--absolute uix-v-align--absolute--t uix-t-c&quot;&gt;
        &lt;h3&gt;浮动元素（顶部）&lt;/h3&gt;
        &lt;p class=&quot;uix-striking-msg uix-striking-msg--default is-pill uix-striking-msg--inline&quot;&gt;
            &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;span&gt;外容器需要有高度&lt;/span&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code>
</pre>
                    </div>
                    <div class="col-md-6 offset-md-3">
                        <div class="uix-relative" style="background: #f0f0f0; height: 400px;">
                            <img src="assets/images/demo/test-img-big-1.jpg" alt="" class="img-fluid w-100 h-100">
                            <div class="uix-v-align--absolute uix-v-align--absolute--t uix-t-c">
                                <h3>浮动元素（顶部）</h3>
                                <p class="uix-striking-msg uix-striking-msg--default is-pill uix-striking-msg--inline">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i><span>外容器需要有高度</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .row end -->
                <hr>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <pre class="uix-precode uix-precode uix-precode--nolebel"><code>&lt;div class=&quot;uix-relative&quot; style=&quot;background: #f0f0f0; height: 400px;&quot;&gt;
    &lt;div class=&quot;uix-v-align--table uix-v-align--table--b uix-t-c&quot;&gt;
        &lt;div&gt;
            &lt;h3&gt;普通内部元素（底部）&lt;/h3&gt;
            &lt;p class=&quot;uix-striking-msg uix-striking-msg--default is-pill uix-striking-msg--inline&quot;&gt;
                &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;span&gt;外容器需要有高度&lt;/span&gt;
            &lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- .uix-v-align--table  end --&gt;
&lt;/div&gt;</code>
</pre>
                    </div>
                    <div class="col-md-6 offset-md-3">
                        <div class="uix-relative" style="background: #f0f0f0; height: 400px;">
                            <div class="uix-v-align--table uix-v-align--table--b uix-t-c">
                                <div>
                                    <h3>普通内部元素（底部）</h3>
                                    <p class="uix-striking-msg uix-striking-msg--default is-pill uix-striking-msg--inline">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i><span>外容器需要有高度</span>
                                    </p>
                                </div>
                            </div>
                            <!-- .uix-v-align--table  end -->
                        </div>
                    </div>
                </div>
                <!-- .row end -->
                <hr>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <pre class="uix-precode uix-precode uix-precode--nolebel"><code>&lt;div class=&quot;uix-relative&quot; style=&quot;background: #f0f0f0; height: 400px;&quot;&gt;
    &lt;div class=&quot;uix-v-align--table uix-v-align--table--t uix-t-c&quot;&gt;
        &lt;div&gt;
            &lt;h3&gt;普通内部元素（顶部）&lt;/h3&gt;
            &lt;p class=&quot;uix-striking-msg uix-striking-msg--default is-pill uix-striking-msg--inline&quot;&gt;
                &lt;i class=&quot;fa fa-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;span&gt;外容器需要有高度&lt;/span&gt;
            &lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- .uix-v-align--table  end --&gt;
&lt;/div&gt;</code>
</pre>
                    </div>
                    <div class="col-md-6 offset-md-3">
                        <div class="uix-relative" style="background: #f0f0f0; height: 400px;">
                            <div class="uix-v-align--table uix-v-align--table--t uix-t-c">
                                <div>
                                    <h3>普通内部元素（顶部）</h3>
                                    <p class="uix-striking-msg uix-striking-msg--default is-pill uix-striking-msg--inline">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i><span>外容器需要有高度</span>
                                    </p>
                                </div>
                            </div>
                            <!-- .uix-v-align--table  end -->
                        </div>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- Content
        ====================================================== -->
        <section class="uix-spacing--s uix-spacing--no-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3>使用 Bootstrap</h3>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- Content
         ====================================================== -->
        <section class="uix-spacing--s">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <pre class="uix-precode uix-precode uix-precode--nolebel"><code>&lt;div class=&quot;d-flex&quot; style=&quot;height: 300px; background: #f0f0f0;&quot;&gt;
    &lt;div class=&quot;justify-content-center align-self-center&quot;&gt;我垂直居中&lt;/div&gt;
&lt;/div&gt;</code>
</pre>
                    </div>
                    <div class="col-md-6 offset-md-3 uix-t-c">
                        <div class="d-flex" style="height: 300px; background: #f0f0f0;">
                            <div class="justify-content-center align-self-center">我垂直居中</div>
                        </div>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
    </main>
    @@include('./src/components/_global/include-copyright.html')
</div>
<!-- .uix-wrapper end -->
@@include('./src/components/_global/include-footer.html')
</body>