<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
    <meta charset="@@{website_charset}" />
    <title>遮罩层 - @@{website_title}</title>
    @@include('./src/components/_global/include-header.html')
</head>
<body class="page">
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class="uix-wrapper">
    <!-- Header Area
    ============================================= -->
    <header class="uix-header__container">
        <div class="uix-header">
            <div class="container">
                @@include('./src/components/_global/include-brand.html')
                @@include('./src/components/_global/include-menu.html')
            </div>
            <!-- .container end -->
            <div class="uix-clearfix"></div>
        </div>
    </header>
    <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
    <main id="uix-maincontent">
        <!-- Content
        ====================================================== -->
        <section class="uix-spacing--s uix-spacing--no-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3>遮罩层</h3>
                        <p>创建一个图像叠加效果。</p>
                        <hr>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- Content
         ====================================================== -->
        <section class="uix-spacing--s">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <pre class="uix-precode uix-precode uix-precode--nolebel"><code>&lt;div class=&quot;uix-relative--inline uix-relative--inline-clip&quot;&gt;
    &lt;img src=&quot;assets/images/demo/test-img-big-1.jpg&quot; alt=&quot;&quot; /&gt;
    &lt;div class=&quot;uix-overlay uix-overlay--white&quot;&gt;
        &lt;p&gt;遮罩层内容&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code>
</pre>
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <div class="uix-relative--inline uix-relative--inline-clip">
                                    <img src="assets/images/demo/test-img-big-1.jpg" alt="" />
                                    <div class="uix-overlay uix-overlay--white">
                                        <p>遮罩层内容</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .row end -->
                        <hr>
                        <pre class="uix-precode uix-precode uix-precode--nolebel"><code>&lt;div class=&quot;uix-relative--inline uix-relative--inline-clip&quot;&gt;
    &lt;img src=&quot;assets/images/demo/test-img-big-2.jpg&quot; alt=&quot;&quot; /&gt;
    &lt;div class=&quot;uix-overlay uix-overlay--black&quot;&gt;
        &lt;p&gt;遮罩层内容&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code>
</pre>
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <div class="uix-relative--inline uix-relative--inline-clip">
                                    <img src="assets/images/demo/test-img-big-2.jpg" alt="" />
                                    <div class="uix-overlay uix-overlay--black">
                                        <p>遮罩层内容</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <pre class="uix-precode uix-precode uix-precode--nolebel"><code>&lt;div class=&quot;uix-relative--inline uix-relative--inline-clip&quot;&gt;
    &lt;img src=&quot;assets/images/demo/test-img-big-3.jpg&quot; alt=&quot;&quot; /&gt;
    &lt;div class=&quot;uix-overlay uix-overlay--white uix-dir--top&quot;&gt;
        &lt;p&gt;遮罩层内容&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code>
</pre>
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <div class="uix-relative--inline uix-relative--inline-clip">
                                    <img src="assets/images/demo/test-img-big-3.jpg" alt="" />
                                    <div class="uix-overlay uix-overlay--white uix-dir--top">
                                        <p>遮罩层内容</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .row end -->
                        <hr>
                        <pre class="uix-precode uix-precode uix-precode--nolebel"><code>&lt;div class=&quot;uix-relative--inline uix-relative--inline-clip&quot;&gt;
    &lt;img src=&quot;assets/images/demo/test-img-big-4.jpg&quot; alt=&quot;&quot; /&gt;
    &lt;div class=&quot;uix-overlay uix-overlay--black uix-dir--top&quot;&gt;
        &lt;p&gt;遮罩层内容&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code>
</pre>
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <div class="uix-relative--inline uix-relative--inline-clip">
                                    <img src="assets/images/demo/test-img-big-4.jpg" alt="" />
                                    <div class="uix-overlay uix-overlay--black uix-dir--top">
                                        <p>遮罩层内容</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <pre class="uix-precode uix-precode uix-precode--nolebel"><code>&lt;div class=&quot;uix-relative--inline uix-relative--inline-clip&quot;&gt;
    &lt;img src=&quot;assets/images/demo/test-img-big-3.jpg&quot; alt=&quot;&quot; /&gt;
    &lt;div class=&quot;uix-overlay uix-overlay--black uix-overlay--cover&quot;&gt;
        &lt;div class=&quot;uix-v-align--table&quot;&gt;
            &lt;div&gt;
                &lt;p&gt;遮罩层内容&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code>
</pre>
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <div class="uix-relative--inline uix-relative--inline-clip">
                                    <img src="assets/images/demo/test-img-big-3.jpg" alt="" />
                                    <div class="uix-overlay uix-overlay--black uix-overlay--cover">
                                        <div class="uix-v-align--table">
                                            <div>
                                                <p>遮罩层内容</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .row end -->
                        <hr>
                        <pre class="uix-precode uix-precode uix-precode--nolebel"><code>&lt;div class=&quot;uix-relative--inline uix-relative--inline-clip&quot;&gt;
    &lt;img src=&quot;assets/images/demo/test-img-big-3.jpg&quot; alt=&quot;&quot; /&gt;
    &lt;div class=&quot;uix-overlay uix-overlay--black uix-overlay--cover&quot;&gt;
        &lt;p&gt;遮罩层内容&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code>
</pre>
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <div class="uix-relative--inline uix-relative--inline-clip">
                                    <img src="assets/images/demo/test-img-big-3.jpg" alt="" />
                                    <div class="uix-overlay uix-overlay--black uix-overlay--cover">
                                        <p>遮罩层内容</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
    </main>
    @@include('./src/components/_global/include-copyright.html')
</div>
<!-- .uix-wrapper end -->
@@include('./src/components/_global/include-footer.html')
</body>