/* ======================================================
   <!-- 图像动画 Image Animation -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
$img-overlay-bg: #f5f6fa;
.uix-image-anim {
    line-height: 0;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transform: rotate(.0001deg);
    background-color: #{$img-overlay-bg};
    img {
        transform: scale(1.1);
        @include transition-cubic-bezier();
    }
    /* 图像叠加 */
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: '';
        transform-origin: right top;
        background-color: #{$img-overlay-bg};
        backface-visibility: hidden;
        @include transition-cubic-bezier();
    }
    /*-- 效果 1 --*/
    &.uix-image-anim--x {
        &::after {
            transform: translateX(0);
        }
        &.is-active {
            img {
                transition-delay: 0.1s;
                transform: scale(1);
            }
            &::after {
                transform: translateX(100%);
            }
        }
    }
    /*-- 效果 2 --*/
    &.uix-image-anim--y {
        &::after {
            transform: translateY(0);
        }
        &.is-active {
            img {
                transition-delay: 0.1s;
                transform: scale(1);
            }
            &::after {
                transform: translateY(100%);
            }
        }
    }
    /*-- 效果 3 --*/
    &.uix-image-anim--z {
        &::after {
            transform: scale(1);
            transform-origin: center center;
        }
        &.is-active {
            img {
                transition-delay: 0.1s;
                transform: scale(1);
            }
            &::after {
                transform: scale(0);
            }
        }
    }
}
