/* ======================================================
   <!-- 圆形文字 Circle Text -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
.uix-circle-text {
    position: relative;
    display: inline-block;
    circle-text {
        transform: rotate(-144deg);
        letter-spacing: .1rem;
        text-transform: uppercase;
        color: $primary-text-color;
        &:defined {
            display: block;
        }
        svg {
            display: block;
            overflow: visible;
            padding: .5rem;
        }
        textPath {
            fill: currentColor;
        }
    }
}
