<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
    <meta charset="@@{website_charset}" />
    <title>圆形文字 Circle Text - @@{website_title}</title>
    @@include('./src/components/_global/include-header.html')
</head>
<body class="page">
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class="uix-wrapper">
    <!-- 页眉区 开始 -->
    <header class="uix-header__container">
        <div class="uix-header">
            <!-- 容器 开始 -->
            <div class="container">
                @@include('./src/components/_global/include-brand.html')
                @@include('./src/components/_global/include-menu.html')
            </div>
            <!-- 容器 结束 -->
            <div class="uix-clearfix"></div>
        </div>
    </header>
    <!-- 页眉区 结束 -->
    <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
    <main id="uix-maincontent">
        <!-- 内容 开始 -->
        <section class="uix-spacing--s uix-spacing--no-bottom">
            <!-- 容器 开始 -->
            <div class="container">
                <!-- 行列 开始 -->
                <div class="row">
                    <div class="col-12">
                        <h3>圆形文字</h3>
                        <hr>
                    </div>
                </div>
                <!-- 行列 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 结束 -->
        <!-- 内容 开始 -->
        <section class="uix-spacing--s">
            <!-- 容器 开始 -->
            <div class="container uix-t-c">
                <!-- 行列 开始 -->
                <div class="row">
                    <div class="col-12">
                        <pre class="uix-precode uix-t-l"><label>HTML</label><code>&lt;div class=&quot;uix-circle-text&quot;&gt;
    &lt;circle-text r=&quot;90&quot;&gt;
        &lt;svg height=&quot;180&quot; width=&quot;180&quot; viewBox=&quot;-90,-90,180,180&quot;&gt;
            &lt;defs&gt;
                &lt;path id=&quot;my-circletxt&quot; d=&quot;M-90,0 A90,90,0 1 1 90,0 A90,90,0 1 1 -90,0Z&quot;&gt;&lt;/path&gt;
                &lt;circle r=&quot;90&quot;&gt;&lt;/circle&gt;
            &lt;/defs&gt;
            &lt;text&gt;
                &lt;textPath xlink:href=&quot;#my-circletxt&quot;&gt;此处圈出文字。 在这里圈出文字。 在此处圈出文字。&lt;/textPath&gt;
            &lt;/text&gt;
        &lt;/svg&gt;
    &lt;/circle-text&gt;
&lt;/div&gt;</code></pre>
                        <div class="uix-circle-text">
                            <circle-text r="90">
                                <svg height="180" width="180" viewBox="-90,-90,180,180">
                                    <defs>
                                        <path id="my-circletxt" d="M-90,0 A90,90,0 1 1 90,0 A90,90,0 1 1 -90,0Z"></path>
                                        <circle r="90"></circle>
                                    </defs>
                                    <text>
                                        <textPath xlink:href="#my-circletxt">此处圈出文字。 在这里圈出文字。 在此处圈出文字。</textPath>
                                    </text>
                                </svg>
                            </circle-text>
                        </div>
                    </div>
                </div>
                <!-- 行列 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 结束 -->
    </main>
    @@include('./src/components/_global/include-copyright.html')
</div>
@@include('./src/components/_global/include-footer.html')

