<!DOCTYPE html>
<html lang='@@{website_lang}' dir='@@{website_dirLTR}'>
<head>
    <meta charset='@@{website_charset}' />
    <title>表格进度 - @@{website_title}</title>
    @@include('./src/components/_global/include-header.html')
</head>
<body class='page'>
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class='uix-wrapper'>
    <!-- Header Area
    ============================================= -->
    <header class='uix-header__container'>
        <div class='uix-header'>
            <div class='container'>
                @@include('./src/components/_global/include-brand.html')
                @@include('./src/components/_global/include-menu.html')
            </div>
            <!-- container end -->
            <div class='uix-clearfix'></div>
        </div>
    </header>
    <div class='uix-header__placeholder js-uix-header__placeholder-autoheight'></div>
    <main id='uix-maincontent'>
        <!-- Content
        ====================================================== -->
        <section class='uix-spacing--s uix-spacing--no-bottom'>
            <div class='container'>
                <div class='row'>
                    <div class='col-12'>
                        <h3>表格进度</h3>
                        <p>进度步骤非常适合用户需要跨多个步骤输入数据的用户体验。
                            <br>
                            <strong>注意：</strong>如果要在页面第一次运行时将指标初始化到某个位置，需要调用如下函数：
                        </p>
                        <pre class='uix-precode uix-t-l'><label>JS</label><code>$(&#x27;body&#x27;).waitForImages().done(function() {
    $(document).UixFormProgressToNext({
        &#x27;selector&#x27;: $(&#x27;.uix-form-progress__target .uix-form-progress__target__step&#x27;),
        &#x27;formTarget&#x27;: $(&#x27;.uix-form-progress__target&#x27;),
        &#x27;indicator&#x27;: &#x27;.uix-form-progress .uix-form-progress__indicator&#x27;,
        &#x27;index&#x27;: 0
    });
});</code>
</pre>
                        <hr>
                    </div>
                </div>
                <!-- row end -->
            </div>
            <!-- container end -->
        </section>
        <!-- Content
         ====================================================== -->
        <section class='uix-spacing--s'>
            <div class='container'>
                <div class='row'>
                    <div class='col-12'>
                        <div class='uix-form-progress abc'>
                            <div class='uix-form-progress__indicator'><span>步骤 1</span></div>
                            <div class='uix-form-progress__indicator'><span>步骤 2</span></div>
                            <div class='uix-form-progress__indicator'><span>步骤 3</span></div>
                            <div class='uix-form-progress__indicator'><span>步骤 4</span></div>
                            <div class='uix-form-progress__line'><span></span></div>
                        </div>
                        <!-- /.uix-form-progress -->
                        <div class='uix-form-progress__target' data-anime-speed='0.2s'>
                            <form method='post' action='#'>
                                <!-- 步骤 -->
                                <div class='uix-form-progress__target__step'>
                                    <div class='uix-form-progress__content'>
                                        <!-- ////////////  content begin  ////////////-->
                                        <h4>步骤 1</h4>
                                        <div class='uix-controls is-fullwidth'>
                                            <input type='text' class='js-uix-float-label' name='label-1'>
                                            <label>标签 1</label>
                                        </div>
                                        <div class='uix-controls is-fullwidth'>
                                            <input type='text' class='js-uix-float-label' name='label-2'>
                                            <label>标签 2</label>
                                        </div>
                                        <div class='uix-controls'>
                                            <a href='javascript:void(0);' class='uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary go-step'>下一步</a>
                                        </div>
                                        <!-- ////////////  content end  ////////////-->
                                    </div>
                                    <!-- /.uix-form-progress__content -->
                                </div>
                                <!-- 步骤 -->
                                <div class='uix-form-progress__target__step'>
                                    <div class='uix-form-progress__content'>
                                        <!-- ////////////  content begin  ////////////-->
                                        <h4>步骤 2</h4>
                                        <div class='uix-controls is-fullwidth'>
                                            <input type='text' class='js-uix-float-label' name='label-1'>
                                            <label>标签 1</label>
                                        </div>
                                        <div class='uix-controls'>
                                            <a href='javascript:void(0);' class='uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary go-step'>下一步</a>
                                        </div>
                                        <!-- ////////////  content end  ////////////-->
                                    </div>
                                    <!-- /.uix-form-progress__content -->
                                </div>
                                <!-- 步骤 -->
                                <div class='uix-form-progress__target__step'>
                                    <div class='uix-form-progress__content'>
                                        <!-- ////////////  content begin  ////////////-->
                                        <h4>步骤 3</h4>
                                        <div class='uix-controls is-fullwidth'>
                                            <input type='text' class='js-uix-float-label' name='label-1'>
                                            <label>标签 1</label>
                                        </div>
                                        <div class='uix-controls is-fullwidth'>
                                            <input type='text' class='js-uix-float-label' name='label-2'>
                                            <label>标签 2</label>
                                        </div>
                                        <p>这是演示</p>
                                        <p>这是演示</p>
                                        <div class='uix-controls'>
                                            <a href='javascript:void(0);' class='uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--primary go-step'>下一步</a>
                                        </div>
                                        <!-- ////////////  content end  ////////////-->
                                    </div>
                                    <!-- /.uix-form-progress__content -->
                                </div>
                                <!-- 步骤 -->
                                <div class='uix-form-progress__target__step'>
                                    <div class='uix-form-progress__content'>
                                        <!-- ////////////  content begin  ////////////-->
                                        <h4>步骤 4</h4>
                                        <div class='uix-controls is-fullwidth'>
                                            <input type='text' class='js-uix-float-label' name='label-1'>
                                            <label>标签 1</label>
                                        </div>
                                        <div class='uix-controls is-fullwidth'>
                                            <input type='text' class='js-uix-float-label' name='label-2'>
                                            <label>标签 2</label>
                                        </div>
                                        <div class='uix-controls'>
                                            <button type='submit' class='uix-btn uix-btn__border--thin uix-btn__margin--r uix-btn__size--s uix-btn__bg--primary'>提交</button>
                                            <a href='javascript:void(0);' class='go-reset'>返回上一步</a>
                                        </div>
                                        <!-- ////////////  content end  ////////////-->
                                    </div>
                                    <!-- /.uix-form-progress__content -->
                                </div>
                            </form>
                        </div>
                        <!-- /.uix-form-progress__target -->
                    </div>
                </div>
                <!-- row end -->
            </div>
            <!-- container end -->
        </section>
    </main>
    @@include('./src/components/_global/include-copyright.html')
</div>
<!-- uix-wrapper end -->
@@include('./src/components/_global/include-footer.html')


