/* ======================================================
    <!-- 3D Carousel -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
$carousel-3d-item-width: 400px;
$carousel-3d-item-height: 300px;
$carousel-3d-item-offset: 80px;
$carousel-3d-item-gutter: 1rem;
$carousel-3d-item-m-width: 180px;
$carousel-3d-item-m-height: 135px;
$carousel-3d-item-m-offset: 70px;
$carousel-3d-item-m-gutter: 1rem;
.uix-3d-carousel {
    position: relative;
    width: #{$carousel-3d-item-width + $carousel-3d-item-offset*2};
    height: $carousel-3d-item-height;
    margin: 0 auto;
    transform: translateX(#{$carousel-3d-item-offset});
    text-align: left;
    img {
        pointer-events: none !important; /* Fix an error fot swipe event not working on images */
    }
    ul {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        .uix-3d-carousel__item {
            position: absolute;
            display: inline-block;
            overflow: hidden;
            width: $carousel-3d-item-width;
            @include transition-default();
            height: $carousel-3d-item-height;
            &.uix-3d-carousel__item--main-pos {
                z-index: 3000;
                margin-left: $carousel-3d-item-gutter;
                transform: scale(1.2);
                filter: blur(.5px); /* Prevent image flash when transitioning with blur */
            }
            &.uix-3d-carousel__item--left-pos {
                z-index: 1000;
                margin-left: calc(-#{$carousel-3d-item-width - $carousel-3d-item-offset} + #{$carousel-3d-item-gutter * 2});
                transform: scale(1);
                opacity: .3;
                filter: blur(5px);
            }
            &.uix-3d-carousel__item--back-pos {
                margin-left: $carousel-3d-item-gutter;
                transform: scale(1);
                opacity: .05;
                filter: blur(5px);
            }
            &.uix-3d-carousel__item--right-pos {
                z-index: 1000;
                margin-left: #{$carousel-3d-item-width - $carousel-3d-item-offset};
                transform: scale(1);
                opacity: .3;
                filter: blur(5px);
            }
        }
    }
}
@media all and (max-width: 768px) {
    .uix-3d-carousel {
        width: #{$carousel-3d-item-m-width + $carousel-3d-item-m-offset*2};
        height: $carousel-3d-item-m-height;
        transform: translateX(#{$carousel-3d-item-m-offset});
        ul {
            .uix-3d-carousel__item {
                width: $carousel-3d-item-m-width;
                height: $carousel-3d-item-m-height;
                &.uix-3d-carousel__item--main-pos {
                    margin-left: $carousel-3d-item-m-gutter;
                }
                &.uix-3d-carousel__item--left-pos {
                    margin-left: calc(-#{$carousel-3d-item-m-width - $carousel-3d-item-m-offset} + #{$carousel-3d-item-m-gutter * 2});
                }
                &.uix-3d-carousel__item--back-pos {
                    margin-left: $carousel-3d-item-m-gutter;
                }
                &.uix-3d-carousel__item--right-pos {
                    margin-left: #{$carousel-3d-item-m-width - $carousel-3d-item-m-offset};
                }
            }
        }
    }
}
