/* ======================================================
        <!-- Gallery -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
.uix-gallery {
    > .uix-gallery__tiles {
        overflow: auto; /* Fix a bug for floating divs have 0 height */
        .uix-gallery__item {
            position: relative;
            margin-bottom: 0; /* Cover the bottom spacing of the grid system */
            transition: none;
            text-align: left;
            .uix-gallery__image {
                position: relative;
                display: block;
                overflow: hidden;
                width: 100%;
                border: 1px solid #e7e7e7;
                outline: 0;
                background: #dddddd;
                .uix-gallery__image-cover {
                    position: relative;
                    img {
                        width: 100%;
                    }
                    &::before {
                        @include transition-default();
                        position: absolute;
                        z-index: 2;
                        top: 0;
                        left: 0;
                        display: block;
                        width: 100%;
                        height: 100%;
                        content: '';
                        background: rgba(255, 255, 255, 0);
                    }
                }
            }
            h3 {
                font-size: 1.125rem;
                position: relative;
                padding-top: 0.546875rem;
            }
            .uix-gallery__title {
                font-size: 0.625rem;
                line-height: 1.625;
                display: inline-block;
                margin-left: 0.875rem;
                opacity: 0.7;
                &::before {
                    padding-right: 0.875rem;
                    content: '|';
                }
            }
            .uix-gallery__cat {
                font-size: 0.625rem;
                line-height: 1.625;
                position: absolute;
                right: 0;
                bottom: 0.8125rem;
                display: inline-block;
                padding: 0.0875rem 1.1375rem;
                color: #ffffff;
                border-radius: 25px;
                background: $highlight-color1;
                a {
                    color: #ffffff;
                }
                &:hover {
                    background: #c56263;
                }
            }
            &:hover {
                .uix-gallery__image-cover {
                    &::before {
                        background: rgba(255, 255, 255, 0.95);
                    }
                }
            }
        }
    }
}
/* Filter or Masonry */
/* You can directly use uix-core-grid__col-* to control the width of the item */
$gallery-masonry-item-gap: 15px;
.uix-gallery[data-show-type*="filter"],
.uix-gallery[data-show-type*="masonry"] {
    > .uix-gallery__tiles {
        position: relative; /* 必需的 */
        overflow: inherit;
        width: calc(100% + #{$gallery-masonry-item-gap});
        .uix-gallery__item {
            /* 必需的 */
            position: absolute;
            z-index: 1;
            display: block;
            > div {
                position: relative;
                width: calc(100% - #{$gallery-masonry-item-gap});
                height: 100%;
            }
            &.muuri-item-dragging {
                z-index: 3;
            }
            &.muuri-item-releasing {
                z-index: 2;
            }
            &.muuri-item-hidden {
                z-index: 0;
            }
        }
    }
}
