/* ====================================================== 
   <!-- Parallax -->                                           
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
.uix-parallax {
    position: relative;
    width: 100%;
    width: 100%;
    @include background-cover();
    height: auto;
    background-attachment: fixed;
    .uix-parallax__img {
        visibility: hidden;
    }
}
