<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
    <meta charset="@@{website_charset}" />
    <title>@@{website_title}</title>
    @@include('./src/components/_global/include-header.html')
</head>
<body class="home">
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class="uix-wrapper">
    <!-- Header Area
    ============================================= -->
    <header class="uix-header__container uix-header__container--overlay">
        <div class="uix-header">
            <div class="container">
                @@include('./src/components/_global/include-brand.html')
                @@include('./src/components/_global/include-menu.html')
            </div>
            <!-- .container end -->
            <div class="uix-clearfix"></div>
        </div>
    </header>
    <main id="uix-maincontent">
        <!-- Main
        ============================================= -->
        <section style="background-color: #ce3a3e;">
            <div class="uix-height--100 uix-typo--color-white">
                <canvas id="3D-particle-effect-canvas" data-img-src="assets/images/logo-colorful.png"></canvas>
                <div class="uix-v-align--absolute uix-v-align--absolute--b uix-t-c uix-hidden-scrollbar-x">
                    <div class="container uix-t-c">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <h3 class="uix-typo--h5 uix-typo--style-normal" data-text-eff="letters-eff-flyInOut-001" data-text-eff-speed="800">用于快速 Web 设计和开发的免费 Web 工具包，与 Bootstrap 5 兼容</h3>
                                <div class="uix-btn__group uix-btn__margin--b">
                                    <a href="https://gitee.com/huikeyun/uix-kit/releases/latest" target="_blank" class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--secondary is-pill">下载</a>
                                    <a class="uix-btn uix-btn__border--thin uix-btn__size--s uix-btn__bg--secondary is-pill" href="javascript:void(0)" data-video-win="true" data-video-poster="assets/videos/1920x1080/demo.jpg" data-video-mp4="" data-video-webm="" data-video-ogv="" data-modal-id="web-modal-2" data-modal-close-onlybtn="false">
                                        <span data-video-iframe="true">
<iframe src="//player.bilibili.com/player.html?bvid=BV1XP411N7oM&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
                                        </span>
                                        <i class="fa fa-play-circle" aria-hidden="true"></i>观看视频
                                    </a>
                                </div>
                                <br>
                                <!-- Place this tag where you want the button to render. -->
                                <iframe src="https://ghbtns.com/github-btn.html?user=xizon&repo=uix-kit&type=star&count=true" style="width:100px;height:20px;border:none;overflow:hidden"></iframe>
                                &nbsp;&nbsp;
                                <a href="https://twitter.com/uiux_lab?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="small" data-lang="en" data-show-count="true">关注 @uiux_lab</a>
                                <script async src="https://platform.twitter.com/widgets.js"></script>
                                <a href="https://gitee.com/huikeyun/uix-kit/stargazers"><img src="https://gitee.com/huikeyun/uix-kit/badge/star.svg?theme=dark" alt="star"></img></a>
                                <a href="https://gitee.com/huikeyun/uix-kit/members"><img src="https://gitee.com/huikeyun/uix-kit/badge/fork.svg?theme=dark" alt="fork"></img></a>
                                <div class="uix-spacing--s uix-spacing--no-bottom"></div>
                            </div>
                        </div>
                        <!-- .row end -->
                    </div>
                    <!-- .container end -->
                </div>
            </div>
        </section>
        <!-- Content
         ====================================================== -->
        <section class="uix-spacing--s">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1 uix-list uix-list--normal uix-table uix-table--bordered">
                        <script src="https://gitee.com/huikeyun/uix-kit/widget_preview" async defer></script>
                        <div id="osc-gitee-widget-tag"></div>
                        <style>
                            .osc_pro_color {
                                color: #393222 !important;
                            }
                            .osc_panel_color {
                                background-color: #ebdfc1 !important;
                            }
                            .osc_background_color {
                                background-color: #fffae5 !important;
                            }
                            .osc_border_color {
                                border-color: #d8ca9f !important;
                            }
                            .osc_desc_color {
                                color: #393222 !important;
                            }
                            .osc_link_color * {
                                color: #a28b40 !important;
                            }
                        </style>
                        <hr>
                        <p>
                            <strong>重写
                                <span class="uix-typo--color-highlight">120+</span> 个组件！</strong>
                        </p>
                        <p>用于快速网页设计和开发的免费网页工具包。 Uix Kit 可以单独使用，也可以使用 bootstrap 合并组件和网格系统。 支持JS、HTML和SASS组件库自动打包。 在这个脚手架中使用 Babel 自动将 ES6 JS 转换为 ES5。</p>
                        <p>
                            <a class="uix-btn uix-btn__border--thin uix-btn__margin--b uix-btn__size--t uix-btn__bg--primary is-rounded" href="https://github.com/xizon/poemkit" target="_blank">React 版本</a>
                        </p>
                        <hr>
                        <h3><span>如何使用？</span></h3>
                        <p>你电脑上需要安装<a href="https://nodejs.org/" target="_blank">Node</a>。 用于将构建的文件输出到<code>./dist/*</code> 和
                            <code>./examples/*.html</code>.</p>
                        <p>
                            <strong>步骤 1.</strong> 使用 NPM（找到您当前的项目目录，然后输入以下命令。）或从以下网址下载最新版本
                            <a href="https://gitee.com/huikeyun/uix-kit/releases/latest">Gitee</a>或<a href="https://github.com/xizon/uix-kit/releases">Github</a>。 对于 nodejs，您必须安装一些依赖项。
                        </p>
                        <pre class="uix-precode"><label>$</label><code>sudo yarn uix-kit</code></pre>
                        <p>或者克隆 repo 以获取所有源文件，包括构建脚本： </p>
                        <pre class="uix-precode"><label>$</label><code>git clone git@gitee.com:huikeyun/uix-kit.git</code></pre>
                        <pre class="uix-precode"><label>$</label><code>git clone git://github.com/xizon/uix-kit.git</code></pre>
                        <p><strong>第 2 步。</strong> 首先，使用绝对路径进入您的
                            <code>"uix-kit/"</code>文件夹目录。</p>
                        <pre class="uix-precode"><label>$</label><code>cd /{your_directory}/uix-kit</code></pre>
                        <p>
                            <strong>第 3 步。</strong> 在进行所有开发工作之前，请确保您已安装“Node 10+”。 之后，在主目录中运行以下代码来安装节点模块依赖项。
                        </p>
                        <pre class="uix-precode"><label>$</label><code>sudo yarn</code></pre>
                        <p>
                            <strong>第 4 步。</strong> 当您准备好部署到生产环境时，创建一个压缩包，其中包含：
                        </p>
                        <pre class="uix-precode"><label>$</label><code>yarn build</code></pre>
                        <p>完成后，这将启动一个可以在以下位置访问的服务器
                            <code>http://localhost:8080/examples/</code></p>
                        <p>
                            <strong>步骤 5.</strong> 要在不编译打包的情况下预览页面，请运行以下命令：
                        </p>
                        <pre class="uix-precode"><label>$</label><code>yarn preview</code></pre>
                        <p>所有页面都可以通过<code>http://localhost:3000</code></p>预览
                        <blockquote>
                            但是没有办法在页面上运行 PHP 或获取 AJAX 请求。 您需要访问服务器上的链接，或通过 MAMP 构建服务器。 然后访问一个类似的 URL：
                            <strong>http://localhost:{port}/uix-kit/examples/</strong>
                        </blockquote>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
    </main>
    @@include('./src/components/_global/include-copyright.html')
</div>
<!-- .uix-wrapper end -->
@@include('./src/components/_global/include-footer.html')
    
   