<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
    <meta charset="@@{website_charset}" />
    <title>混合网格布局 Blended Grid Layout - @@{website_title}</title>
    @@include('./src/components/_global/include-header.html')
</head>
<body class="page">
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class="uix-wrapper">
    <!-- 页眉区 -->
    <header class="uix-header__container">
        <div class="uix-header">
            <!-- 容器 开始 -->
            <div class="container">
                @@include('./src/components/_global/include-brand.html')
                @@include('./src/components/_global/include-menu.html')
            </div>
            <!-- 容器 结束 -->
            <div class="uix-clearfix"></div>
        </div>
    </header>
    <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
    <main id="uix-maincontent">
        <!-- 内容 开始 -->
        <section class="uix-spacing--s uix-spacing--no-bottom">
            <!-- 容器 开始 -->
            <div class="container">
                <!-- 行列 开始 -->
                <div class="row">
                    <div class="col-12">
                        <h3>2 行，左侧大图</h3>
                    </div>
                </div>
                <!-- 行列 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 结束 -->
        <section class="uix-spacing--s">
            <!-- 容器 开始 -->
            <div class="container">
                <pre class="uix-precode"><label>HTML</label><code>&lt;!-- uix-blended-grid 开始 --&gt;
&lt;div class=&quot;uix-blended-grid&quot;&gt;
    &lt;ul class=&quot;uix-blended-grid__col-two-left&quot;&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-1.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-1.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-1.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
&lt;!-- uix-blended-grid 结束 --&gt;</code></pre>
                <!-- uix-blended-grid 开始 -->
                <div class="uix-blended-grid">
                    <ul class="uix-blended-grid__col-two-left">
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-1.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-1.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-1.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                    </ul>
                </div>
                <!-- uix-blended-grid 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 开始 -->
        <section>
            <!-- 容器 开始 -->
            <div class="container">
                <!-- 行列 开始 -->
                <div class="row">
                    <div class="col-12">
                        <h3>2 行，右侧大图</h3>
                    </div>
                </div>
                <!-- 行列 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 结束 -->
        <section class="uix-spacing--s">
            <!-- 容器 开始 -->
            <div class="container">
                <pre class="uix-precode"><label>HTML</label><code>&lt;!-- uix-blended-grid 开始 --&gt;
&lt;div class=&quot;uix-blended-grid&quot;&gt;
    &lt;ul class=&quot;uix-blended-grid__col-two-right&quot;&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-2.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-2.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-2.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
&lt;!-- uix-blended-grid 结束 --&gt;</code></pre>
                <!-- uix-blended-grid 开始 -->
                <div class="uix-blended-grid">
                    <ul class="uix-blended-grid__col-two-right">
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-2.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-2.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-2.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                    </ul>
                </div>
                <!-- uix-blended-grid 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 开始 -->
        <section>
            <!-- 容器 开始 -->
            <div class="container">
                <!-- 行列 开始 -->
                <div class="row">
                    <div class="col-12">
                        <h3>3 行，左侧大图</h3>
                    </div>
                </div>
                <!-- 行列 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 结束 -->
        <section class="uix-spacing--s">
            <!-- 容器 开始 -->
            <div class="container">
                <pre class="uix-precode"><label>HTML</label><code>&lt;!-- uix-blended-grid 开始 --&gt;
&lt;div class=&quot;uix-blended-grid&quot;&gt;
    &lt;ul class=&quot;uix-blended-grid__col-three-left&quot;&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-3.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-3.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-3.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-3.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-3.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-3.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
&lt;!-- uix-blended-grid 结束 --&gt;</code></pre>
                <!-- uix-blended-grid 开始 -->
                <div class="uix-blended-grid">
                    <ul class="uix-blended-grid__col-three-left">
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-3.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-3.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-3.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-3.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-3.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-3.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                    </ul>
                </div>
                <!-- uix-blended-grid 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 开始 -->
        <section>
            <!-- 容器 开始 -->
            <div class="container">
                <!-- 行列 开始 -->
                <div class="row">
                    <div class="col-12">
                        <h3>3 行，右侧大图</h3>
                    </div>
                </div>
                <!-- 行列 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 结束 -->
        <section class="uix-spacing--s">
            <!-- 容器 开始 -->
            <div class="container">
                <pre class="uix-precode"><label>HTML</label><code>&lt;!-- uix-blended-grid 开始 --&gt;
&lt;div class=&quot;uix-blended-grid&quot;&gt;
    &lt;ul class=&quot;uix-blended-grid__col-three-right&quot;&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-4.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-4.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-4.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-4.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-4.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-4.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
&lt;!-- uix-blended-grid 结束 --&gt;</code></pre>
                <!-- uix-blended-grid 开始 -->
                <div class="uix-blended-grid">
                    <ul class="uix-blended-grid__col-three-right">
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-4.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-4.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-4.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-4.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-4.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-4.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                    </ul>
                </div>
                <!-- uix-blended-grid 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 开始 -->
        <section>
            <!-- 容器 开始 -->
            <div class="container">
                <!-- 行列 开始 -->
                <div class="row">
                    <div class="col-12">
                        <h3>2行3列左右大图</h3>
                    </div>
                </div>
                <!-- 行列 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 结束 -->
        <section class="uix-spacing--s">
            <!-- 容器 开始 -->
            <div class="container">
                <pre class="uix-precode"><label>HTML</label><code>&lt;!-- uix-blended-grid 开始 --&gt;
&lt;div class=&quot;uix-blended-grid&quot;&gt;
    &lt;ul class=&quot;uix-blended-grid__col-three-left-right&quot;&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-4.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-4.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-4.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-4.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
&lt;!-- uix-blended-grid 结束 --&gt;</code></pre>
                <!-- uix-blended-grid 开始 -->
                <div class="uix-blended-grid">
                    <ul class="uix-blended-grid__col-three-left-right">
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-4.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-4.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-4.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-4.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                    </ul>
                </div>
                <!-- uix-blended-grid 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 开始 -->
        <section>
            <!-- 容器 开始 -->
            <div class="container">
                <!-- 行列 开始 -->
                <div class="row">
                    <div class="col-12">
                        <h3>2行3列，左侧大图，右侧2列图</h3>
                    </div>
                </div>
                <!-- 行列 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
        <!-- 内容 结束 -->
        <section class="uix-spacing--s">
            <!-- 容器 开始 -->
            <div class="container">
                <pre class="uix-precode"><label>HTML</label><code>&lt;!-- uix-blended-grid 开始 --&gt;
&lt;div class=&quot;uix-blended-grid&quot;&gt;
    &lt;ul class=&quot;uix-blended-grid__col-three-left-right2&quot;&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-4.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-4.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-4.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-4.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;div data-bg=&#x27;{&quot;src&quot;:&quot;assets/images/demo/test-img-big-4.jpg&quot;,&quot;position&quot;:&quot;center center&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;fill&quot;:false,&quot;offsetTop&quot;:0,&quot;parallax&quot;:0}&#x27;&gt;&lt;/div&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
&lt;!-- uix-blended-grid 结束 --&gt;</code></pre>
                <!-- uix-blended-grid 开始 -->
                <div class="uix-blended-grid">
                    <ul class="uix-blended-grid__col-three-left-right2">
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-4.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-4.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-4.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-4.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                        <li>
                            <div data-bg='{"src":"assets/images/demo/test-img-big-4.jpg","position":"center center","size":"cover","repeat":"no-repeat","fill":false,"offsetTop":0,"parallax":0}'></div>
                        </li>
                    </ul>
                </div>
                <!-- uix-blended-grid 结束 -->
            </div>
            <!-- 容器 结束 -->
        </section>
    </main>
    @@include('./src/components/_global/include-copyright.html')
</div>
<!-- uix-wrapper end -->
@@include('./src/components/_global/include-footer.html')

