/* ======================================================
       <!-- Periodical Scroll -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
.uix-periodical-scroll {
    position: relative;
    ul {
        display: block;
        li {
            position: absolute; /* 必需的 */
            display: block;
            opacity: 0;
            span {
                display: block;
                @include icontxt-gradient();
                letter-spacing: 2px;
            }
        }
    }
}
