/* ======================================================
   <!-- List of Posts -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
.uix-list-topic {
    .uix-list-topic__item {
        position: relative;
        margin-bottom: 4.8125rem;
        .uix-list-topic__item__audio {
            position: relative;
            z-index: 1;
        }
        .uix-list-topic__item__img {
            a {
                position: relative;
                display: block;
                overflow: hidden;
                width: 100%;
                height: 100%;
            }
            iframe {
                max-width: 100% !important;
                max-height: 300px !important;
            }
        }
        .uix-list--normal {
            ul,
            ol {
                line-height: inherit !important;
            }
        }
        /* WordPress style */
        .gallery-caption {
            display: none;
        }
        /* WordPress style */
        &:not(.post-blockquote) blockquote {
            font-size: inherit;
            line-height: inherit;
            margin: 0.875rem 0;
            padding: 0.75rem;
            quotes: none;
            border-left-width: 3px;
            &::before {
                display: none;
            }
        }
        .uix-list-topic__item__info {
            position: relative;
            margin-top: 1.75rem;
            padding: 1rem;
            word-wrap: break-word;
            background: #ffffff;
            &::before,
            &::after {
                display: table;
                clear: both;
                content: " ";
            }
            [class*='uix-core-grid__col-'] {
                overflow: hidden;
            }
            h1, h2, h3, h4, h5, h6 {
                font-family: inherit;
                font-weight: 600;
            }
            h1 {
                font-size: 2.4609375rem;
                line-height: 1.15555556;
            }
            h2 {
                font-size: 1.75rem;
                line-height: 1.421875;
            }
            h3 {
                font-size: 1.25rem;
                line-height: 1.625;
            }
        }
        .uix-list-topic__item__addition {
            margin-top: 1rem;
        }
        p {
            font-size: 0.875rem;
            position: relative;
            z-index: 2;
            margin: 0;
            padding: 0;
        }
        a.uix-list-topic__item__more {
            font-size: 0.75rem;
            position: relative;
            z-index: 3;
            display: inline-block;
            margin-top: 3.5rem;
            margin-right: 1rem;
            padding-left: 1.5rem;
            text-transform: uppercase;
        }
        .uix-list-topic__item__more-bg {
            position: absolute;
            z-index: 1;
            right: -200px;
            bottom: 0;
            width: 130px;
            height: 25px;
            transition: .1s ease-in-out;
            transform: rotate(0) skew(-45deg);
            background: $highlight-color1;
        }
        &:hover {
            a.uix-list-topic__item__more {
                color: #ffffff;
            }
            .uix-list-topic__item__more-bg {
                right: -30px;
            }
            .uix-list-topic__item__info {
                background: #f3f3f3;
            }
        }
        &.uix-list-topic__item--style-2 {
            .uix-list-topic__item__addition p,
            .uix-tags-box {
                padding-left: 1rem;
            }
            .uix-list-topic__item__addition a {
                /* Used when "uix-list uix-list--normal uix-table uix-table--bordered" style are used */
                color: $primary-link-color !important;
                &:hover {
                    /* Used when "uix-list uix-list--normal uix-table uix-table--bordered" style are used */
                    text-decoration: none;
                    color: #000000 !important;
                }
            }
        }
    }
}
@media all and (max-width: 768px) {
    .uix-list-topic {
        .uix-list-topic__item {
            margin-bottom: 3rem;
            .uix-list-topic__item__info {
                margin-top: 0;
            }
            a.uix-list-topic__item__more {
                margin-top: auto;
            }
        }
    }
}
