/* ======================================================
    <!-- Modal Dialog -->
/* ====================================================== */
@import '@uixkit/core/_global/scss/_variable-and-mixin.scss';
$modal-box-radius: 8px;
.uix-modal-mask {
    position: fixed;
    z-index: 99997;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
}
.uix-modal-box {
    position: fixed;
    z-index: 99998;
    top: calc(-100vh - 71px); /* For compatibility with mobile devices, do not use percentages "%" */
    left: 50%;
    width: 850px;
    height: 60vh;
    transition: all .5s ease-out;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: $modal-box-radius;
    background: #ffffff;
    box-shadow: 0px 0px 71px 0px rgba(0, 0, 0, 0.47);
    &:not(.is-fullscreen) {
        max-width: calc(100vw - 100px);
        max-height: calc(100vh - 100px);
    }
    /* Video container */
    .uix-modal-box__video-container {
        > div.video-js {
            margin: 0 auto;
            transform: translateY(15px);
        }
    }
    .uix-modal-box__video-waiting {
        position: fixed;
        z-index: 99998;
        top: 50%;
        left: 50%;
        display: none;
        margin-left: -1rem;
        &::after {
            font-family: 'Font Awesome 5 Free';
            font-size: 2rem;
            font-weight: 600;
            display: inline-block;
            content: "\f110";
            animation: fa-spin 2s infinite linear;
            color: #ffffff;
            text-shadow: 0 0 1px rgba(0, 0, 0, .1);
        }
        &.is-active {
            display: block;
        }
    }
    .uix-modal-box__content {
        height: 100%;
        word-wrap: break-word;
        > [class*="uix-modal-box__video-"], /* video content */
        > .uix-modal-box__body /* normal content */
        {
            position: relative;
            height: 100%;
            padding: 1.5rem 1.625rem 1.5rem 1.5rem;
        }
        /* content header */
        > .uix-modal-box__head {
            position: relative;
            padding: 0 55px 0 1.5rem;
        }
        /* content body */
        > .uix-modal-box__body {
            > [role="note"] {
                overflow: hidden;
                height: 100%;
            }
        }
        img {
            @include transition-default();
            opacity: 0;
        }
    }
    .uix-modal-box__close {
        line-height: 34px;
        position: absolute;
        z-index: 1;
        top: 12px;
        right: 12px;
        display: inline-block;
        overflow: hidden;
        width: 36px;
        height: 36px;
        cursor: pointer;
        text-align: center;
        pointer-events: auto;
        border: none;
        border-radius: 50%;
        outline: none;
        background: rgba(204, 23, 30, 1);
        box-shadow: 2.5px 4.33px 16px 0px rgba(204, 23, 30, 0.31);
        &::after {
            font-family: 'Font Awesome 5 Free';
            font-size: 16px;
            font-weight: 600;
            margin: 0;
            content: "\f00d";
            color: #ffffff;
        }
        &:hover {
            background: #b50d14;
        }
        &:focus {
            outline: 3px auto -webkit-focus-ring-color;
        }
    }
    &.is-video {
        opacity: 0;
        background: none;
        box-shadow: none;
        .uix-modal-box__close::after {
            font-size: 2rem !important;
        }
    }
    &.is-active,
    &.is-fullscreen.is-active {
        pointer-events: auto;
    }
    &.is-active {
        top: 50vh; /* For compatibility with mobile devices, do not use percentages "%" */
    }
    &.is-fullscreen.is-active {
        top: 0;
    }
    /* Video */
    &.is-fullscreen.is-video.is-active {
        pointer-events: none;
        opacity: 1;
        .uix-modal-box__video-container {
            video,
            > div.video-js,
            iframe {
                pointer-events: auto;
            }
        }
    }
    &.is-active .uix-modal-box__content img,
    &.is-fullscreen.is-active .uix-modal-box__content img {
        opacity: 1;
    }
    &.is-active .uix-modal-box__content {
        > .uix-modal-box__body {
            > [role="note"] {
                overflow-y: auto;
            }
        }
    }
    &.is-fullscreen {
        left: 0;
        width: 100% !important;
        height: 100% !important;
        transform: translateY(0);
        border-radius: 0;
        .uix-modal-box__close {
            &::after {
                font-size: 1rem;
            }
        }
        &.is-video .uix-modal-box__close {
            background: none;
            box-shadow: none;
        }
    }
}
@include customScrollbar('vertical', '.uix-modal-box__content > .uix-modal-box__body > [role="note"]');
@media all and (max-width: 991px) {
    .uix-modal-box:not(.is-fullscreen) {
        width: 850px !important;
    }
}
@media all and (max-width: 768px) {
    .uix-modal-box:not(.is-fullscreen) {
        width: 90% !important;
        height: 60vh !important;
    }
}
