<!DOCTYPE html>
<html lang="@@{website_lang}" dir="@@{website_dirLTR}">
<head>
        <meta charset="@@{website_charset}" />
        <title>页脚模板 Footer Templates - @@{website_title}</title>
        @@include('./src/components/_global/include-header.html')
</head>
<body class="page">
@@include('./src/components/_global/include-loader.html')
@@include('./src/components/_global/include-toggle-trigger.html')
<div class="uix-wrapper">
        <!-- 页眉区 -->
        <header class="uix-header__container">
                <div class="uix-header">
                        <!-- 容器 开始 -->
                        <div class="container">
                                @@include('./src/components/_global/include-brand.html')
                                @@include('./src/components/_global/include-menu.html')
                        </div>
                        <!-- 容器 结束 -->
                        <div class="uix-clearfix"></div>
                </div>
        </header>
        <div class="uix-header__placeholder js-uix-header__placeholder-autoheight"></div>
        <main id="uix-maincontent">
                <!-- 内容 开始 -->
                <section class="uix-spacing--s uix-spacing--no-bottom">
                        <!-- 容器 开始 -->
                        <div class="container">
                                <!-- 行列 开始 -->
                                <div class="row">
                                        <div class="col-12">
                                                <h3>页脚模板</h3>
                                                <p>适用于您网站的简单页脚响应式小部件模板</p>
                                                <hr>
                                        </div>
                                </div>
                                <!-- 行列 结束 -->
                        </div>
                        <!-- 容器 结束 -->
                </section>
        </main>
        <pre class="uix-precode uix-t-l"><label>HTML</label><code>&lt;footer class=&quot;uix-special-footer__container&quot;&gt;
        &lt;div class=&quot;uix-special-footer&quot;&gt;
                &lt;!-- 容器 开始 --&gt;
                &lt;div class=&quot;container&quot;&gt;
                        &lt;!-- 行列 开始 --&gt;
                        &lt;div class=&quot;row&quot;&gt;
                                &lt;div class=&quot;col-lg-3 col-md-3&quot;&gt;
                                        &lt;img class=&quot;logo&quot; src=&quot;assets/images/logo.png&quot; alt=&quot;&quot;&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;col-lg-6 col-md-6&quot;&gt;
                                        &lt;!-- uix-special-footer__menus 开始 --&gt;
                                        &lt;div class=&quot;uix-special-footer__menus uix-special-footer__menus--mobile-wrap&quot;&gt;
                                                &lt;div class=&quot;uix-special-footer__menus__list&quot;&gt;
                                                        &lt;h3&gt;关于&lt;/h3&gt;
                                                        &lt;ul&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;关于我们&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;工作机会&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;点击&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;政策&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;帮助&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;多样性与归属感&lt;/a&gt;&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;uix-special-footer__menus__list&quot;&gt;
                                                        &lt;h3&gt;发现&lt;/h3&gt;
                                                        &lt;ul&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;信任与安全&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;旅行积分&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;礼品卡&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;爱彼迎市民&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;商务旅行&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;指南&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;爱彼迎&lt;/a&gt;&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;uix-special-footer__menus__list&quot;&gt;
                                                        &lt;h3&gt;作品&lt;/h3&gt;
                                                        &lt;ul&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;为什么主持&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;热情好客&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;负责任的托管&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;社区中心&lt;/a&gt;&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;!-- uix-special-footer__menus 结束 --&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;col-lg-3 col-md-3 uix-t-r&quot;&gt;
                                        &lt;div class=&quot;uix-tooltip&quot;&gt;
                                                        &lt;span data-microtip-position=&quot;top&quot; data-microtip-size=&quot;medium&quot; role=&quot;tooltip&quot;&gt;
                                                                &lt;a class=&quot;uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white&quot; href=&quot;javascript:&quot;&gt;&lt;i class=&quot;fa fa-qrcode&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                                                        &lt;/span&gt;
                                                &lt;div class=&quot;uix-t-c&quot;&gt;
                                                        &lt;img src=&quot;assets/images/demo/qr-code.png&quot; alt=&quot;&quot; width=&quot;150&quot; height=&quot;150&quot; /&gt;
                                                &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;a class=&quot;uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white&quot; title=&quot;Follow us on Twitter&quot; href=&quot;https://twitter.com/uiux_lab&quot; target=&quot;_blank&quot;&gt;&lt;i class=&quot;fa fa-twitter&quot;&gt;&lt;/i&gt; &lt;/a&gt;
                                        &lt;a class=&quot;uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white&quot; title=&quot;Follow us on Facebook&quot; href=&quot;https://www.facebook.com/uiuxlabhome&quot; target=&quot;_blank&quot;&gt;&lt;i class=&quot;fa fa-facebook&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                                        &lt;a class=&quot;uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white&quot; title=&quot;Fork on Github&quot; href=&quot;https://github.com/xizon/uix-kit&quot; target=&quot;_blank&quot;&gt;&lt;i class=&quot;fa fa-github&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                                &lt;/div&gt;
                        &lt;/div&gt;
                &lt;/div&gt;
                &lt;!-- 容器 结束 --&gt;
        &lt;/div&gt;
&lt;/footer&gt;</code></pre>
        <!-- 页脚演示 开始 -->
        <footer class="uix-special-footer__container">
                <div class="uix-special-footer">
                        <!-- 容器 开始 -->
                        <div class="container">
                                <!-- 行列 开始 -->
                                <div class="row">
                                        <div class="col-lg-3 col-md-3">
                                                <img class="logo" src="assets/images/logo.png" alt="">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                                <!-- uix-special-footer__menus 开始 -->
                                                <div class="uix-special-footer__menus uix-special-footer__menus--mobile-wrap">
                                                        <div class="uix-special-footer__menus__list">
                                                                <h3>关于</h3>
                                                                <ul>
                                                                        <li><a href="#">关于我们</a></li>
                                                                        <li><a href="#">工作机会</a></li>
                                                                        <li><a href="#">点击</a></li>
                                                                        <li><a href="#">政策</a></li>
                                                                        <li><a href="#">帮助</a></li>
                                                                        <li><a href="#">多样性与归属感</a></li>
                                                                </ul>
                                                        </div>
                                                        <div class="uix-special-footer__menus__list">
                                                                <h3>发现</h3>
                                                                <ul>
                                                                        <li><a href="#">信任与安全</a></li>
                                                                        <li><a href="#">旅行积分</a></li>
                                                                        <li><a href="#">礼品卡</a></li>
                                                                        <li><a href="#">爱彼迎市民</a></li>
                                                                        <li><a href="#">商务旅行</a></li>
                                                                        <li><a href="#">指南</a></li>
                                                                        <li><a href="#">爱彼迎</a></li>
                                                                </ul>
                                                        </div>
                                                        <div class="uix-special-footer__menus__list">
                                                                <h3>作品</h3>
                                                                <ul>
                                                                        <li><a href="#">为什么主持</a></li>
                                                                        <li><a href="#">热情好客</a></li>
                                                                        <li><a href="#">负责任的托管</a></li>
                                                                        <li><a href="#">社区中心</a></li>
                                                                </ul>
                                                        </div>
                                                </div>
                                                <!-- uix-special-footer__menus 结束 -->
                                        </div>
                                        <div class="col-lg-3 col-md-3 uix-t-r">
                                                <div class="uix-tooltip">
                                                        <span data-microtip-position="top" data-microtip-size="medium" role="tooltip">
                                                                <a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" href="javascript:"><i class="fa fa-qrcode"></i></a>
                                                        </span>
                                                        <div class="uix-t-c">
                                                                <img src="assets/images/demo/qr-code.png" alt="" width="150" height="150" />
                                                        </div>
                                                </div>
                                                <a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" title="Follow us on Twitter" href="https://twitter.com/uiux_lab" target="_blank"><i class="fa fa-twitter"></i> </a>
                                                <a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" title="Follow us on Facebook" href="https://www.facebook.com/uiuxlabhome" target="_blank"><i class="fa fa-facebook"></i></a>
                                                <a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" title="Fork on Github" href="https://github.com/xizon/uix-kit" target="_blank"><i class="fa fa-github"></i></a>
                                        </div>
                                </div>
                        </div>
                        <!-- 容器 结束 -->
                </div>
        </footer>
        <!-- 页脚演示 结束 -->
        <hr>
        <pre class="uix-precode uix-t-l"><label>HTML</label><code>&lt;footer class=&quot;uix-special-footer__container is-transparent&quot;&gt;
        &lt;div class=&quot;uix-special-footer&quot;&gt;
                &lt;!-- 容器 开始 --&gt;
                &lt;div class=&quot;container&quot;&gt;
                        &lt;!-- 行列 开始 --&gt;
                        &lt;div class=&quot;row&quot;&gt;
                                &lt;div class=&quot;col-lg-3 col-md-3&quot;&gt;
                                        &lt;img class=&quot;logo&quot; src=&quot;assets/images/logo-colorful.png&quot; alt=&quot;&quot;&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;col-lg-6 col-md-6&quot;&gt;
                                        &lt;!-- uix-special-footer__menus 开始  --&gt;
                                        &lt;div class=&quot;uix-special-footer__menus uix-special-footer__menus--mobile-nowrap&quot;&gt;
                                                &lt;div class=&quot;uix-special-footer__menus__list&quot;&gt;
                                                        &lt;h3&gt;关于&lt;/h3&gt;
                                                        &lt;ul&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;关于我们&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;工作机会&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;点击&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;政策&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;帮助&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;多样性与归属感&lt;/a&gt;&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;uix-special-footer__menus__list&quot;&gt;
                                                        &lt;h3&gt;发现&lt;/h3&gt;
                                                        &lt;ul&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;信任与安全&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;旅行积分&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;礼品卡&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;爱彼迎市民&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;商务旅行&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;指南&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;爱彼迎&lt;/a&gt;&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;uix-special-footer__menus__list&quot;&gt;
                                                        &lt;h3&gt;作品&lt;/h3&gt;
                                                        &lt;ul&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;为什么主持&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;热情好客&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;负责任的托管&lt;/a&gt;&lt;/li&gt;
                                                                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;社区中心&lt;/a&gt;&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;!-- uix-special-footer__menus 结束  --&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;col-lg-3 col-md-3 uix-t-r&quot;&gt;
                                        &lt;div class=&quot;uix-tooltip&quot;&gt;
                                                &lt;span data-microtip-position=&quot;top&quot; data-microtip-size=&quot;medium&quot; role=&quot;tooltip&quot;&gt;
                                                        &lt;a class=&quot;uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white&quot; href=&quot;javascript:&quot;&gt;&lt;i class=&quot;fa fa-qrcode&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                                                &lt;/span&gt;
                                                &lt;div class=&quot;uix-t-c&quot;&gt;
                                                        &lt;img src=&quot;assets/images/demo/qr-code.png&quot; alt=&quot;&quot; width=&quot;150&quot; height=&quot;150&quot; /&gt;
                                                &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;a class=&quot;uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white&quot; title=&quot;Follow us on Twitter&quot; href=&quot;https://twitter.com/uiux_lab&quot; target=&quot;_blank&quot;&gt;&lt;i class=&quot;fa fa-twitter&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                                        &lt;a class=&quot;uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white&quot; title=&quot;Follow us on Facebook&quot; href=&quot;https://www.facebook.com/uiuxlabhome&quot; target=&quot;_blank&quot;&gt;&lt;i class=&quot;fa fa-facebook&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                                        &lt;a class=&quot;uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white&quot; title=&quot;Fork on Github&quot; href=&quot;https://github.com/xizon/uix-kit&quot; target=&quot;_blank&quot;&gt;&lt;i class=&quot;fa fa-github&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                                &lt;/div&gt;
                        &lt;/div&gt;
                &lt;/div&gt;
                &lt;!-- 容器 结束 --&gt;
        &lt;/div&gt;
&lt;/footer&gt;</code></pre>
        <!-- 页脚演示 开始 -->
        <footer class="uix-special-footer__container is-transparent">
                <div class="uix-special-footer">
                        <!-- 容器 开始 -->
                        <div class="container">
                                <!-- 行列 开始 -->
                                <div class="row">
                                        <div class="col-lg-3 col-md-3">
                                                <img class="logo" src="assets/images/logo-colorful.png" alt="">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                                <!-- uix-special-footer__menus 开始  -->
                                                <div class="uix-special-footer__menus uix-special-footer__menus--mobile-nowrap">
                                                        <div class="uix-special-footer__menus__list">
                                                                <h3>关于</h3>
                                                                <ul>
                                                                        <li><a href="#">关于我们</a></li>
                                                                        <li><a href="#">工作机会</a></li>
                                                                        <li><a href="#">点击</a></li>
                                                                        <li><a href="#">政策</a></li>
                                                                        <li><a href="#">帮助</a></li>
                                                                        <li><a href="#">多样性与归属感</a></li>
                                                                </ul>
                                                        </div>
                                                        <div class="uix-special-footer__menus__list">
                                                                <h3>发现</h3>
                                                                <ul>
                                                                        <li><a href="#">信任与安全</a></li>
                                                                        <li><a href="#">旅行积分</a></li>
                                                                        <li><a href="#">礼品卡</a></li>
                                                                        <li><a href="#">爱彼迎市民</a></li>
                                                                        <li><a href="#">商务旅行</a></li>
                                                                        <li><a href="#">指南</a></li>
                                                                        <li><a href="#">爱彼迎</a></li>
                                                                </ul>
                                                        </div>
                                                        <div class="uix-special-footer__menus__list">
                                                                <h3>作品</h3>
                                                                <ul>
                                                                        <li><a href="#">为什么主持</a></li>
                                                                        <li><a href="#">热情好客</a></li>
                                                                        <li><a href="#">负责任的托管</a></li>
                                                                        <li><a href="#">社区中心</a></li>
                                                                </ul>
                                                        </div>
                                                </div>
                                                <!-- uix-special-footer__menus 结束  -->
                                        </div>
                                        <div class="col-lg-3 col-md-3 uix-t-r">
                                                <div class="uix-tooltip">
                                                <span data-microtip-position="top" data-microtip-size="medium" role="tooltip">
                                                        <a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" href="javascript:"><i class="fa fa-qrcode"></i></a>
                                                </span>
                                                        <div class="uix-t-c">
                                                                <img src="assets/images/demo/qr-code.png" alt="" width="150" height="150" />
                                                        </div>
                                                </div>
                                                <a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" title="Follow us on Twitter" href="https://twitter.com/uiux_lab" target="_blank"><i class="fa fa-twitter"></i></a>
                                                <a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" title="Follow us on Facebook" href="https://www.facebook.com/uiuxlabhome" target="_blank"><i class="fa fa-facebook"></i></a>
                                                <a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" title="Fork on Github" href="https://github.com/xizon/uix-kit" target="_blank"><i class="fa fa-github"></i></a>
                                        </div>
                                </div>
                        </div>
                        <!-- 容器 结束 -->
                </div>
        </footer>
        <!-- 页脚演示 结束 -->
        <hr>
        <pre class="uix-precode uix-t-l"><label>HTML</label><code>&lt;footer class=&quot;uix-special-footer__container&quot;&gt;
        &lt;div class=&quot;uix-special-footer&quot;&gt;
                &lt;!-- 容器 开始 --&gt;
                &lt;div class=&quot;container&quot;&gt;
                        &lt;!-- 行列 开始 --&gt;
                        &lt;div class=&quot;row&quot;&gt;
                                &lt;div class=&quot;col-12&quot;&gt;
                                        &lt;h4 class=&quot;uix-typo--color-sub&quot;&gt;公司名称&lt;/h4&gt;
                                        &lt;div class=&quot;uix-controls uix-controls__select uix-controls__select--top is-transparent&quot;&gt;
                                                &lt;label&gt; &lt;select name=&quot;selectname&quot; placeholder=&quot;Select&quot;&gt;
                                                        &lt;option value=&quot;&quot;&gt;文本&lt;/option&gt;
                                                        &lt;option value=&quot;#&quot;&gt;文本&lt;/option&gt;
                                                &lt;/select&gt; &lt;/label&gt;
                                        &lt;/div&gt;
                                        &lt;hr class=&quot;black&quot;&gt;
                                        &lt;nav class=&quot;uix-f-l&quot;&gt;
                                                &lt;ul&gt;
                                                        &lt;li&gt;
                                                                &lt;a href=&quot;https://uiux.cc&quot;&gt;UIUX 实验室&lt;/a&gt;
                                                        &lt;/li&gt;
                                                        &lt;li&gt;
                                                                &lt;a href=&quot;https://opensource.org/licenses/MIT&quot;&gt;许可证&lt;/a&gt;
                                                        &lt;/li&gt;
                                                        &lt;li&gt;
                                                                &lt;a href=&quot;https://github.com/xizon/uix-kit&quot;&gt;下载&lt;/a&gt;
                                                        &lt;/li&gt;
                                                &lt;/ul&gt;
                                                &lt;p class=&quot;uix-typo--color-sub&quot;&gt;版权所有 &amp;copy; Uix 套件 2018&lt;/p&gt;
                                        &lt;/nav&gt;
                                        &lt;div class=&quot;uix-f-r&quot;&gt;
                                                &lt;div class=&quot;uix-tooltip&quot;&gt;
                &lt;span data-microtip-position=&quot;top&quot; data-microtip-size=&quot;medium&quot; role=&quot;tooltip&quot;&gt;
                        &lt;a class=&quot;uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white&quot; href=&quot;javascript:&quot;&gt;
                                &lt;i class=&quot;fa fa-qrcode&quot;&gt;&lt;/i&gt;
                        &lt;/a&gt;
                &lt;/span&gt;
                                                        &lt;div class=&quot;uix-t-c&quot;&gt;
                                                                &lt;img src=&quot;assets/images/demo/qr-code.png&quot; alt=&quot;&quot; width=&quot;150&quot; height=&quot;150&quot; /&gt;
                                                        &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;a class=&quot;uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white&quot; title=&quot;Follow us on Twitter&quot; href=&quot;https://twitter.com/uiux_lab&quot; target=&quot;_blank&quot;&gt;
                                                        &lt;i class=&quot;fa fa-twitter&quot;&gt;&lt;/i&gt;
                                                &lt;/a&gt;
                                                &lt;a class=&quot;uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white&quot; title=&quot;Follow us on Facebook&quot; href=&quot;https://www.facebook.com/uiuxlabhome&quot; target=&quot;_blank&quot;&gt;
                                                        &lt;i class=&quot;fa fa-facebook&quot;&gt;&lt;/i&gt;
                                                &lt;/a&gt;
                                                &lt;a class=&quot;uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white&quot; title=&quot;Fork on Github&quot; href=&quot;https://github.com/xizon/uix-kit&quot; target=&quot;_blank&quot;&gt;
                                                        &lt;i class=&quot;fa fa-github&quot;&gt;&lt;/i&gt;
                                                &lt;/a&gt;
                                                &lt;p class=&quot;uix-typo--color-sub&quot;&gt;版权所有。 由 UIUX 实验室创建&lt;/p&gt;
                                        &lt;/div&gt;
                                &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;!-- 行列 结束 --&gt;
                &lt;/div&gt;&lt;!-- container  end --&gt;
        &lt;/div&gt;
&lt;/footer&gt;</code></pre>
        <!-- 页脚演示 开始 -->
        <footer class="uix-special-footer__container">
                <div class="uix-special-footer">
                        <!-- 容器 开始 -->
                        <div class="container">
                                <!-- 行列 开始 -->
                                <div class="row">
                                        <div class="col-12">
                                                <h4 class="uix-typo--color-sub">公司名称</h4>
                                                <div class="uix-controls uix-controls__select uix-controls__select--top is-transparent">
                                                        <label> <select name="selectname" placeholder="Select">
                                                                <option value="">文本</option>
                                                                <option value="#">文本</option>
                                                        </select> </label>
                                                </div>
                                                <hr class="black">
                                                <nav class="uix-f-l">
                                                        <ul>
                                                                <li>
                                                                        <a href="https://uiux.cc">UIUX 实验室</a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://opensource.org/licenses/MIT">许可证</a>
                                                                </li>
                                                                <li>
                                                                        <a href="https://github.com/xizon/uix-kit">下载</a>
                                                                </li>
                                                        </ul>
                                                        <p class="uix-typo--color-sub">版权所有 &copy; Uix 套件 2018</p>
                                                </nav>
                                                <div class="uix-f-r">
                                                        <div class="uix-tooltip">
                <span data-microtip-position="top" data-microtip-size="medium" role="tooltip">
                        <a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" href="javascript:">
                                <i class="fa fa-qrcode"></i>
                        </a>
                </span>
                                                                <div class="uix-t-c">
                                                                        <img src="assets/images/demo/qr-code.png" alt="" width="150" height="150" />
                                                                </div>
                                                        </div>
                                                        <a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" title="Follow us on Twitter" href="https://twitter.com/uiux_lab" target="_blank">
                                                                <i class="fa fa-twitter"></i>
                                                        </a>
                                                        <a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" title="Follow us on Facebook" href="https://www.facebook.com/uiuxlabhome" target="_blank">
                                                                <i class="fa fa-facebook"></i>
                                                        </a>
                                                        <a class="uix-social-btn uix-social-btn--small uix-social-btn--circle uix-social-btn--thin is-fill-white" title="Fork on Github" href="https://github.com/xizon/uix-kit" target="_blank">
                                                                <i class="fa fa-github"></i>
                                                        </a>
                                                        <p class="uix-typo--color-sub">版权所有。 由 UIUX 实验室创建</p>
                                                </div>
                                        </div>
                                </div>
                                <!-- 行列 结束 -->
                        </div><!-- container  end -->
                </div>
        </footer>
        <!-- 页脚演示 结束 -->
        <hr>
        <pre class="uix-precode uix-t-l"><label>HTML</label><code>&lt;footer class=&quot;uix-special-footer__container&quot;&gt;
        &lt;div class=&quot;uix-special-footer&quot;&gt;
                &lt;!-- 容器 开始 --&gt;
                &lt;div class=&quot;container&quot;&gt;
                        &lt;!-- 行列 开始 --&gt;
                        &lt;div class=&quot;row&quot;&gt;
                                &lt;div class=&quot;col-lg-8 col-md-8&quot;&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                                &lt;div class=&quot;col-lg-4 col-md-4&quot;&gt;
                                                        &lt;div class=&quot;uix-clearfix&quot;&gt;
                                                                &lt;p&gt;&lt;img src=&quot;assets/images/logo.png&quot; alt=&quot;&quot;&gt;&lt;/p&gt;
                                                                &lt;p&gt;免费响应式 HTML5
                                                                        &lt;strong&gt;用户界面工具包&lt;/strong&gt;
                                                                        &lt;strong&gt;快速&lt;/strong&gt; 基于 Bootstrap 的网页设计
                                                                &lt;/p&gt;
                                                                &lt;p&gt;
                                                                &lt;address&gt;我的位置，旧金山，CA 123456&lt;/address&gt;
                                                                &lt;abbr title=&quot;电话号码&quot;&gt;&lt;strong&gt;电话：&lt;/strong&gt;&lt;/abbr&gt; (91) 1234 567890&lt;br&gt;
                                                                &lt;abbr title=&quot;传真&quot;&gt;&lt;strong&gt;传真：&lt;/strong&gt;&lt;/abbr&gt; (91) 11 1234 567890&lt;br&gt;
                                                                &lt;abbr title=&quot;电子邮件地址&quot;&gt;&lt;strong&gt;电子邮件：&lt;/strong&gt;&lt;/abbr&gt; your@gmail.com&lt;/p&gt;
                                                        &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;col-lg-4 col-md-4&quot;&gt;
                                                        &lt;div class=&quot;uix-clearfix&quot;&gt;
                                                                &lt;h3&gt;博客&lt;/h3&gt;
                                                                &lt;ul&gt;
                                                                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;文档&lt;/a&gt;&lt;/li&gt;
                                                                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;反馈&lt;/a&gt;&lt;/li&gt;
                                                                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;插件&lt;/a&gt;&lt;/li&gt;
                                                                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;支持论坛&lt;/a&gt;&lt;/li&gt;
                                                                &lt;/ul&gt;
                                                        &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;col-lg-4 col-md-4&quot;&gt;
                                                        &lt;div class=&quot;uix-clearfix&quot;&gt;
                                                                &lt;h3&gt;最近的帖子&lt;/h3&gt;
                                                                &lt;h5 class=&quot;uix-spacing--no&quot;&gt;
                                                                        &lt;a href=&quot;#&quot;&gt;Lorem ipsum dolor sit amet, consectetur&lt;/a&gt;
                                                                &lt;/h5&gt;
                                                                &lt;p class=&quot;uix-typo--style-italic uix-typo--style-tiny&quot;&gt;2018 年 4 月 10 日&lt;/p&gt;
                                                                &lt;h5 class=&quot;uix-spacing--no&quot;&gt;
                                                                        &lt;a href=&quot;#&quot;&gt;Lorem ipsum dolor sit amet, consectetur&lt;/a&gt;
                                                                &lt;/h5&gt;
                                                                &lt;p class=&quot;uix-typo--style-italic uix-typo--style-tiny&quot;&gt;2017 年 4 月 6 日&lt;/p&gt;
                                                                &lt;h5 class=&quot;uix-spacing--no&quot;&gt;
                                                                        &lt;a href=&quot;#&quot;&gt;Lorem ipsum dolor sit amet, consectetur&lt;/a&gt;
                                                                &lt;/h5&gt;
                                                                &lt;p class=&quot;uix-typo--style-italic uix-typo--style-tiny&quot;&gt;2017 年 4 月 10 日&lt;/p&gt;
                                                        &lt;/div&gt;
                                                &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;!-- 行列 结束 --&gt;
                                &lt;/div&gt;
                                &lt;!-- col-lg-8.col-md-8  --&gt;
                                &lt;div class=&quot;col-lg-4 col-md-4&quot;&gt;
                                        &lt;div class=&quot;uix-clearfix&quot;&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                        &lt;div class=&quot;col-lg-6 col-md-6&quot;&gt;
                                                                &lt;h2 class=&quot;uix-typo--color-sub uix-spacing--no&quot; data-counter-number=&quot;65223&quot; data-counter-double-digits=&quot;true&quot; data-counter-duration=&quot;200&quot;&gt;00&lt;/h2&gt;
                                                                &lt;p&gt;总下载量&lt;/p&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class=&quot;col-lg-6 col-md-6&quot;&gt;
                                                                &lt;h2 class=&quot;uix-typo--color-sub uix-spacing--no&quot; data-counter-number=&quot;13&quot; data-counter-double-digits=&quot;true&quot; data-counter-duration=&quot;200&quot;&gt;00&lt;/h2&gt;
                                                                &lt;p&gt;客户&lt;/p&gt;
                                                        &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;!-- 行列 结束 --&gt;
                                        &lt;/div&gt;
                                        &lt;div class=&quot;uix-clearfix&quot;&gt;
                                                &lt;p&gt;&lt;strong&gt;订阅&lt;/strong&gt;我们的时事通讯以获取重要新闻和惊人的优惠：
                                                &lt;/p&gt;
                                                &lt;div class=&quot;uix-controls__merge is-pill is-iconic&quot;&gt;
                                                        &lt;i class=&quot;fa fa-envelope&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
                                                        &lt;input id=&quot;subscribe-input3&quot; placeholder=&quot;输入你的电子邮箱&quot; name=&quot;subscribe-input&quot; type=&quot;email&quot; required /&gt;
                                                        &lt;button type=&quot;button&quot; class=&quot;uix-btn uix-btn__bg--primary uix-none-shadow&quot;&gt;
                                                                &lt;span&gt;订阅&lt;/span&gt;&lt;/button&gt;
                                                &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;div class=&quot;uix-clearfix&quot;&gt;
                                                &lt;a href=&quot;https://facebook.com&quot; class=&quot;uix-social-btn uix-social-btn--small uix-social-bg uix-social-bg--facebook fillet&quot;&gt;&lt;i class=&quot;fa fa-facebook&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                                                &lt;a href=&quot;https://twitter.com&quot; class=&quot;uix-social-btn uix-social-btn--small uix-social-bg uix-social-bg--twitter fillet&quot;&gt;&lt;i class=&quot;fa fa-twitter&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                                                &lt;a href=&quot;https://google.com&quot; class=&quot;uix-social-btn uix-social-btn--small uix-social-bg uix-social-bg--google fillet&quot;&gt;&lt;i class=&quot;fa fa-google-plus&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                                                &lt;a href=&quot;https://dribbble.com&quot; class=&quot;uix-social-btn uix-social-btn--small uix-social-bg uix-social-bg--dribbble fillet&quot;&gt;&lt;i class=&quot;fa fa-dribbble&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                                        &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;!-- col-lg-4.col-md-4  --&gt;
                        &lt;/div&gt;
                        &lt;!-- 行列 结束 --&gt;
                &lt;/div&gt;
                &lt;!-- 容器 结束 --&gt;
                &lt;!-- 容器 开始 --&gt;
                &lt;div class=&quot;container&quot;&gt;
                        &lt;hr class=&quot;black&quot;&gt;
                        &lt;div class=&quot;row&quot;&gt;
                                &lt;div class=&quot;col-lg-6 col-md-6&quot;&gt;版权所有 2018 版权所有。 由 UI UX 实验室创建&lt;/div&gt;
                                &lt;div class=&quot;col-lg-6 col-md-6 uix-t-r&quot;&gt;&lt;/div&gt;
                        &lt;/div&gt;
                        &lt;!-- 行列 结束 --&gt;
                &lt;/div&gt;
                &lt;!-- 容器 结束 --&gt;
        &lt;/div&gt;
&lt;/footer&gt;</code></pre>
        <!-- 页脚演示 开始 -->
        <footer class="uix-special-footer__container">
                <div class="uix-special-footer">
                        <!-- 容器 开始 -->
                        <div class="container">
                                <!-- 行列 开始 -->
                                <div class="row">
                                        <div class="col-lg-8 col-md-8">
                                                <div class="row">
                                                        <div class="col-lg-4 col-md-4">
                                                                <div class="uix-clearfix">
                                                                        <p><img src="assets/images/logo.png" alt=""></p>
                                                                        <p>免费响应式 HTML5
                                                                                <strong>用户界面工具包</strong>
                                                                                <strong>快速</strong> 基于 Bootstrap 的网页设计
                                                                        </p>
                                                                        <p>
                                                                        <address>我的位置，旧金山，CA 123456</address>
                                                                        <abbr title="电话号码"><strong>电话：</strong></abbr> (91) 1234 567890<br>
                                                                        <abbr title="传真"><strong>传真：</strong></abbr> (91) 11 1234 567890<br>
                                                                        <abbr title="电子邮件地址"><strong>电子邮件：</strong></abbr> your@gmail.com</p>
                                                                </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4">
                                                                <div class="uix-clearfix">
                                                                        <h3>博客</h3>
                                                                        <ul>
                                                                                <li><a href="#">文档</a></li>
                                                                                <li><a href="#">反馈</a></li>
                                                                                <li><a href="#">插件</a></li>
                                                                                <li><a href="#">支持论坛</a></li>
                                                                        </ul>
                                                                </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4">
                                                                <div class="uix-clearfix">
                                                                        <h3>最近的帖子</h3>
                                                                        <h5 class="uix-spacing--no">
                                                                                <a href="#">Lorem ipsum dolor sit amet, consectetur</a>
                                                                        </h5>
                                                                        <p class="uix-typo--style-italic uix-typo--style-tiny">2018 年 4 月 10 日</p>
                                                                        <h5 class="uix-spacing--no">
                                                                                <a href="#">Lorem ipsum dolor sit amet, consectetur</a>
                                                                        </h5>
                                                                        <p class="uix-typo--style-italic uix-typo--style-tiny">2017 年 4 月 6 日</p>
                                                                        <h5 class="uix-spacing--no">
                                                                                <a href="#">Lorem ipsum dolor sit amet, consectetur</a>
                                                                        </h5>
                                                                        <p class="uix-typo--style-italic uix-typo--style-tiny">2017 年 4 月 10 日</p>
                                                                </div>
                                                        </div>
                                                </div>
                                                <!-- 行列 结束 -->
                                        </div>
                                        <!-- col-lg-8.col-md-8  -->
                                        <div class="col-lg-4 col-md-4">
                                                <div class="uix-clearfix">
                                                        <div class="row">
                                                                <div class="col-lg-6 col-md-6">
                                                                        <h2 class="uix-typo--color-sub uix-spacing--no" data-counter-number="65223" data-counter-double-digits="true" data-counter-duration="200">00</h2>
                                                                        <p>总下载量</p>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6">
                                                                        <h2 class="uix-typo--color-sub uix-spacing--no" data-counter-number="13" data-counter-double-digits="true" data-counter-duration="200">00</h2>
                                                                        <p>客户</p>
                                                                </div>
                                                        </div>
                                                        <!-- 行列 结束 -->
                                                </div>
                                                <div class="uix-clearfix">
                                                        <p><strong>订阅</strong>我们的时事通讯以获取重要新闻和惊人的优惠：
                                                        </p>
                                                        <div class="uix-controls__merge is-pill is-iconic">
                                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                                                <input id="subscribe-input3" placeholder="输入你的电子邮箱" name="subscribe-input" type="email" required />
                                                                <button type="button" class="uix-btn uix-btn__bg--primary uix-none-shadow">
                                                                        <span>订阅</span></button>
                                                        </div>
                                                </div>
                                                <div class="uix-clearfix">
                                                        <a href="https://facebook.com" class="uix-social-btn uix-social-btn--small uix-social-bg uix-social-bg--facebook fillet"><i class="fa fa-facebook"></i></a>
                                                        <a href="https://twitter.com" class="uix-social-btn uix-social-btn--small uix-social-bg uix-social-bg--twitter fillet"><i class="fa fa-twitter"></i></a>
                                                        <a href="https://google.com" class="uix-social-btn uix-social-btn--small uix-social-bg uix-social-bg--google fillet"><i class="fa fa-google-plus"></i></a>
                                                        <a href="https://dribbble.com" class="uix-social-btn uix-social-btn--small uix-social-bg uix-social-bg--dribbble fillet"><i class="fa fa-dribbble"></i></a>
                                                </div>
                                        </div>
                                        <!-- col-lg-4.col-md-4  -->
                                </div>
                                <!-- 行列 结束 -->
                        </div>
                        <!-- 容器 结束 -->
                        <!-- 容器 开始 -->
                        <div class="container">
                                <hr class="black">
                                <div class="row">
                                        <div class="col-lg-6 col-md-6">版权所有 2018 版权所有。 由 UI UX 实验室创建</div>
                                        <div class="col-lg-6 col-md-6 uix-t-r"></div>
                                </div>
                                <!-- 行列 结束 -->
                        </div>
                        <!-- 容器 结束 -->
                </div>
        </footer>
        <!-- 页脚演示 结束 -->
        @@include('./src/components/_global/include-copyright.html')
</div>
@@include('./src/components/_global/include-footer.html')

